[2015-12-16 16:32] #1441 closed

[2015-12-16 16:34] nbrady-techempower commented on #1797
Added to #1803. Please refer there for language/framework additions/updates.

[2015-12-16 16:34] #1797 closed

[2015-12-16 16:38] nbrady-techempower commented on #1621
Added to #1803. Please refer there for language/framework additions/updates.

[2015-12-16 16:38] #1621 closed

[2015-12-16 16:40] nbrady-techempower commented on #1790
Added to #1803. Please refer there for language/framework additions/updates.

[2015-12-16 16:40] #1790 closed

[2015-12-16 17:52] nbrady-techempower commented on #1803
@harikt :+1:
https://github.com/TechEmpower/FrameworkBenchmarks/wiki/Suggested-Frameworks,-Languages-and-Features

[2015-12-16 17:52] #1803 closed

[2015-12-17 03:31] harikt commented on #1803
Thank you.

[2015-12-17 08:14] mfirry commented on #1803
Should I just edit the list?

[2015-12-17 08:21] rkuhn opened #1806 "cannot provision vagrant box (prerequisites.sh not found & git debs not found)"
[code]

[2015-12-17 15:10] msmith-techempower commented on #1806
@nbrady-techempower Assigning this to you.

I think the problem is [here](https://github.com/TechEmpower/FrameworkBenchmarks/blob/master/deployment/vagrant-common/bootstrap.sh#L100); that line should probably be updated to:
`source ~/FrameworkBenchmarks/toolset/setup/linux/prerequisites.sh`

[2015-12-17 15:48] nbrady-techempower commented on #1806
Got it, merging after CI runs. #1807

[2015-12-17 15:48] #1806 closed

[2015-12-17 15:49] msmith-techempower commented on #1806
Travis-CI cannot help test this, so I have canceled the build and merged in myself. ^_^

[2015-12-17 15:49] msmith-techempower commented on #1784
I believe this was resolved in #1786

[2015-12-17 15:49] #1784 closed

[2015-12-17 15:51] msmith-techempower commented on #1750
@bhauer I am inclined to close this and allow this type of implementation for now; thoughts?

[2015-12-17 19:05] nbrady-techempower commented on #1806
I believe this may be a security issue just found with ubuntu and git and files being moved around. http://www.ubuntu.com/usn/ I will keep an eye on this though.

[2015-12-17 20:08] nbrady-techempower commented on #1806
@rkuhn this should be solved now per #1808 - let me know if you encounter any other problems

[2015-12-17 21:45] ashotmuradian opened #1809 "Enable gcServer for asp.net and .net"
There is a need to enable gcServer garbage collection mode for asp.net and .net projects in general. It is significant configuration parameter for .net benchmarking and it need to be enabled manually by defining it in app.config configuration file in sources. The only case gcServer garbage collection mode is enabled by default is when it is hosted in IIS.

[2015-12-18 09:50] rkuhn commented on #1806
Thanks for the quick fix, it works now!

[2015-12-29 22:55] nbrady-techempower commented on #1588
vagrant for windows is working now, without a symbolic link

[2015-12-29 22:55] #1588 closed

[2015-12-30 20:48] nbrady-techempower opened #1838 "Travis configuration and broken frameworks"
Currently, when editing a configuration or toolset file, travis will run through every framework and run a complete test. Broken frameworks eat up a ton of time and cause travis to fail. I suggest commenting out the frameworks in travis.yml that we know aren't working, so that if a complete test needs to be run it will save time and not cause contributers to panic, thinking they may have broken so

[2015-12-31 01:58] nbrady-techempower commented on #1838
Note: Of course, it's preferable to fix either the framework if it's broken, the travis-ci configuration for that framework if it needs it, or remove the framework if it's no longer being supported in lieu of just commenting out frameworks and forgetting about them. The intention here is not to sweep things under the rug, but at the same time I think it's counter-intuitive (OHH That's what the ci

[2015-12-31 02:18] nbrady-techempower commented on #1661
I think this can be closed, at least for now, seeing as all "current" travis db issues have been resolved. Should open separate issues/pr's as travis updates and changes environments on us.

[2015-12-31 02:18] #1661 closed

[2015-12-31 02:40] nbrady-techempower commented on #1750
I've solved this issue in part of my PR #1835
The object is now being instantiated at the time of the json request, within the callback function.

[2015-12-31 02:40] #1750 closed

[2015-12-31 02:44] nbrady-techempower commented on #1712
@msmith-techempower Do you know off-hand of the others that are doing this? I can start fixing those.

[2015-12-31 06:11] blee-techempower commented on #1838
It will save tons of time, so I will disable all the broken frameworks from now.

[2016-01-04 16:33] msmith-techempower commented on #1838
I like this suggestion, but I would also like those comments in `.travis.yml` to have a link to an open issue describing the problem. Example:

[code]

[2016-01-04 16:39] msmith-techempower commented on #1838
One thing to note is that we (mostly @hamiltont) have spent a lot of time getting our travis scripts to run as quickly as possible by attempting to detect what has changed from the master branch to the pull request, and only test those frameworks that have changed.

Example: if a pull request only modified a single file in `frameworks/Java/gemini`, then every framework test in Travis immediately f

[2016-01-04 16:46] msmith-techempower commented on #1712
@nbrady-techempower I am not sure. I have actually addressed this directly in MySQL, but not the other dbs by making the fortunes table readonly for the user `benchmarkdbuser`

I suppose we could consider this closed if we can verify that `klein` and `wheezyweb` (and any others I call out in open issues) are no longer attempting to write to the table.

[2016-01-04 21:09] bhauer commented on #1220
I've changed this to a Round 12 milestone.

[2016-01-05 22:01] #58 closed

[2016-01-05 22:01] nbrady-techempower commented on #58
Added to wiki

[2016-01-06 16:44] DevotionGeo opened #1858 "Add KORE.io to the benchmarks."
KORE.io is pretty mature and established web framework for C.

[2016-01-06 16:47] nbrady-techempower commented on #1858
Added to https://github.com/TechEmpower/FrameworkBenchmarks/wiki/Suggested-Frameworks,-Languages-and-Features

Feel free to edit this if you want to suggest other frameworks.

[2016-01-06 16:47] #1858 closed

[2016-01-06 19:07] blee-techempower opened #1859 "Travis CI is inconsistent."
Base on what I experienced last couple weeks, I found some problems of travis-ci.
Travis-ci test takes long time to finish, but sometimes it gives incorrect result. Travis-ci test result looks inconsistent sometimes.

Please consider these cases.

## Case 1 : “Travis-ci returns incorrect result sometimes ; result is not consistent.”

First of all there is no major changes between these two snapsho

[2016-01-06 19:12] msmith-techempower commented on #1859
I believe you are seeing another reason why we want to get away from `apt-get`.

When I check `vibed` from your tests, I see the one that failed did so because of:
[code]

Unfortunately, I don't think there is much we can do about this.

The second case is on my radar and I have some ideas for how to resolve it, but for now we just have to deal with it.

[2016-01-06 19:35] blee-techempower commented on #1859
@msmith-techempower
In that case, the vibed, it seems apt-get causes trouble.
What about this case? please look at go/fasthttp
https://travis-ci.org/TechEmpower/FrameworkBenchmarks/builds/100259881

[2016-01-06 20:55] msmith-techempower commented on #1859
This happens occasionally, but we really don't know what the issue is here. Our script claims there are no tests to run, and it fails instead of returning successfully. It's a false-positive, but probably not worth much time investigating as long as it happens rarely.

[2016-01-08 08:52] martin-g commented on #1403
Are Wicket tests running fine now in Travis?
They were failing for round 11 but this ticket has been closed 24 days ago, which I think is after publishing of the results of round 11.

[2016-01-08 15:04] msmith-techempower commented on #1403
[Here](https://travis-ci.org/TechEmpower/FrameworkBenchmarks/jobs/100877306) is a very recent `wicket` run on Travis-CI that appears to be passing.

[2016-01-10 15:03] martin-g commented on #1403
Awesome!
Thank you!

[2016-01-11 09:03] dashorst commented on #1403
:+1:

[2016-01-12 15:18] kostya-sh opened #1880 "An idea how to make the build faster"
Currently packages like mysql, redis, postgresql are installed and set up even before a travis job checks if any tests need to run. As result an empty build that skips all tests takes 1-2 minutes, while it should only take 10-15 seconds (time for git clone and git log).

BTW not using 3-rd party libraries (colorama, progressbar and requests) in the script that decides if a job needs to run will sa

[2016-01-12 15:21] msmith-techempower commented on #1880
We are definitely aware of this (and other) potential speed-up.

We essentially relied on travis to provide many of the software you mentioned back when we couldn't use `sudo`. Now that we can, we have been working on improving things, but it has been an admittedly slow journey.

[2016-01-14 18:25] k-r-g opened #1889 "Luminus performance drop between Rounds 10 and 11?"
In Round 10, Luminus had similar performance numbers to Compojure, as expected since they are both Clojure frameworks. However, in Round 11 it seems like Luminus performance decreased significantly in comparison.

* JSON R10: 91,373; R11: 28,701
* Single query R10: 41,898; R11: 7,288
* Multiple queries R10: 1,187; R11: 483
* Fortunes R10: 23,313; R11: 8,813
* Plaintext R10: 91,584; R11: 29,645

I'

[2016-01-14 20:29] yogthos commented on #1889
Yeah, I think the benchmark is quite a bit out of date now. Luminus has gone through a few revisions since and it would make sense to bring it up to the latest version. I'll take a look at doing a PR for that.

[2016-01-14 20:51] k-r-g commented on #1889
Excellent!

[2016-01-15 00:15] yogthos commented on #1889
just made a PR that should update to the latest version https://github.com/TechEmpower/FrameworkBenchmarks/pull/1890

[2016-01-19 17:29] k-r-g commented on #1889
Woo! Thanks @yogthos for updating things. I'm looking forward to seeing the performance in the next round.

[2016-01-19 17:29] #1889 closed

[2016-01-19 19:33] yogthos commented on #1889
yeah, hopefully it should run better now :)

[2016-01-19 21:29] mwpastore opened #1893 "Clarify requirements for expected Content-Type of fortunes responses"
Hi,

When I set a Content-Type of `text/html` on my response for the `fortunes` test, I receive the following warning:

[code]

When I set a Content-Type of `text/html;charset=utf-8`, I receive the following warning:

[code]

The guide says to set the charset, but maybe the test is wrong?

Thank you.

[2016-01-19 21:59] yogthos opened #1894 "aleph, compojure, and http-kit benchmarks are incorrect"
These benchmarks appear to have been created from the same template and use `def` to define queries, e.g:

[code]

This runs the code at compile time and binds the resulting value to the variable. This code isn't testing the performance at runtime.

[2016-01-19 23:49] k-r-g commented on #1894
Ouch, good catch. I'll create a PR to fix these.

[2016-01-25 16:49] ssmith-techempower commented on #1893
This looks to be a problem with our toolset: we're expecting a space after the semi-colon. I'll try to get a fix pushed soon. To clarify, the charset should be included for `text/html`. Sorry for the confusion!

[2016-01-25 21:07] mwpastore commented on #1893
Thank you!

[2016-01-27 15:14] msmith-techempower opened #1902 "MochiWeb Seems to crash"
[code]

[2016-01-29 17:43] msmith-techempower opened #1905 "Hostnames instead of env vars"
One of the issues facing contributors and we maintainers alike is that it is **hard** to debug issues with passing the `$DBHOST` variable (and others) around correctly. Most tests require the use of `sed` for updating config/source files to have the correct IP address, and very often issues arise by contributors naively using "127.0.0.1" in their code. This works on Travis-CI, we see the green che

[2016-01-29 17:46] #1521 closed

[2016-01-29 17:46] msmith-techempower commented on #1492
WT just takes 60 minutes to install and build.

[2016-01-29 17:46] #1492 closed

[2016-01-29 17:47] msmith-techempower commented on #1432
I'm going to ping @bhauer on this since I don't really know enough to comment.

[2016-01-29 17:47] msmith-techempower commented on #1387
Kicking this on down the road.

[2016-01-29 17:48] #1371 closed

[2016-01-29 17:49] msmith-techempower commented on #1342
No clue about this; kicking down the road.

[2016-01-29 17:50] msmith-techempower commented on #1338
I THINK this is pretty much resolved now.

[2016-01-29 17:50] #1338 closed

[2016-01-29 17:51] #1291 closed

[2016-01-29 17:52] msmith-techempower commented on #1268
All the mono tests are still pretty fubar... kicking this down the road.

[2016-01-29 17:52] #1241 closed

[2016-01-29 17:53] msmith-techempower commented on #1241
I believe this has been resolved.

[2016-01-29 17:53] msmith-techempower commented on #1229
We have updated to wrk4 which should resolve a lot of the issues with latency numbers.

[2016-01-29 17:53] #1229 closed

[2016-01-29 17:54] msmith-techempower commented on #1227
Removing the milestone on this one as it is a more general discussion of methodologies.

[2016-01-29 17:55] msmith-techempower commented on #1203
I think this is as close as it is going to get. Currently, we allow the setup scripts to return when they are "ready", but we still have to do warmup time.

[2016-01-29 17:55] #1203 closed

[2016-01-29 17:56] msmith-techempower commented on #1165
I believe this is resolved.

[2016-01-29 17:56] #1165 closed

[2016-01-29 17:57] msmith-techempower commented on #1152
Kicking down the road.

[2016-01-29 17:57] msmith-techempower commented on #1105
Just removing the milestone.

[2016-01-29 17:57] msmith-techempower commented on #1102
I believe this is resolved.

[2016-01-29 17:57] #1102 closed

[2016-01-29 17:58] msmith-techempower commented on #1099
Kicking this down the road.

[2016-01-29 17:59] msmith-techempower commented on #1096
Kicking down the road.

[2016-01-29 18:00] msmith-techempower commented on #1094
I actually prefer the current flags.

[2016-01-29 18:00] #1094 closed

[2016-01-29 18:00] msmith-techempower commented on #1081
Kicking down the road.

[2016-01-29 18:02] msmith-techempower commented on #1052
Still not sure where we stand on this one - kicking down the road.

[2016-01-29 18:03] msmith-techempower commented on #1017
No longer relevant.

[2016-01-29 18:03] #1017 closed

[2016-01-29 18:04] msmith-techempower commented on #959
Mmmm, we should consider the values in `benchmark.cfg` to be the authority. Eventually, `benchmark_profile` should be deprecated, but it's happening organically one PR at a time.

[2016-01-29 18:04] #959 closed

[2016-01-29 18:04] msmith-techempower commented on #955
Removing milestone as this is a generic improvement.

[2016-01-29 18:05] msmith-techempower commented on #859
This is relating to the website specifically, which now has filters that allow this.

[2016-01-29 18:05] #859 closed

[2016-01-29 18:06] msmith-techempower commented on #841
I think this is still outstanding; kicking down the road.

[2016-01-29 18:06] msmith-techempower commented on #825
Kicking down the road.

[2016-01-29 18:07] msmith-techempower commented on #819
We are still seeing these odd results and the code doesn't suggest any nefarious actions. I am going to remove the milestone, but this should remain under investigation.

[2016-01-29 18:09] msmith-techempower commented on #659
play-activate seems to have been removed entirely.

[2016-01-29 18:09] #659 closed

[2016-01-29 18:10] msmith-techempower commented on #584
@bhauer Kicking this into the Round 12 work; any ideas here?

[2016-01-29 18:10] msmith-techempower commented on #374
Kicking this WAY down the road since this will not be happening in round 12.

[2016-01-29 18:11] #332 closed

[2016-01-29 18:11] msmith-techempower commented on #309
Ugh, sounds bad; kicking it down the road.

[2016-01-29 18:12] msmith-techempower commented on #261
Kicking this one down the road.

[2016-01-29 18:12] msmith-techempower commented on #260
Kicking this one down the road.

[2016-01-29 18:13] msmith-techempower commented on #1559
Kicking down the road; probably related to our mono issues.

[2016-01-29 18:13] msmith-techempower commented on #149
Kicking this way down the road.

[2016-01-29 18:13] msmith-techempower commented on #102
Kicking this way down the road.

[2016-01-29 18:14] msmith-techempower commented on #94
Kicking way down the road.

[2016-01-29 18:39] bhauer commented on #1432
For the json, database query, updates, and fortunes tests, we run at concurrency levels ranging from 8 to 256.  For the plaintext test, the concurrency levels go as high as 16,384.

For threaded servers, the load generator's concurrency level is very closely tied to the maximum number of server worker threads you should expect to see utilized if you were to visualize a snapshot at any moment in ti

[2016-01-29 18:39] #1432 closed

[2016-01-30 00:16] michaelhixson commented on #819
@msmith-techempower Do you know if anyone tried the two tests I suggested in the OP?

[2016-01-30 02:35] methane opened #1908 "python: ideas for round 13"
I don't have time before round 12, so these ideas will be implemented before round 13.
cc: @GMLudo
- [ ] PyPy should use uWSGI instead of gunicorn:
  I use Python/C API based fast HTTP workers (meinheld) on gunicorn.
  But Python/C API is slow on PyPy.  So I use pure Python worker (tornado) + gunicorn.
  Now PyPy provides shared library and uWSGI support CFFI based approach.
  So we should switch

[2016-02-01 15:22] msmith-techempower commented on #819
@michaelhixson No, I do not believe anyone has attempted these tests yet.

[2016-02-03 09:05] GMLudo commented on #1241
To my knowledge, yes.

[2016-02-04 18:24] #1893 closed

[2016-02-04 20:35] msmith-techempower opened #1910 "Add .gitignore where appropriate"
After running a full benchmark (preview or real), there are a number of files added to the folder making `git status` report many uselessly changed/added files. These should be captured in folder-specific `.gitignore` files:

[code]

[2016-02-18 09:47] andregmoeller opened #1930 "Upgrade to MongoDB 3.2"
The Framework benchmark project is currently using MongoDB 2.6.X, which is relatively
"old" and doesn't include the WiredTiger storage engine. Starting in 3.2, MongoDB uses the WiredTiger storage engine as the default storage engine (see [WiredTiger as Default](https://docs.mongodb.org/manual/release-notes/3.2/#wiredtiger-as-default)). Therefore I expect that most new MongoDB-projects will use the

[2016-02-18 23:38] Mogztter opened #1932 "Every "Java" frameworks should use the same version of the MySQL connector"
To be fair I think every Java/Scala frameworks should use the same version of the MySQL connector.
Latest version is 5.1.38, but some frameworks still use 5.1.16 version.

[2016-02-20 10:42] zloster opened #1934 "Problem with '--clean' option of toolset/run-tests.py"
This functionality is quite new (https://github.com/TechEmpower/FrameworkBenchmarks/commit/34b79546ea7405a9876332894e5b1269ec246b15#diff-f92ef1689e8d44a3ba6ded6ba5ee3853).
The problem is that looking at the description I expect it just to clear the `results directory`. But when I call it like this './toolset/run-tests.py --clean' it starts to execute tests.
I'm using the `vagrant-development` virt

[2016-02-20 22:35] DevotionGeo opened #1936 "When will the next round (round-12) release ?"

[2016-02-21 06:07] warmchang commented on #1936
From past experience, I think will not be completed until the middle of 2016.

[2016-02-21 08:30] zloster commented on #1936
TFB team usually announces when they will do the next round in the Google group.
This is [the thread](https://groups.google.com/forum/?fromgroups=#!topic/framework-benchmarks/Hq4qxj0TL9o) for the next round. According to the text there tomorrow 22nd February we should see the _first preview_ results.

[2016-02-22 13:02] warmchang commented on #1936
@zloster , so fast, aha.

[2016-02-24 20:00] zloster commented on #1936
@warmchang There is some news about this with _important information_. Check the Google group.

[2016-02-25 08:43] zloster commented on #1152
There is new [pull request](https://github.com/TechEmpower/FrameworkBenchmarks/pull/1941) which removes old Finagle sources and adds only "Plaintext" and "JSON serialization" tests - so this will solve the remarks for the commented code described in my comment [above](https://github.com/TechEmpower/FrameworkBenchmarks/issues/1152#issuecomment-62548232).

[2016-02-25 19:34] bhauer commented on #1936
Echoing something I just [posted on the Google Group](https://groups.google.com/d/msg/framework-benchmarks/Hq4qxj0TL9o/oOE_eCYbCAAJ), we have data for Round 12 that we're working to post soon.

Our physical hardware environment will be permanently shut down imminently and are rushing to conclude Round 12 as soon as possible.  For Rounds 13 and beyond, we will need to set up a new hardware environm

[2016-02-25 19:34] #1936 closed

[2016-02-25 22:24] martin-g commented on #1403
Not sure what is wrong with the whole infrastructure but again there are no results for most of the tests for Wicket in round 12 :-/
https://www.techempower.com/benchmarks/#section=data-r12

[2016-02-25 22:33] bhauer commented on #1403
Let's reopen this one.

[2016-02-26 19:28] zloster commented on #1768
Better late than never:

- For the physical hardware you can check the `dstat` command outputs for the given benchmark. For example `dropwizard` round 11 test run data is [here](https://github.com/TechEmpower/TFB-Round-11/blob/master/peak/linux/2015-09-11-final/20150911140159/json/dropwizard/stats#L6). Note the columns labeled `cpu0 usage`, `cpu1 usage`...`cpu39 usage`. The number of reported core

[2016-02-28 16:13] rektide commented on #1697
3.2 featured in latest, yay.

[2016-02-28 16:13] #1697 closed

[2016-02-28 16:14] rektide commented on #1773
Per #1885 i feel this may be closed: Vert.x 3.1 had been included, now 3.2.

[2016-03-01 17:39] kostya-sh opened #1947 ""SET synchronous_commit TO OFF" should not be allowed (fasthttp-postgresql)"
fasthttp-postgresql came first in Data Updates benchmark in Round 12. When browsing its code I found the following snippet:

		// Disable synchronous commit for the current db connection
		// as a performance optimization.
		// See http://www.postgresql.org/docs/current/static/runtime-config-wal.html
		// for details.
		if _, err := conn.Exec("SET synchronous_commit TO OFF"); err != nil {
			log.F

[2016-03-01 20:50] zloster commented on #1947
About transactions and data loss: the rules for [`Database updates` test](http://frameworkbenchmarks.readthedocs.org/en/latest/Project-Information/Framework-Tests/#database-updates) doesn't _mandate_ the use of `transactions`. Check **Rule 10**.
IMO this "tweak" for the transactions doesn't break the rules in general - it gives `fasthttp-postgresql` advantage over the other frameworks that are usi

[2016-03-02 07:43] methane commented on #1947
Since EBS performance is unstable, I'm +1 to not wait fsync.
This is a "Framework" benchmark, not "Disk" benchmark or "Database" benchmark.

But optimize like this should be done in global config.
Otherwise, you can't compare performance of frameworks using PostgreSQL.

[2016-03-02 07:50] kostya-sh commented on #1947
Production-grade systems are more likely to be configured to flush on commit so I think numbers with fsync are more interesting. However it is not that important as long as all frameworks use the same configuration.

[2016-03-02 19:24] cmsimike opened #1949 "Vagrant box does not mount the host FrameworkBenchmark directory"
I was under the assumption that I can just fire vagrant up and have it test my host's current working directory of FrameworkBenchmark. Turns out that is not the case and in order for me to test out any changes I make, I have to commit and push (possible incorrect code) to a repo, then pull in the VM.

It was said that this is the case because Vagant does not work in Windows, which is fine, but why

[2016-03-02 23:27] valyala commented on #1947
+1 for enabling async commit in global postgresql.conf . Otherwise `update` test measures `fsync` performance on db server instead of web framework performance

[2016-03-02 23:36] valyala opened #1951 "Publish TFB-Round-12 data"
It would be great to have TFB-Round-12 repository with raw data and logs for the Round 12. This repository should look like [TFB-Round-11](https://github.com/TechEmpower/TFB-Round-11). I need this data for investigating the root cause of failing `fasthttp-mysql-prefork` and `fasthttp-postgresql-prefork` benchmarks.

[2016-03-03 10:31] zloster commented on #1947
@valyala That's right. The same goes for `MySQL`:

My understanding is that they will **not** damage the data as a whole: there is _possibility_ to loose some _very recent_ changes to the data in case of a crash. And that is the reason why I stated this:

I agree with the point you and @methane made about the EBS performance and async-commit and the _framework_ focus of the test.

The common groun

[2016-03-03 12:06] methane commented on #1947
Even if flushed data, there is possibility to loose all data in case of a disk crash.
RAID have possibility to loose data by firmware bug.
Sync replication (including semi-sync replication in MySQL) is better for production.

But I don't think this project should teach "How to save your data from crash" to people.

I don't think so. Framework performance and DB tx/sec performance is not related.
T

[2016-03-07 20:37] nbrady-techempower commented on #1951
@valyala They are up and ready for you to view https://github.com/TechEmpower/TFB-Round-12

[2016-03-07 20:37] #1951 closed

[2016-03-08 09:02] martin-g commented on #1403
The logs don't say much:
https://github.com/TechEmpower/TFB-Round-12/blob/4fa436eac69341b31dcf56de73bfea904eb93f0f/peak/linux/2016-02-22-final/latest/logs/wicket/out.txt
https://github.com/TechEmpower/TFB-Round-12/blob/4fa436eac69341b31dcf56de73bfea904eb93f0f/peak/linux/2016-02-22-final/latest/logs/wicket/err.txt

[2016-03-08 14:48] nbrady-techempower commented on #1934
Thanks for bringing this to our attention. The functionality was working for me in my test environment, but I will spin it a new box and try it again.

[2016-03-08 19:10] #1152 closed

[2016-03-09 17:31] valyala commented on #1951
Thanks!

[2016-03-09 17:35] nbrady-techempower commented on #1951
They're going to end up having a permanent location here because of the file size restrictions on github and not really needing version control for them. http://tfb-logs.techempower.com/

[2016-03-09 17:46] valyala commented on #1951
Nice! So fasthttp in 'prefork' mode failed due to the following error - see [the corresponding log file](http://tfb-logs.techempower.com/round-12/peak/linux/2016-02-22-final/latest/logs/fasthttp-postgresql-prefork/out.txt):

This looks strange, since SO_REUSEPORT has been added to [linux kernel 3.9](https://lwn.net/Articles/542629/), while the OS is running on 3.14 according to [logs](http://tfb-l

[2016-03-09 19:24] nbrady-techempower commented on #1951
Interesting, I would open that as another issue though the next round of testing will not be using those environments.

[2016-03-12 02:26] nbrady-techempower commented on #1934
Also i think I misunderstood what you were saying before, but the whole point of running the 'run-tests' script is to actually run or verify tests. The option is provided for the purpose of removing the results directory before tests are run.

`./toolset/run-tests.py --mode verify --test gemini --clean`

if all you want to do is remove the results directory, just `rm -rf results`

[2016-03-12 02:26] #1934 closed

[2016-03-13 08:06] zloster commented on #1934
Thank you very much for you time and the provided clarification.

[2016-03-14 16:30] #1932 closed

[2016-03-15 07:31] RenaudParis commented on #1803
Hi,

Could you please add PHP 7 whenever you get the chance? For now it is still a bit recent, but it will become relevant very soon.

Thank you,

[2016-03-15 14:24] msmith-techempower commented on #1803
PHP 7 was included in Round 12 results.

[2016-03-15 15:53] RenaudParis commented on #1803
I'm sorry, if I asked it is because I saw "php5-raw", so I guessed it was PHP 5. Is "php5-raw" actually PHP 7?

[2016-03-15 15:55] msmith-techempower commented on #1803
`PHP` is php7, `PHP5` is php5

[2016-03-15 15:58] RenaudParis commented on #1803
Ooooh, okay, I did not see this distinction! Forgive my mistake!
But how come PHP 7 is slower than PHP 5, whereas it is commonly accepted that it is significantly (up to twice) faster? It baffles me...
Thanks anyway for precising it for me!

[2016-03-15 15:58] methane commented on #1803
https://github.com/TechEmpower/FrameworkBenchmarks/blob/master/frameworks/PHP/php/benchmark_config.json#L68

Both of php-raw and php5-raw were php7.
php5-raw should use `setup_php5` instead of `setup`.

[2016-03-15 16:00] msmith-techempower commented on #1803
Good catch.

@nbrady-techempower Can you get a PR for this?

[2016-03-15 16:02] RenaudParis commented on #1803
Ok that's why they are almost at the same performance then! Dying to see the new updated charts :)

[2016-03-17 17:46] bhauer commented on #1947
I'm joining this conversation late, but I really appreciate the informative and helpful comments in this thread.  I believe the consensus here aligns very well with my own point of view.  But for what it's worth I wanted to add the following:

* Not to belabor the obvious point, but @methane and @valyala are correct that our project is focused on measuring the performance of web application framew

[2016-03-17 21:31] msmith-techempower commented on #1947
Closed with #1970

[2016-03-17 21:31] #1947 closed

[2016-03-18 01:26] yogthos opened #1979 "http-kit and compojure benchmarks have incorrect behavior"
The code in this function is incorrect. The result of the `for` is never used, and since `for` is lazy, it's never even evaluated. So, no database updates are actually happening. In fact, the `update-in` function would throw an error in this example if it ran, since it expects a function.

[code]
A correct function would look something like the following, where `doseq` is used to force evaluation

[2016-03-18 11:56] zloster commented on #1947
Thanks for the good and clean summary.

[2016-03-18 16:19] k-r-g commented on #1979
@yogthos Good catch! I don't think I'll be able to get to this today. If you'd like to submit a fix it would be very welcome. Otherwise I'll get to it as soon as I can.

[2016-03-18 17:20] yogthos commented on #1979
Sure thing, if I get some cycles before you do, I'll pr for this.

[2016-03-18 17:23] msmith-techempower commented on #1902
This seems to have been resolved with #1980

https://travis-ci.org/TechEmpower/FrameworkBenchmarks/jobs/116919181

[2016-03-18 17:23] #1902 closed

[2016-03-18 17:24] msmith-techempower commented on #1894
Resolved with #1896

[2016-03-18 17:24] #1894 closed

[2016-03-18 17:47] #1859 closed

[2016-03-18 17:47] #1773 closed

[2016-03-18 17:48] msmith-techempower commented on #1768
tl;dr - yes

[2016-03-18 17:48] #1768 closed

[2016-03-18 17:48] msmith-techempower commented on #1749
Sigh, still haven't gotten to this.

[2016-03-18 17:55] msmith-techempower commented on #1712
Resolved by #1716

[2016-03-18 17:55] #1712 closed

[2016-03-18 17:55] msmith-techempower commented on #1704
Suggest removing it - it's an arcane holdover.

[2016-03-18 17:56] msmith-techempower commented on #1910
Closing - this is a duplication of #1694

[2016-03-18 17:56] #1910 closed

[2016-03-18 17:57] msmith-techempower commented on #1694
Another dump in case the above list is missing some:
[code]

[2016-03-18 17:58] msmith-techempower commented on #1668
To what should `somaxconn` be set (in general)?

[2016-03-18 17:59] msmith-techempower commented on #1659
This is "resolved" in that Beego is now properly failing validation.

[2016-03-18 17:59] #1659 closed

[2016-03-18 18:06] msmith-techempower commented on #1502
Will be resolved by #1701

[2016-03-18 18:11] msmith-techempower commented on #1387
We have made a lot of progress towards this, but I'm taking the milestone off since it will almost assuredly never fully be completed.

[2016-03-18 18:13] msmith-techempower commented on #1372
Bump.

Where do we stand on this?

[2016-03-18 18:15] msmith-techempower commented on #1268
Related to #1565 I believe. Should be able to be resolved now.

[2016-03-18 18:16] msmith-techempower commented on #1220
Resolved by #1864

[2016-03-18 18:16] #1220 closed

[2016-03-18 18:17] msmith-techempower commented on #1206
Guess not. :shrug:

[2016-03-18 18:17] #1206 closed

[2016-03-18 18:18] msmith-techempower commented on #1127
I BELIEVE this is resolved.

[2016-03-18 18:18] #1127 closed

[2016-03-18 18:19] msmith-techempower commented on #1119
I believe this is resolved.

[2016-03-18 18:19] #1119 closed

[2016-03-18 18:19] msmith-techempower commented on #1118
No longer relevant as we do not use installer files.

[2016-03-18 18:19] #1118 closed

[2016-03-18 18:19] msmith-techempower commented on #1117
I BELIEVE this is addressed.

[2016-03-18 18:19] #1117 closed

[2016-03-18 18:20] msmith-techempower commented on #1110
Resolved via #1864

[2016-03-18 18:20] #1110 closed

[2016-03-18 18:20] msmith-techempower commented on #1099
Resolved - we disabled all redis tests.

[2016-03-18 18:20] #1099 closed

[2016-03-18 18:21] msmith-techempower commented on #1047
I believe this is resolved.

[2016-03-18 18:21] #1047 closed

[2016-03-18 18:21] msmith-techempower commented on #998
This is implemented.

[2016-03-18 18:21] #998 closed

[2016-03-18 18:23] msmith-techempower commented on #841
Resolved by #1340

[2016-03-18 18:23] #841 closed

[2016-03-18 18:25] msmith-techempower commented on #825
I believe this was address in #1842

[2016-03-18 18:25] #825 closed

[2016-03-18 18:26] msmith-techempower commented on #679
Lots of changes to where we save the logs happening; closing this for now as it will be at the forefront of that effort.

[2016-03-18 18:26] #679 closed

[2016-03-18 18:27] msmith-techempower commented on #584
I believe this was resolved in our audit of the `benchmark_config.json` files.

[2016-03-18 18:27] #584 closed

[2016-03-18 18:28] msmith-techempower commented on #1905
Closing; duplication of #545

[2016-03-18 18:28] #1905 closed

[2016-03-18 18:28] msmith-techempower commented on #545
One of the issues facing contributors and we maintainers alike is that it is hard to debug issues with passing the $DBHOST variable (and others) around correctly. Most tests require the use of sed for updating config/source files to have the correct IP address, and very often issues arise by contributors naively using "127.0.0.1" in their code. This works on Travis-CI, we see the green check mark,

[2016-03-19 04:50] methane commented on #1749
Now this project uses wrk 4.0.1.  This bug has been fixed in 4.0.0.

[2016-03-19 05:00] methane commented on #1668
I think recommended way is:
[code]

legacy (and more portable) way is:
[code]

[2016-03-19 09:23] methane commented on #1908
I tried uWSGI/PyPy behind nginx setup.
It's performance is far poor when compared with current gunicorn/tornado setup.

CPU usage of nginx is high since uwsgi protocol doesn't support keep-alive.
nginx opens unix socket for each request.
uWSGI 2.1 (not released yet) has `--http11-socket` option. So I'll switch to uWSGI 2.1 when it is released.
For round 13, I keep current gunicorn/tornado setup.

[2016-03-19 15:16] methane commented on #1668
I realise somaxconn is not set even on Travis-CI.

I fixed it in this commit:
https://github.com/methane/FrameworkBenchmarks/pull/2/commits/d87f0814c5a7a0d2edd0caf8aa111799faee2228

Is this a right place to configure sysctl?

[2016-03-20 07:26] methane commented on #1908
https://github.com/methane/FrameworkBenchmarks/pull/2

Using PGO requires long building time.
Building both of Python 2 and 3 with PGO is not acceptable.
Travis timed out.

[2016-03-21 14:06] msmith-techempower commented on #1749
I do not believe that is true; we are still passing the concurrency with the timeout flag `--timeout $c` https://github.com/TechEmpower/FrameworkBenchmarks/blob/master/toolset/benchmark/framework_test.py#L66

[2016-03-21 14:56] methane commented on #1749
@msmith-techempower Original issue is a lot of timeout.  Using concurrency for timeout was not an issue.

See #855 for why I chose concurrency for timeout.  Constant timeout is worse than concurrency.

[2016-03-21 14:57] msmith-techempower commented on #1749
Understood; closing.

[2016-03-21 14:57] #1749 closed

[2016-03-21 15:41] Dith3r commented on #1908
Hi,

Up to uWSGI and PyPy - did you try using [native http](http://uwsgi-docs.readthedocs.org/en/latest/HTTP.html) support from uWSGI? Also best option for python environment is just to update PyPy and python to latest stables releases and change usage mysqldb to pymysql if applications is run on JIT.

[2016-03-21 15:58] methane commented on #1908
@Dith3r There is test using uWSGI without nginx.
https://github.com/TechEmpower/FrameworkBenchmarks/blob/master/frameworks/Python/uwsgi/setup.sh

Generally speaking, uWSGI should be behind reverse proxy like nginx.  So I don't use the setup for many frameworks.
http://uwsgi-docs.readthedocs.org/en/latest/HTTP.html#can-i-use-uwsgi-s-http-capabilities-in-production

But your comment reminds me that

[2016-03-21 16:35] bhauer commented on #1704
Yes please. Just remove it.

[2016-03-25 15:00] msmith-techempower opened #1996 "FastHTTP Should be only 1 directory"
Currently, there are two directories (mysql and postgresql), but these should be one dir with separate test/code as necessary. The current implementation has JSON/Plaintext tests implemented by both, but without any difference.

@valyala Could you give a hand refactoring these?

[2016-03-25 15:06] msmith-techempower opened #1997 "Go-std should be only one directory"
Currently, there are three directories (mongodb, mysql, and postgresql), but these should be one dir with separate test/code as necessary. The current implementation has JSON/Plaintext tests implemented by both, but without any difference.

[2016-03-25 15:14] msmith-techempower opened #1998 "Revel should be one directory"
Currently, there are three directories (revel, revel-jet, and revel-qbs), but these should be one dir with separate test/code as necessary.

My understanding is that `revel` (the framework) is the same for both, but `jet` is used as the ORM for `revel-jet` whereas standard database stuff is done in Golang for `revel`. The same is true for `qbs`

[2016-03-25 15:14] valyala commented on #1996
@msmith-techempower , I'll look into it.

[2016-03-26 01:59] methane commented on #1997
I'm working on this.
methane#6

[2016-03-26 02:01] methane commented on #1880
Caching `~/.cache/pip` makes installing python libs fast.
https://github.com/msgpack/msgpack-python/blob/master/.travis.yml#L2-L4

[2016-03-26 02:04] methane commented on #1880
How about `fw_get` caches downloaded file to `~/.cache/tfb/download` or somewhere,
and setting the directory to travis cache?

[2016-03-27 04:05] methane commented on #1567
gevent 1.1 was released recently.  It supports Python 3 and PyPy.
PyPy + gunicorn + gevent + PyMySQL is interesting stack.

[2016-03-27 04:07] methane commented on #1604
Does this issue happen for now?

[2016-03-28 14:05] msmith-techempower commented on #1604
I believe this one is addressed.

[2016-03-28 16:24] msmith-techempower opened #2004 "WRK pipeline script is broken"
Plaintext tests do not succeed in benchmarking with the updated Wrk (4).

Specifically, [this line](https://github.com/TechEmpower/FrameworkBenchmarks/blob/master/toolset/setup/linux/client.sh#L36) needs to be deleted.

[2016-03-28 16:28] msmith-techempower opened #2005 "WRK timeout value is breaking benchmarks"
Currently, the scripts in `toolset/benchmark/framework_test.py` ([example](https://github.com/TechEmpower/FrameworkBenchmarks/blob/master/toolset/benchmark/framework_test.py#L48)) are breaking in wrk4; change the timeout to a more realistic number (maybe 8?).

[2016-03-28 17:04] #2004 closed

[2016-03-28 17:07] bhauer commented on #2005
My understanding of the wrk timeout feature is that it monitors request durations and those that exceed the timeout length will be counted as "timed out."  However, a timed-out request is not interrupted and is permitted to complete normally.

We do not use the resulting count of timed-out requests since we are (presently) primarily concerned with throughput and secondarily with latency.  If we we

[2016-03-28 17:53] cjnething commented on #1694
Notes based on above list:

Necessary files not added to .gitignore (all other files listed above were added):
frameworks/Go/beego/src/hello/hello.go
frameworks/PHP/php-zend-framework/config/autoload/benchmarks.local.php
frameworks/PHP/php-zend-framework/deploy/nginx.conf
frameworks/PHP/php-zend-framework1/application/configs/application.ini
frameworks/PHP/php-zend-framework1/deploy/nginx.conf
fra

[2016-03-29 01:12] methane commented on #2005
I agree.

On 256 concurrency, deadline performance is 256 / 8 = 32 req/sec.  (plaintext
We can't measure throughput lower than 32 req/sec.  But we can use lower concurrency result when framework is slow.

(In case of plaintext benchmark, minimum concurrency is 256 and one connection has 16 pipelined request.  Deadline performance is 256 * 16 / 8 = 512 [req/sec].)

[2016-03-29 17:32] cjnething commented on #1081
Resolved in PR #1572

[2016-03-29 17:32] #1081 closed

[2016-03-29 20:30] #1694 closed

[2016-03-29 20:30] #2005 closed

[2016-03-30 15:27] #1704 closed

[2016-03-30 16:06] cjnething commented on #1555
From the latest (Round 12) [logs](http://tfb-logs.techempower.com/round-12/peak/linux/2016-02-22-final/latest/results.json), it looks like phpixie was present and passing (as shown below), so this issue is resolved.
[code]

[2016-03-30 16:06] #1555 closed

[2016-03-31 14:29] GMLudo commented on #1908
Since this article, several things are moved, like the benchmark script used at the first time of this article ;-)

Anyway, it's a very good idea to test that.
Even, it should be strange, it should be interesting to test also with mysql+asyncio.run_in_executor, because pure asyncio mysql driver is in pure python only.
I shouldn't be surprised that asyncio.run_in_executor could be faster in this ca

[2016-03-31 14:57] methane commented on #1908
Yes, lack of extension modules is the biggest overhead of async programming in Python.

[2016-03-31 18:01] #1655 closed

[2016-03-31 18:01] cjnething commented on #1655
Resolved in #1991

[2016-04-04 08:27] GMLudo commented on #1567
Interesting, we'll see the results ;-)

[2016-04-06 10:15] samdark opened #2020 "Yii is broken"
[code]

[2016-04-07 21:59] cjnething commented on #1721
It looks like HPHP was discontinued in 2013 and was replaced by HHVM. This was documented [here](http://hhvm.com/blog/575/joining-retirement-testing-and-bankruptcy) and [here](https://www.facebook.com/notes/facebook-engineering/speeding-up-php-based-development-with-hhvm/10151170460698920/). From what I can tell, all the tests are using hhvm.sh which is downloading HHVM, so they should all be up-t

[2016-04-08 22:16] zane-techempower commented on #374
1) @bhauer should this test be realistic in that the caching layer should be in front of the database? Or can tests implement this as "look for value in cache, otherwise not found"?

2) Let's try to put together a list of frameworks that we want to have done for-sure for round 14. We talked about doing some Java frameworks, then perhaps some Go and Javascript ones to get us at least 10-20 implemen

[2016-04-12 15:57] adambro opened #2024 "PHP: Use new Slim 3, not Slim 2.2.0"
Slim 3 is the current version, but tests are still done with Slim 2. Not to mention that they are failing im many tests in Round 12 (Fortunes, Queries, only JSON worked).

I can contribute Slim 3 example. Should it be as a separate directory (slim3) or rather update of exisiting Slim 2.x code?

[2016-04-12 17:49] bssgithubcollaborator commented on #374
@zane-techempower 1) The implementation should be a cache backed by the database table.  It is acceptable for the cache to be primed with all values from the table at start-up time *or* to populate lazily on an as-needed basis.  But it should not return "not found" for records that do exist in the database table.  Note that there is no expectation of concurrent updates to the table, so it's not ne

[2016-04-12 17:52] bhauer commented on #374
Sorry, I accidentally commented on this while using a different profile.

@zane-techempower 1) The implementation should be a cache backed by the database table. It is acceptable for the cache to be primed with all values from the table at start-up time or to populate lazily on an as-needed basis. But it should not return "not found" for records that do exist in the database table. Note that there

[2016-04-12 18:20] tchoulihan opened #2025 "Why is perwendel - Spark not shown in the results"
Is spark failing the tests or something? I don't see it in the results.

[2016-04-12 19:10] nbrady-techempower commented on #2024
@adambro If it's easy for you to update the Slim 2.x code, you're more than welcome to do so with a pull request. If you think you're better off starting from the ground up, if Slim 3 has lots of breaking changes, you can create a new directory and we will probably scratch the Slim 2.x code if all goes well.

[2016-04-15 20:48] k-r-g opened #2027 ""run-tests.py --mode verify" should confirm the Data Updates test actually writes to the database"
In issue #1979 @yogthos noticed that the compojure and http-kit tests were not actually writing to the database when they ran the Data Updates test. It would be nice if run-tests.py could help us notice this kind of problem in the future.

Perhaps we could read in all the values of the world database table (it is only 10,000 rows), run the Data Updates test, and then read all the values again and

[2016-04-15 21:37] k-r-g commented on #1979
@yogthos What do you think of my fix in #2026? I believe this addresses the problem.

[2016-04-15 22:59] yogthos commented on #1979
Yeah that looks like it should do it. :+1:

[2016-04-20 16:44] adambro commented on #2024
Question about DB classification: I'm using PDO, which is PHP's equivalent of JDBC. For that should I use DB=raw or maybe DB=Micro? Asking because PDO can create PHP objects directly out of result set.

[2016-04-20 17:03] msmith-techempower commented on #2024
`database` should be one of MySQL, Postgres, MongoDB, Cassandra, Elasticsearch, Redis, SQLite, SQLServer, or None as defined [here](http://frameworkbenchmarks.readthedocs.org/en/latest/Codebase/Framework-Files/?highlight=benchmark_config#benchmark-config-file).

`orm` is to what you are referring when talking about Full, Micro, or Raw. In this case, it looks like it is 'micro' in that it does some

[2016-04-26 20:22] adambro commented on #2024
I've created PR #2030 just now. The `orm=raw` attribute, because it is the same for raw PHP.

[2016-05-04 09:12] amichair opened #2034 "Please specify the number of cores in the published charts"
For many servers, the number of cores makes a huge difference in performance under high load, probably more than any other factor. However in the published reports/charts this info is not readily apparent. The hardware is specified in the small bar on top of the charts, or in the tooltip over the hardware tab, but they don't actually specify this vital piece of information - that requires quite a

[2016-05-04 10:42] amichair opened #2035 "What is source_code?"
Looking at http://frameworkbenchmarks.readthedocs.io/en/latest/Development/Add-Frameworks-or-Tests/ I can't find any mention of the source_code file - did I miss it?

I did find it mentioned in this issue tracker, and understood that it's used for SLOC stats. However, it is still unclear what should go in there - e.g., do build files (e.g. pom.xml) count? Some projects include it, others don't. Ho

[2016-05-04 18:02] kunalspathak opened #2037 "Running nodejs framework on windows"
I am trying to get [node+chakracore](https://github.com/nodejs/node-chakracore) framework for windows running with existing `nodejs` benchmarks. However running the benchmarks need `wrk` tool that is not available on windows.
I went through documentation, but didn't find satisfactory instructions on how to setup things on windows. Can someone help me with instructions on how to setup and populate

[2016-05-04 18:03] msmith-techempower commented on #2037
We do not currently support windows - use VirtualBox (or similar) to spin up an Ubuntu instance.

[2016-05-04 18:03] #2037 closed

[2016-05-11 01:12] edudar opened #2041 "Source code for Rapidoid benchmark should resemble real world application"
Existing source code for this benchmark is written with low-level operations that are far from what Rapidoid advertises as one-liners in their docs. It seems natural to expect something like this
[code]
instead of custom protocol implementation with very remote proximity to real world use cases. Or at least there should be two entries then: consumer optimized and byte-to-byte one.

[2016-05-12 03:58] taoeffect opened #2045 "[round 12] "multiple queries" benchmark for lapis vs openresty doesn't make sense"
Re: https://www.techempower.com/benchmarks/#section=data-r12&hw=peak&test=query&l=b95g

This shows Lapis as over twice as fast as OpenResty, but how can that make sense given that Lapis is a framework *on top of* OpenResty? It should add overhead, not remove it.

[2016-05-12 04:27] methane commented on #2045
You can see difference from source.

[2016-05-12 04:29] taoeffect opened #2046 "Bump Hapi to at least 13.x"
The benchmarks appear [to be using Hapi 8.6.0](https://github.com/TechEmpower/FrameworkBenchmarks/blob/master/frameworks/JavaScript/hapi/package.json#L9), but Hapi is all the way up to 13.x now. They also pointed me to this JSON related PR that was recently merged: https://github.com/hapijs/hapi/pull/3014

[2016-05-12 04:33] methane commented on #2045
While I don't know much about Lua and OpenResty, OpenResty implementation uses lua-resty-mysql directly and connect to DB for each request.
https://github.com/TechEmpower/FrameworkBenchmarks/blob/master/frameworks/Lua/openresty/app.lua

On the other hand, lapis uses PostgreSQL and implement connection pool.

[2016-05-12 04:38] taoeffect commented on #2045
Ah, well if they're using different databases and even different methods of querying, it definitely doesn't make sense to put them in the same set of benchmarks like that then. At that point you're not comparing frameworks but something completely different.

[2016-05-12 13:16] Zloy opened #2047 "Ruby related tests fail due to RVM wrong install"
I followed instructions from main README. I issued `vagrant up` in `vagrant-development` folder, then `vagrant ssh`

When I issued `~/FrameworkBenchmarks$ toolset/run-tests.py --install server --mode verify --test sinatra` I got the error:

[code]

Obviously user `testranner` doesn't have RVM installed. So the test fails.

[2016-05-18 04:57] agentzh commented on #2045
Oh, this piece of Lua code is horrible. It's a shame to use it for benchmark :)

[2016-05-18 04:59] agentzh commented on #2045
@methane BTW, connection pools are implemented inside OpenResty (via ngx_lua's cosocket API) and both lua-resty-mysql and pgmoon utilize that.

[2016-05-18 06:04] methane commented on #2045
@agentzh If so, you can make openresty benchmark to use connection pool easily.
Contribution is welcome.

I'm contributing maintain Go and Python frameworks.
Since I'm not so interested in Lua, I won't learn it only for improve this benchmark.
I hope you can do it.

[2016-05-18 06:07] methane commented on #2045
Most benchmarks are from contributors.
If you're interested in some benchmark, reading source and improve it is better than asking
"why XXX is slow?" without research by yourselves.

[2016-05-21 15:07] marko-asplund opened #2053 "Upgrade Cassandra to latest stable version"
Which is currently version 3.0.6.

[2016-05-21 15:09] marko-asplund opened #2054 "Upgrade Elasticsearch to latest stable version"
Currently version 2.3.3.

[2016-05-27 22:49] agentzh commented on #2045
@methane I used to create pull requests to this project but my PRs were ignored.

[2016-05-27 23:03] nbrady-techempower commented on #2045
@agentzh Sorry that you feel that way! We try to get to PRs as quickly as possible. I noticed you had two PRs with us, one of them merged and it seems as though the other was closed without warning and then committed in a separate PR without tagging you. Are there any others we may have missed? We take each PR seriously and it often takes time to give them their due dilligence! Hopefully this won'

[2016-06-15 00:44] nbrady-techempower commented on #2054
Added here, thank you! If you'd like you're more than welcome to submit a pull request against the round-14 branch for this upgrade.

https://github.com/TechEmpower/FrameworkBenchmarks/wiki/Suggested-Frameworks,-Languages-and-Features

[2016-06-15 00:44] #2054 closed

[2016-06-15 00:44] nbrady-techempower commented on #2053
Same here, thank you :)

https://github.com/TechEmpower/FrameworkBenchmarks/wiki/Suggested-Frameworks,-Languages-and-Features

[2016-06-15 00:44] #2053 closed

[2016-06-15 00:49] nbrady-techempower commented on #2046
@taoeffect Thanks for pointing this out. Feel free to create a pull request for this update and target it toward the round-14 branch. I'll put it here https://github.com/TechEmpower/FrameworkBenchmarks/wiki/Suggested-Frameworks,-Languages-and-Features for now. Thanks!

[2016-06-15 00:49] #2046 closed

[2016-06-16 23:27] nbrady-techempower opened #2074 "Broken Frameworks"
The following frameworks are not passing Travis in one or both of Round 13 (Master) and our Round 14 target branch. There could be a number of reasons. The goal is to get all frameworks included in the current benchmarks to pass both Travis and local tests. We are considering removing frameworks that are not passing and not being maintained. This would speed up Travis runs and give more accurate s

[2016-06-17 07:49] martin-g commented on #2074
I'm glad to see that Java/Wicket is not in this list!
But the last three rounds it works fine on Travis and locally but fails for the official run (#1403) :-/

[2016-06-17 08:04] nbrady-techempower commented on #2074
@martin-g These frameworks we pulled from Travis tests on the latest master run and the latest round 13 run. I wish I could say that's a guarantee that there won't be a problem with the official run, but I will pull Wicket and test locally tomorrow.

[2016-06-17 08:08] martin-g commented on #2074
Thank you, @nbrady-techempower !
Let me know if something has to be fixed! I really like to see Wicket results again.

[2016-06-17 19:42] Zloy opened #2077 "Ruby dependency gems versions are missing due to Gemfile.lock is not checked in to repository"
You set main gems versions in Gemfile - that's ok, These main gems, like sinatra, active-record, puma depend on a big number of dependency gems, which versions become fixed to certain values when you perform `bundle install` or simple bundle. This fixation is written in Gemfile.lock.

As you excluded Gemfile.lock from the repo, If  I try to reprodice your tests half a year later you did, my depend

[2016-06-17 19:52] Zloy commented on #1949
+1

[2016-06-17 20:22] nbrady-techempower commented on #2077
@Zloy Could you help me understand this a little better? I'm not super familiar with how ruby does dependency management. The Gemfile in each framework that specifies the exact version number is *not* sufficient enough to ensure that those dependencies will be correct?

[2016-06-18 02:15] nbrady-techempower commented on #2074
@martin-g I've tested wicket again in a local environment and all tests pass. There were some results for round-12, however there were some errors too. [Here are the logs for wicket in Rnd 12](http://tfb-logs.techempower.com/round-12/peak/linux/2016-02-22-final/latest/logs/wicket/out.txt) It appears things are working fine at the moment now.

[2016-06-18 08:38] martin-g commented on #2074
Great! Thanks!

[2016-06-18 14:26] Zloy commented on #2077
That is correct!

Have a look at my **Gemfile.lock** generated in sinatra folder of TFB:

[code]

All these gems are dependencies. If someone runs `bundle` say 6 months ago many of these dependencies would change their versions to newer ones. And my Gemfile.lock would differ from his Gemfile.lock.

Thus Gemfile contains the main gems you use directly in your code with their versions constraints. W

[2016-06-18 14:33] Zloy opened #2084 "Sinatra tests warnings due to missing mandatory headers Date and Server and inconsistent value in Content-Type header"
Have a look here:

[code]

[2016-06-18 15:16] Zloy opened #2086 "It sais Results are saved in results/20160617215827, but nope"
I made Sinatra tests pass:

[code]
There is not such directory: `results/20160617215827`

Here is what actually is in results:

[code]

The file `results/latest/results.json` contains that:

[code]

Where' gone results?

[2016-06-18 22:49] nbrady-techempower commented on #2086
@Zloy did you run the test with `--mode verify` ?

[2016-06-18 22:51] nbrady-techempower commented on #2077
@zloy excellent! So we need to make sure each ruby framework has a working Gemfile.lock? Great stuff! Thank you!

[2016-06-19 07:56] Zloy commented on #2077
That's right, just remove Gemfile.lock from .gitignore, then run bundle and check in generated Gemfile.lock in the repo. It was my pleasure)

[2016-06-19 10:59] Zloy commented on #2086
Oh! I see now.
Yes I run the tests with `--mode verify`. As soon as I removed that param I got results. Thank you!

[2016-06-19 11:04] Zloy opened #2088 "Ruby rbx required packages install that fails on `requirements_debian_libs_install clang libedit-dev`"
[code]

[2016-06-19 11:11] Zloy commented on #2088
Here is what fails from `/home/testrunner/.rvm/log/1466325320_rbx-2.4.1/package_install_clang_libedit-dev.log`

    apt-get --no-install-recommends --yes install clang libedit-dev'

[code]

[2016-06-19 12:21] Zloy commented on #2088
It's strange, but when I try to do `apt-get --no-install-recommends --yes install clang libedit-dev` in newly created vagrant box it doesn't fail:

[code]

Possibly it interferes to other libs installs for other frameworks/languages?

[2016-06-19 12:56] #2086 closed

[2016-06-19 17:07] gmile commented on #1949
I've ran into this as well.

As far as I see, the shared folder (one between your host OS and vagrant guest OS) is this one: [`/FrameworkBenchmarks`](https://github.com/TechEmpower/FrameworkBenchmarks/blob/master/deployment/vagrant-common/core.rb#L118). If you make changes to FB files on your host OS, they indeed get reflected in `/FrameworkBenchmarks`.

However `README.md` as well as [this](http:

[2016-06-19 17:10] nbrady-techempower commented on #1949
@gmile what is your host OS? If it's indeed windows, then you'll have some line ending issues between editing on your host and running the tests on vagrant. However, there are still known issues to be worked out with the vagrant setup.

[2016-06-19 17:11] gmile commented on #1949
@nbrady-techempower it's OS X (10.11.3)

[2016-06-19 17:17] nbrady-techempower commented on #1949
@gmile thanks. Like I said, there's still some known issues here. We will look into getting the symbolic links working again as soon as possible. For now, if developing in the vagrant environment is cumbersome, we recommend forking the repo and developing in your host OS. Push the changes to your repo and pull them into vagrant for testing only.

[2016-06-19 20:41] gmile opened #2092 "prerequisites.sh needs fw_exists loaded"
At the time `prerequisites.sh` is executed, `fw_exists` is not available (see the screenshot).

![image](https://cloud.githubusercontent.com/assets/207112/16179731/489a526c-3677-11e6-9f75-58fbe59982a0.png)

Above picture was taken when running vanilla `vagrant up`.

[2016-06-19 23:45] nbrady-techempower commented on #1838
Closed for #2074

[2016-06-19 23:45] #1838 closed

[2016-06-20 18:41] Zloy opened #2100 "Wrong folder `toolset/deployment` in READMEs and shell scripts"
There is no such folder `toolset/deployment`. But there is `deployment` at the same level as `toolset`.
This wrong folder is referenced not only in Readme (which is just confusing), but also in shell scripts, which is ridiculuos 'cause scripts seem to work properly. Perhaps environment variables which contain wrong folders are not used anymore.

[There are 13 occurences, check it out here](https:/

[2016-06-20 18:52] nbrady-techempower commented on #2100
@Zloy thanks for pointing that out. A lot of these files are windows related and have gone untouched for some time. The microsoft team is actually working on a new toolset for windows. That part of the toolset is obsolete and will be removed in round-14 or 15. The few others are also not being used, and will all be cleaned up moving forward. Thanks!

[2016-06-20 19:22] Zloy commented on #2100
Ok, I see.

I've just destroyed my vagrant box and have built it from scratch. I haven't found any error messages like "This script must be run from the FrameworkBenchmarks directory" which should be echoed e.g. in [deployment/common/deployment.sh](https://github.com/TechEmpower/FrameworkBenchmarks/search?utf8=%E2%9C%93&q=toolset%2Fdeployment&type=Code)

Also `grep -Rl "This script must be run fro

[2016-06-20 19:26] nbrady-techempower commented on #2100
@Zloy agreed. I will leave this open.

[2016-06-20 19:33] Zloy commented on #2088
I've just tried to execute `sudo apt-get --no-install-recommends --yes install clang libedit-dev` on newly created vagrant TFB box. I haven't ran `run-tests.py` yet. And I got the same error.

Also I googled that error and didn't find any evidence that someone had met such problem ever.

I'm going to try that apt-get command on absolutely empty ubuntu box with super simple Vagrantfile. It just see

[2016-06-20 20:06] Zloy commented on #1949
What if we [tweak Vagrantfile](http://stackoverflow.com/questions/26811089/vagrant-how-to-have-host-platform-specific-provisioning-steps) to get vagrant box same way for Windows host OS, but syncing TFB folder to ~/FrameworkBenchmarks for Ubuntu host OS?

In such case Linux users can fork the repo, clone it, get vagrant box running and develop in host OS. That would super simplify contributing for

[2016-06-20 20:17] gmile commented on #1949
@Zloy I'm not sure it will help.

Yesterday I tried syncing FrameworkBenchmarks from host to `~/FrameworkBenchmarks` path on client (had to remove original `~/FrameworkBenchmarks` that appears during the initial box setup). Even though it synced, my framework tests didn't run.

Specifically, during the setup stage of the test I noticed some problems with permissions on synced folders, e.g. I could

[2016-06-20 20:49] nbrady-techempower commented on #2088
@Zloy It appears that clang <= 3.4 has security issues and has been removed from repos.

running
`sudo apt-get install clang-3.4` gives the error but `sudo apt-get install clang-3.5` is fine.
clang-3.4 seems to be a dependency of rbx-2.5. Does this sound correct?

[2016-06-20 21:35] Zloy commented on #2088
@nbrady-techempower As I've written above I tried on newly created TFB box:

[code]

Just now I've tried to install clang-3.4, and got that:

[code]

It appears that clang-3.5 was already installed in the box. I'm not sure if it came with TFB scripts, or it existed in clear Ubunto source image before TFB did anything in it.

Apparently I need to examine clear Ubuntu box.

[2016-06-20 21:43] nbrady-techempower commented on #2088
@Zloy yes, that's it. It's in the prerequisites.sh file. I'm going to look into why it's there and if it's needed as a prereq.

[2016-06-20 22:04] nbrady-techempower commented on #2088
It looks like silicon and rbx are the two that are using clang instead of gcc. I'm going to create a pr that takes clang out of the prereqs and includes it in the setups for the frameworks that need it.

Running sinatra-sequel-puma-rbx tests passed after removing clang-3.5

[2016-06-20 22:26] nbrady-techempower commented on #2092
@gmile `prequisites.sh` doesn't rely on `fw_exists`. If it does exist, it will exit because the prerequisites would have already been installed.

[2016-06-20 22:28] nbrady-techempower commented on #2084
fixed with #2085, thanks!

[2016-06-20 22:28] #2084 closed

[2016-06-20 22:30] nbrady-techempower commented on #1562
fixed with #2018

[2016-06-20 22:30] #1562 closed

[2016-06-20 22:40] nbrady-techempower commented on #2092
oh I misunderstood, sorry. Good catch!

[2016-06-21 00:56] knewmanTE opened #2110 "PHP setup script not properly installing redis extension"
Despite having  [this line](https://github.com/TechEmpower/FrameworkBenchmarks/blob/master/toolset/setup/linux/languages/php.sh#L47) in the php.sh install script, redis doesn't seem to be properly installed. `fw_depends php` outputs:
[code]
and afterwards, you can see that `installs/php-5.5.17/lib/php/extensions/no-debug-non-zts-20121212/` does not contain `redis.so`. If you comment out the `exten

[2016-06-21 02:22] nbrady-techempower commented on #2020
Putting this in #2074

[2016-06-21 02:22] #2020 closed

[2016-06-21 02:25] nbrady-techempower commented on #1930
Captured in the Wiki, thanks!

[2016-06-21 02:25] #1930 closed

[2016-06-21 02:26] nbrady-techempower commented on #1702
I think it's safe to say, this is on the way! :fireworks:

[2016-06-21 02:26] #1702 closed

[2016-06-21 02:27] nbrady-techempower commented on #1546
We are up to v5, should be v6 soon!

[2016-06-21 02:27] #1546 closed

[2016-06-21 11:13] Rydgel commented on #2074
Spock failed on 13 but works on 14 and local. So I'm supposed we are good for this one?

[2016-06-21 11:39] Zloy commented on #2047
That is fixed by pr #2068

[2016-06-21 11:39] #2047 closed

[2016-06-21 11:41] Zloy commented on #1949
@gmile Ok, I see now the obstacle. Thanks!

[2016-06-21 15:20] nbrady-techempower commented on #2074
@Rydgel I believe it should be.

[2016-06-21 17:35] nbrady-techempower commented on #1403
@martin-g as you've already pointed out, we're tracking this in #2074. Hopefully resolved.

[2016-06-21 17:35] #1403 closed

[2016-06-21 17:37] nbrady-techempower commented on #1268
I believe this has been resolved. Any further issues can be marked in #2074

[2016-06-21 17:37] #1268 closed

[2016-06-21 17:45] nbrady-techempower commented on #1996
Can be closed once #2112 is merged

[2016-06-21 17:45] nbrady-techempower commented on #2024
Can be closed once #2101 is merged

[2016-06-21 17:52] nbrady-techempower opened #2113 "gcc & clang should be moved from prereqs to systools"
Currently gcc and clang are being run in `prerequisites.sh` when only a few frameworks require them. This has also caused conflict among some C frameworks that require a specific version of clang. These tools should be moved to `toolset\setup\linux\systools` and pulled in with `fw_depends` on an as needed basis. This will speed up each framework test on travis and prevent future conflicts.

[2016-06-21 18:51] nbrady-techempower commented on #1998
resolved with #2003 and #2114

[2016-06-21 18:51] #1998 closed

[2016-06-21 18:58] nbrady-techempower commented on #1604
Haven't seen any more issues with this. Closing for now

[2016-06-21 18:58] #1604 closed

[2016-06-21 19:06] nbrady-techempower commented on #2025
@tchoulihan I see Spark in the [Official Round-12 results](https://www.techempower.com/benchmarks/#section=data-r12&hw=peak&test=json)

[2016-06-21 19:06] #2025 closed

[2016-06-21 19:27] tchoulihan commented on #2025
Yep that's true, sorry about that.

[2016-06-21 20:06] Zloy opened #2116 "grails tests fail due to warnings"
================================================================================
  Verification Summary

[code]

Here are details:
[code]

[2016-06-21 20:08] #2116 closed

[2016-06-21 20:08] nbrady-techempower commented on #2116
@Zloy Just a note here, tests with WARN aren't failing

[2016-06-21 20:29] Zloy commented on #2116
@nbrady-techempower Rodger that, Thank you!

[2016-06-21 23:48] #2024 closed

[2016-06-22 12:37] pmlopes opened #2117 "Please unlist vertx-web results from round 12"
I've implemented the benchmark and run it locally and got really different numbers than the ones listed on the website. Like many other frameworks I do believe that something went wrong during round 12 and would like that `vertx-web`, please note that I'm not referring to `vert.x`, to be unlisted.

I've updated the code in the mean time (with new commits) and would like to see it on round 13 thoug

[2016-06-22 14:06] dashorst commented on #2074
@nbrady-techempower @martin-g Unfortunately the logs only give a timeout for the database call. AFAIK Wicket can't do anything about that. Either the configuration for the database pool is incorrect, or another database connection pool should be used, or the database itself is unresponsive.

[2016-06-22 15:42] nbrady-techempower commented on #2117
@pmlopes I will see what I can do about getting that removal up the chain. Note that our testing environments will probably differ greatly from your local environment, but that all frameworks are tested in that same environment. Was there something specifically in the round-12 logs that caught your attention?

Can you point me to the new commits you're speaking of? I don't see that you've made any

[2016-06-22 15:43] nbrady-techempower commented on #2074
@dashorst Thanks for that update! I've tested it in a few environments and can't reproduce. We will see what the official run shows and if the problem persists, try and solve it for good!

[2016-06-22 19:53] pmlopes commented on #2117
@nbrady-techempower one thing that is hard to explain are the huge differences between json/text benchmarks between vertx and vertx-web. The second performs about 5% from the base which is hard to believe since the code is give or take the same, and there should be a small penalty for vertx-web since it matches routes using regular expressions and does some wrapping of core classes. On development

[2016-06-24 18:58] achlipala commented on #2074
Do you have any tips on how to get the Travis error log for a framework that isn't passing?  I don't know how to find the first commit where `urweb` broke.  (I'm generally in charge of that framework's code.)

[2016-06-24 19:03] achlipala commented on #2074
Never mind my last question; I just poked around a bit more and found a case where that test fails.

It looks like Ubuntu package `mlton` is no longer being installed as part of the baseline list of required packages.  `urweb` requires this package.  Is it possible to readd?  (I'm not sure where is the canonical place to do so in the latest layout.)

[2016-06-24 19:32] nbrady-techempower commented on #2074
@achlipala It looks like you found the solution. Let us know if you need anything else.

[2016-06-25 04:50] saturday06 commented on #2074
Crystal/moonshine is no longer maintained. I opened https://github.com/TechEmpower/FrameworkBenchmarks/pull/2127 to remove it.

[2016-06-26 23:21] Sinewyk commented on #1546
I still see 0.12 here https://github.com/TechEmpower/FrameworkBenchmarks/blob/bfc1f5088798d561e71e95d23d0467b1974886c7/toolset/setup/linux/languages/nodejs.sh#L8.

You can probably go straight up to 6.2.2, it's going in LTS in October.

[2016-06-26 23:28] nbrady-techempower commented on #1546
@Sinewyk the current node version for round 14 is in the round-14 branch. Feel free to submit a pull request to the round-14 branch for further upgrades!

[2016-06-27 15:41] valyala commented on #1996
@nbrady-techempower , now it can be closed :)

[2016-06-27 17:18] nbrady-techempower commented on #1996
Thanks @valyala !

[2016-06-27 17:18] #1996 closed

[2016-07-07 01:06] knewmanTE opened #2146 "JSON test doesn't gracefully fail"
None of the other tests for a framework will run if you have a JSON test doesn't return exactly "Hello, World!" For example, if you change the return value to "Hello Wrld" or "Hello Woorld" you are given the following error:

[code]

This only seems to happen with the JSON test. Making slight variations to the other tests will cause that particular endpoint to fail, but all other tests will contin

[2016-07-07 13:55] msmith-techempower commented on #2146
This needs addressing in master.

[2016-07-07 17:49] knewmanTE commented on #2110
This has been resolved by #2124.

[2016-07-07 17:49] #2110 closed

[2016-07-07 18:09] nbrady-techempower commented on #2146
#2147 fixes

[2016-07-08 17:16] knewmanTE commented on #2146
Closing with #2147

[2016-07-08 17:16] #2146 closed

[2016-07-10 04:35] ryanlath opened #2156 "Tests failing in Vagrant with permissions denied errors"
I haven't been able to successfully run any of the tests that I've tried (gemini, beego, echo, flask).  I don't think it's framework specific.

Example errors:
Gemini:
`Setup gemini: sed: couldn't open temporary file Docroot/WEB-INF/sed755m9x: Permission denied
Setup gemini: Setup has terminated`
Echo:
`Setup echo: ++ sed -i 's|tcp(.*:3306)|tcp(127.0.0.1:3306)|g' server.go
Setup echo: sed: couldn'

[2016-07-10 06:16] nbrady-techempower commented on #2156
@ryanlath You said you figured it out after upgrading vagrant correct? Let me know. Closing for now.

[2016-07-10 06:16] #2156 closed

[2016-07-11 02:55] ryanlath commented on #2156
I upgraded the vagrant box.  But I also ran a provision command (it was sort of suggested in an motd/output).  I was just trying anything, really.  I don't know vagrant.  Just want to run benchmarks.

[2016-07-14 05:50] ryanlath commented on #2156
For future reference, I believe it was running `vagrant provision` that actually fixed this error.

[2016-07-15 14:35] achlipala opened #2170 "Systematic way of notifying framework partisans"
Fairly often, some larger change in the benchmarks infrastructure breaks particular frameworks' execution, in a way that can't really be called a bug in any framework's original code.  I and others don't try to pay close attention to general progress on the benchmarks, but we want e-mail notification when our favorite frameworks break.  As an example, I missed #2074 for a few weeks, so the trivial

[2016-07-15 14:45] msmith-techempower commented on #2170
We MAY be able to leverage some of the love we get from Travis-CI to, say, e-mail recent contributors when a test goes from passing->fail.

That said, I feel like a LOT of the pain we experience from contributors stems from using dependency management in a poor way (though, not in your case, Adam). Small soap box rant: when using a dependency manager on a project with a handful of libraries, it is

[2016-07-15 14:48] achlipala commented on #2170
Another approach would be to make judgment calls about which breakages are serious enough, and then e-mailing the Google Group about each one.

[2016-07-15 14:48] msmith-techempower commented on #2170
We do a lot of git-fu as a part of our Travis-CI work; we can [according to the Travis-CI docs](https://docs.travis-ci.com/user/notifications/) notify people via e-mail when a build fails. This MAY not work exactly as we need it to simply because it looks like a project-wide list, rather than a specific contributor list.

[2016-07-15 14:53] msmith-techempower commented on #2170
It seems that we could also leverage another python script (a la [run_ci.py](https://github.com/TechEmpower/FrameworkBenchmarks/blob/master/toolset/run-ci.py)) to the [.travis.yml](https://github.com/TechEmpower/FrameworkBenchmarks/blob/master/.travis.yml) in the `after_failure` block. We would have to do more git-fu to figure out recent contributors, but that should not be all that difficult.

I

[2016-07-15 19:28] nbrady-techempower commented on #2170
@msmith-techempower I could look into setting this up on Monday, but I think we'd need to discuss it in more detail, like is this opt-in or opt-out, frequency, etc.

[2016-07-21 13:07] taggedboy opened #2171 "iris, the new Golang framework"
When would you people include the [iris framework](https://github.com/kataras/iris) for golang, its the fastest web framework after the fasthttp library for golang.
You can immediately start by using the [official book](https://kataras.gitbooks.io/iris/content/install.html).

[2016-07-21 13:21] martin-g commented on #2171
As soon as you, or someone else from the community, sends a Pull Request with the implementation.
The implementations are provided and maintained by the community. TechEmpower just provides the hardware and the tooling.

[2016-07-21 19:36] nbrady-techempower commented on #2171
@taggedboy: exactly as @martin-g says. when we have time it's fun to add new frameworks, but these are better added by those more familiar with the frameworks. Maintaining the tooling, running the previews and rounds, and ensuring that frameworks comply with the rules of the tests keep us fairly busy. If you're interested in submitting this framework and have not done any work with tfb before, ple

[2016-07-21 19:36] #2171 closed

[2016-07-29 22:52] knewmanTE opened #2174 "Is it worth keeping PHP/micromvc?"
What the title says. For the PHP framework [micromvc](https://github.com/Xeoncross/micromvc), I am seeing that:
- It is no longer maintained
- Hasn't been updated in 3-5 years
- Is only compatible with PHP 5
- Its [website ](http://micromvc.com/)is defunct. You can find a [cached version](https://web.archive.org/web/20110201124701/http://micromvc.com/) of the site on the Web Archive, but there isn

[2016-08-01 15:34] LadyMozzarella commented on #2174
+1 for removing it. If the framework is no longer maintained, it isn't really relevant anymore. It may be best left performing well in the history of TFB rounds.

[2016-08-01 22:07] knewmanTE opened #2178 "Missing Tests"
**Last updated: 1/27/2017**

I've noticed that there are a bunch of frameworks that are in our test suite, but are missing 1 or more of the 6 core tests (Plaintext, JSON, DB, Queries, Update, Fortune). Here is a compiled list of missing tests. For people looking to contribute to the project, this could be a great place to start off!

This _should_ be a comprehensive list, but if I missed something

[2016-08-09 20:33] steveklabnik commented on #2170
I am also feeling this; I just noticed https://github.com/TechEmpower/FrameworkBenchmarks/issues/2074 says Rust stuff is broken!

[2016-08-11 17:33] knewmanTE opened #2191 "MongoDB failing to start on Travis"
If you look at recent Travis runs, we're seeing a bunch of fails on frameworks that were previously passing because MongoDB isn't starting up.

Some examples:
- [Go/go-std](https://s3.amazonaws.com/archive.travis-ci.org/jobs/151376128/log.txt) (jump to the bottom)
- [Haskel/yesod](https://travis-ci.org/TechEmpower/FrameworkBenchmarks/jobs/151376141#L2540)
- [Java/Dropwizard](https://travis-ci.org/

[2016-08-11 18:36] bhauer opened #2192 "Hide stripped test implementations by default on the results web site"
For context, we have an classification attribute named "Implementation Approach," and the two options are *Realistic* and *Stripped*.  This attribute is an attempt to distinguish implementations that are representative of the real-world (realistic) from implementations that have been purposefully tuned to the particulars of our benchmark (stripped).

Judging the implementation approach is, by its

[2016-08-12 20:53] mooman219 opened #2194 "Change rapidoid from a Realistic IA to a Stripped IA"
I feel as though the Rapidoid results are deceptive in their results, the implementation for their approach is very specific, hand writing the byte arrays and creating a specialized protocol. https://github.com/TechEmpower/FrameworkBenchmarks/blob/master/frameworks/Java/rapidoid/src/main/java/hello/SimpleHttpProtocol.java

Idiomatic Rapidoid as described on their website ( http://www.rapidoid.org/

[2016-08-12 20:55] mooman219 commented on #2194
It seems I'm not the only one having this opinion, see https://github.com/TechEmpower/FrameworkBenchmarks/pull/2193

[2016-08-13 21:12] robertoestivill opened #2195 "Multiple servers tests"
Hello everyone,
I'm working on the [Pippo](https://github.com/decebals/pippo) micro framework benchmarks and I have a question regarding how to structure the tests.
[Pippo supports multiple](http://www.pippo.ro/doc/server.html) Java servers (Undertow, Tomcat, Jetty, TJWS) and would like the benchmark to be run on all of them.
However, I am not convince about what would be the correct approach to i

[2016-08-14 12:09] LinusU opened #2196 "Upgrade Node.js version"
Node.js version 0.12.2 is very old, I think it's time to upgrade to the latest version, 6.3.1. I didn't see the Node.js installation as part of the repository though so I don't know how to submit a pull request for this...

Happy to help out :)

[2016-08-15 15:15] cjnething commented on #2196
Hi @LinusU, not sure where you're seeing 0.12.2, but we recently upgraded to 6.3.0 [here](https://github.com/TechEmpower/FrameworkBenchmarks/pull/2163). Closing for now, if I misunderstood and there's a different issue then please feel free to re-open!

[2016-08-15 15:15] #2196 closed

[2016-08-15 15:17] LinusU commented on #2196
Nice, this readme should probably be updated then:

https://github.com/TechEmpower/FrameworkBenchmarks/blob/master/frameworks/JavaScript/nodejs/README.md#infrastructure-software-versions

Submitting PR now

[2016-08-15 15:23] cjnething commented on #2196
Ok thanks!

[2016-08-16 15:46] knewmanTE commented on #2194
@mooman219 #2193 has been merged in! #2192 actually came up as the result of an internal discussion we had about the Rapidoid implementation.

[2016-08-17 20:43] bhauer commented on #2192
This change has been deployed to the results web site.

[2016-08-17 20:43] #2192 closed

[2016-08-18 23:39] #2194 closed

[2016-08-19 00:08] knewmanTE opened #2201 "Phoenix compilation failing on ":plug" dependency"
Doing a Phoenix run, I'm seeing it exit out with the following error:

[code]

[2016-08-19 06:00] martin-g commented on #2074
Unfortunately Wicket is still broken in the "production" environment: https://www.techempower.com/benchmarks/previews/round13/ :-(
Only Plaintext and JSONSerialization passed, for all others "Did not complete".

[2016-08-19 10:42] oberhamsi opened #2203 "round13 preview: ringojs shows up twice in results"
in all but the plaintext and JSON test-results, ringojs is listed twice as Test#191 and Test#189 (the additional ringojs-conv Test#190 is to be expected). The two results are very close and it seems the same setup was run twice.

I can't tell what's wrong with the code: there's only two ringojs folders and the benchmark_config.json seems fine.

https://github.com/TechEmpower/FrameworkBenchmarks/tr

[2016-08-19 17:22] stevedomin commented on #2201
Not sure if that would solve the issue but all the Elixir dependencies are in need of a serious upgrade (Elixir 1.1 -> 1.3, Phoenix 1.0.2 -> 1.2.1, etc.)

Happy to put a PR in if that helps?

[2016-08-19 17:27] knewmanTE commented on #2201
@stevedomin that would be great!

[2016-08-19 17:44] knewmanTE commented on #2203
If you mouse over the two tests, you can see that one of them is for "ringojs" and one of them is for "ringojs-raw." This explains why you're not seeing double occurrences of plaintext or JSON, because those tests are only specified in "ringojs." I believe you're right, though. If you look at the benchmark_config, they are both using the same setup script and hitting the same URLs, and since there

[2016-08-19 17:59] knewmanTE opened #2204 "RevenJ making bulk requests for Queries and Update tests"
RevenJ is getting very high results for Queries and Update because it is making bulk requests, rather than making each request individually, as the TFB docs specify ([see number 6](http://frameworkbenchmarks.readthedocs.io/en/latest/Project-Information/Framework-Tests/#multiple-database-queries)). We're currently hiding the RevenJ results from the official listings until this is resolved.

[code]

[2016-08-19 18:47] jkarni commented on #2074
servant is listed in the [preliminary round 13 results](https://www.techempower.com/benchmarks/previews/round13/#section=data-r13&hw=azu&test=json&l=8vn073) but not here (even though it failed some tests). The PR was merged into round-14, and discussion there seemed to suggest it wouldn't be included in round 13. Does the fact that it shows up in preliminary results mean it will?

[2016-08-19 19:55] zapov commented on #2204
Rule 6 states: "Since this test is designed to exercise multiple queries, each row must be selected individually by a query. It is not acceptable to retrieve all required rows using a SELECT ... WHERE id IN (...) clause."

Let me explain why Revenj is not violating this nor in the spirit, nor in the rules as stated above:
1) Revenj doesn't translate that query into id IN clause, but into multiple

[2016-08-20 03:13] taggedboy opened #2209 "Lwan used with SQLite, better to use it with MySQL"
I noticed one thing. The Lwan is used with SQLite, may be this is the reason for so poor single query and multiple query performance. Better to use it with MySQL or PostgreSQL.

[2016-08-20 07:18] zapov commented on #2204
And some more info to help you "fix" your stance on what Revenj is doing.

Tutorial about bulk read feature: https://github.com/ngs-doo/revenj/blob/master/tutorials/revenj-tutorial-bulk-reading.md

Your rules state queries, but here you are complaining about requests.
query != request

I really dislike that you hid the result without consulting me or the community; but it's not like I wasn't expec

[2016-08-20 18:28] methane commented on #2204
I agree that RevenJ's bulk read is unique and interesting.
But benchmark fairness is more important than such uniqueness.

It may violates the rule "each row must be selected individually by a query.".
Even using subquery, it fetches multi rows by a query.

So I think the rule should be more clarified.

[2016-08-21 07:06] zapov commented on #2204
I don't seem to follow the logic why Revenj implementation is unfair to others? Because it's more advanced and more faster? It doesn't break any rules as stated currently. subquery is a query.
It doesn't do IN (ids) in an alternative way, but supports loading of different tables. This should be real purpose of this test.

The underlying use case for this test is: How long does it take to do a serv

[2016-08-21 10:27] methane commented on #2204
No.  Because the rule doesn't clarify how to treat subquery.

Yes.  But query containing multiple query is also a query.
Subqueries doesn't fetch row, they only query about row. And single root query fetches all rows.
So it **may** or may not break the rule.  The rule is unclear about subquery.

I'm not against about accepting Revenj's result. Just saying rule should be clear about it.

[2016-08-21 10:54] methane opened #2213 "net.core.somaxconn is 128"
http://tfb-logs.techempower.com/round-13/preview-1/latest/logs/bottle-nginx-uwsgi/out.txt.gz
bottle-nginx-uwsgi failed to startup.

The log said:
[code]

[2016-08-21 11:14] zapov commented on #2204
Postgres doesn't have multiple results sets feature. Other DBs do. That makes your point "only single root query fetches all rows" kind of moot. As explained in the docs, Revenj idiomatic way is to let it create a function with multiple queries (which is not allowed in this bench). MSSQL will let you pass in batch queries.

Bottom line is that if the tests represents fetching 20 different data sou

[2016-08-21 11:37] methane commented on #2204
Ah!  All of Python and Go benchmarks doesn't use multiple resultset.
I'll use it when this is accepted by the rule explicitly.
Thank you for pointing it out.

Many round trips are very popular on large "production" applications.
So I think "test requires 20 roundtrip" doesn't go against "production usage", and make sense.

For example, `SELECT id, token, banned FROM user WHERE name=?` to check use

[2016-08-21 11:55] zapov commented on #2204
The point is you will do N queries until you have a performance problem and than you will optimize it into smaller number of queries.
What goes against production usage is not allowing frameworks to show that they can do batch reading.

The bottom line is this: is allowing multiple queries in same request beneficial to users looking at the results or not?
And I think it's obvious what the answer t

[2016-08-22 20:02] vkostyukov opened #2221 "Some of the Scala libraries don't play fair"
I was quite surprised to see that some of the Scala libraries we test here don't respect one of the major rules: a response payload should be created/allocated on each request.

Examples:
 - [colosus](https://github.com/TechEmpower/FrameworkBenchmarks/blob/master/frameworks/Scala/colossus/src/main/scala/example/Main.scala#L20) serves predefined payloads for both text and JSON (the JSON object is p

[2016-08-22 22:12] robertoestivill commented on #2195
I guess I will start answering myself based on trial and error.

Option 2) and 3) are a no go. The toolset expects a `default` named test. This kills the option of specifying all tests combinations in a single `benchmark_config.json` as we can not have a `jetty_default`, `tomcat_default`, etc.

Looks like option 1) is the only way to go.

[code]

[2016-08-22 22:29] bhauer commented on #2204
I have clarified the requirements for the Multi-query test as discussed on the Google Group mailing list here:

https://groups.google.com/d/msg/framework-benchmarks/nePDNY9jp-4/EtG6SswmFQAJ

Note that the intent of the Multi-query test has always been to make N round-trips to an external database server.  A single table is used as a simplification, as is a random number generator for selecting whi

[2016-08-22 22:45] bhauer commented on #2221
@vkostyukov Thank you for bringing these to our attention!  If you find others, please feel free to document them as well.

Of these, I believe the Colosus implementation of JSON should be resolved.  Implementations of the JSON test type should incur the cost of allocating memory/instantiating objects.  Please submit a PR to fix this if you have the time.  Thank you!

However, a pre-allocated buff

[2016-08-22 22:53] bhauer commented on #2209
We do not yet intend to render results from tests that use SQLite.  Doing so avoids the database round-trip that is expected for the database query tests.

In fact, performance using SQLite is typically dramatically higher than MySQL or Postgres precisely because there is no network communication with an external server.  But that is not what we had in mind when we constructed these test types.  A

[2016-08-22 22:53] #2209 closed

[2016-08-23 00:12] knewmanTE commented on #2203
Addressed in #2206

[2016-08-23 08:46] zapov commented on #2204
I think you fail to understand that your thinking of having to do N roundtrips to the database is a broken one.
If you took a look at my link which I added you could see that Revenj doesn't have to do N roundtrips for various scenarios. This allows you to implement branching logic within same request.

And this is normal production usage of Revenj.

My underlying point is that it would be benefici

[2016-08-23 09:35] methane commented on #2204
(Sorry, slightly off topic)

@zapov

Wow, that's great!
But [tutorial](https://github.com/ngs-doo/revenj/blob/master/tutorials/revenj-tutorial-bulk-reading.md) said:

How do you implement N branching logic without N round trip?

[2016-08-23 09:41] zapov commented on #2204
The current implementation does not support that. But I will evolve it into chained CTEs and then it will be able to use result of previous query.
I did not improve it as much because I mostly use reports, not this dynamic subqueries.

[2016-08-23 13:36] bhauer commented on #2204
I understand and the Multi-query test is not that test.  At the highest level, it is a proxy for any situation where N round-trips to an external system are necessary.  We happen to use a database because that is the most common external service.

I recommend making an argument to the community that a test that uses multiple ResultSets is worthwhile (in issue #133).

We also do not presently accep

[2016-08-23 15:35] msmith-techempower commented on #2195
The actual naming of the tests in `benchmark_config.json` is largely irrelevant, though you are correct that we expect exactly one `default` test (again, it does not really matter, so just pick one to be the default). The results website will use the metadata present in `benchmark_config.json` to distinguish the tests from one another.

We prefer that all implementations of a given framework (in t

[2016-08-23 15:52] robertoestivill commented on #2195
So what would be the `default` test mean then?
My plan was to have 4 default tests, one per supported webserver.
If I understood correctly, you are saying that If I rename one of those to `default`, the results will still consider the server/platform declared on that test?

[2016-08-23 16:00] msmith-techempower commented on #2195
`default` is a legacy way of running a single test. For example, when we started the suite, `gemini` only had a `default` test type that ran all of the tests. This allowed us to run the tool via `toolset/run-tests.py --test gemini` and it would use the `default` test in the `gemini` directory as the target.

If you want to run any test except `default`, you need to specify it with hyphens. For exa

[2016-08-23 17:01] vkostyukov commented on #2221
Thanks a lot @bhauer! Sorry, I missed that text/plain rule in the fist place.

I'm going to open a PR against colossus today. If it get's merged quickly, can we expect this change to be included in Round 13?

[2016-08-23 17:52] ckampfe commented on #2201
noting this here for future reference: https://github.com/TechEmpower/FrameworkBenchmarks/pull/2214

[2016-08-23 18:53] robertoestivill commented on #2195
Ok, makes sense now.
However, I don't think undertow is a good example of what you are trying to explain here.
There are 4 directories with different undertow configs. The first two (`undertow` and `undertow-edge`) have the exact same source code duplicated (with slightly different dependencies), exactly what I was trying to avoid to keep the tests maintainable.
Also, because there are on differen

[2016-08-24 02:52] knewmanTE opened #2235 "Some frameworks are overwriting the mongoDB world table: ffead-cpp, kelp, sabina"
Before running certain tests test, I am seeing results like this in my local mongoDB database (freshly dropped and rebuilt):

[code]

After running the tests, I am seeing results like this:
[code]

They appear to be using the <b>_id</b> field instead of the <b>id</b> and then overwriting the previous entry. I believe this may be causing some other MongoDB tests to subsequently break, as they might

[2016-08-24 16:06] msmith-techempower commented on #2235
:sigh:

@knewmanTE Can you investigate the equivalent of `GRANT SELECT, UPDATE ON...` in mongodb and then update our script to include that? Basically, the schema should be unalterable.

[2016-08-24 22:56] knewmanTE commented on #2235
@msmith-techempower I'm not sure if that is possible, given that MongoDB doesn't have a set schema for a database, but I'll keep looking around to see if I find anything along the lines of what we want.

[2016-08-24 23:22] #2213 closed

[2016-08-24 23:53] #2174 closed

[2016-08-24 23:59] nbrady-techempower commented on #2196
Merged in, thanks @LinusU

[2016-08-25 00:15] knewmanTE commented on #2221
@vkostyukov yes, we should be able to get your PR in for round 13!

[2016-08-25 01:02] knewmanTE commented on #2191
Resolved with #2238

[2016-08-25 01:02] #2191 closed

[2016-08-25 07:38] LinusU commented on #2196
No problem 👌

[2016-08-25 18:51] nbrady-techempower commented on #2074
@jkarni Sorry for the late response, due to the delay in getting the new servers set up we decided to push through a lot of work toward round-14 in to round-13. So yes, it will. The preliminary results contain some issues with setup that may have affected some tests. We have resolved those issues as well.

[2016-08-27 02:19] LadyMozzarella commented on #1997
See #2090

[2016-08-27 02:19] #1997 closed

[2016-08-27 02:37] LadyMozzarella commented on #2088
See #2111

[2016-08-27 02:37] #2088 closed

[2016-08-27 02:39] LadyMozzarella commented on #2092
See #2111

[2016-08-27 02:39] #2092 closed

[2016-08-27 02:51] LadyMozzarella commented on #2201
See #2214

[2016-08-27 02:51] #2201 closed

[2016-08-27 02:52] LadyMozzarella commented on #2203
See #2206

[2016-08-27 02:52] #2203 closed

[2016-08-27 02:54] LadyMozzarella commented on #2221
See #2231

[2016-08-27 02:54] #2221 closed

[2016-08-29 14:27] Jurigag opened #2248 "Phalcon micro ORM"
According to Round 12 phalcon micro is using full ORM while here in code - https://github.com/TechEmpower/FrameworkBenchmarks/blob/master/frameworks/PHP/phalcon-micro/public/index.php it's using `db` object which is not ORM, it should be RAW, it's actually just wrapper on php pdo object.

[2016-08-29 14:39] msmith-techempower commented on #1622
The rules in question have been updated to better represent their meaning.

[2016-08-29 14:39] #1622 closed

[2016-08-29 20:09] knewmanTE commented on #2041
Resolved with #2193

[2016-08-29 20:09] #2041 closed

[2016-08-30 01:07] knewmanTE commented on #2248
Good catch! Would you mind opening up a merge request with the fix in Phalcon's `benchmark_config.json` file?

[2016-08-30 05:09] Jurigag commented on #2248
Oh okay, no problem, wasn't sure what needs to be changed.

[2016-08-30 13:19] yogthos opened #2250 "Clojure Pedestal benchmark is not implemented correctly"
@msmith-techempower

The update benchmark [uses a `for`](https://github.com/TechEmpower/FrameworkBenchmarks/blob/2e8402fec98296e28e141a8135abff70c7da62bf/frameworks/Clojure/pedestal/src/pedestal/service.clj#L143) where the result is never consumed. Since `for` is lazy, it never actually runs. This is related to [this fix](https://github.com/TechEmpower/FrameworkBenchmarks/pull/2026) for the Compoj

[2016-08-30 14:07] msmith-techempower commented on #2248
I'm touching up all the `benchmark_config.json` files and have addressed this directly.

[2016-08-30 14:07] #2248 closed

[2016-08-30 14:08] msmith-techempower commented on #2250
@yogthos Thanks for the note.

Ping @k-r-g

[2016-08-31 02:31] nbrady-techempower commented on #2204
Resolved with #2249

[2016-08-31 02:31] #2204 closed

[2016-08-31 02:33] nbrady-techempower commented on #2113
Resolved with #2229

[2016-08-31 02:33] #2113 closed

[2016-08-31 02:35] nbrady-techempower commented on #2045
Closing this noting different test implementations.

[2016-08-31 02:35] #2045 closed

[2016-08-31 15:48] k-r-g commented on #2250
@yogthos I believe I have addressed this in PR #2253. Does this look okay to you? My intention was to make it match what Compojure and http-kit are doing.

[2016-08-31 16:18] yogthos commented on #2250
Yeah that looks great, and definitely agree that it makes sense for all three to have the same code.

[2016-08-31 16:20] k-r-g commented on #2250
Excellent. Thanks for finding this!

[2016-08-31 16:20] #2250 closed

[2016-08-31 19:31] jknack commented on #2074
Hi @nbrady-techempower,

 Don't see http://jooby.org here but the tests in Round 13 preview are marked as `did not complete`. Is there anything I need to do to see the results in 13 preview?

Thanks

[2016-08-31 19:50] nbrady-techempower commented on #2074
@jknack Hey, so I don't think there will be an issue with jooby. A bug was introduced that affected some databases and caused global problems. That has been resolved. We should have some data available shortly.

[2016-08-31 20:00] nbrady-techempower commented on #1979
Looks like this has been resolved.

[2016-08-31 20:00] #1979 closed

[2016-08-31 20:15] nbrady-techempower commented on #1880
I've done some research on this recently. Unfortunately the services section of travis is run before any scripts, including the before_install scripts so there's not much of a way around that for mongodb, postgres, and mysql. The dream scenario would be to build a matrix dynamically with `git diff` or the like ahead of time and has been brought up with the travis people; they simply don't have it

[2016-08-31 20:15] #1880 closed

[2016-08-31 22:38] jknack commented on #2074
@nbrady-techempower got it! thanks for your quick response!

[2016-09-01 18:12] knewmanTE commented on #2235
ping @naturalist @sumeetchhetri @jaguililla

[2016-09-03 10:10] jaguililla commented on #2235
Hello, Sabina framework is no longer maintained and I made a PR to delete it. Anyway, it was rejected for the Round 13.

About the problem, in the DTOs of my tests, the `id` field is mapped to `_id` to avoid duplicated fields (model `id` <-> mongodb `_id`).

This way in the 'update test' the row is overwritten with my test's model (losing the `id` field).

This can cause problems (duplicate IDs) s

[2016-09-08 07:03] CreaoticX opened #2262 "JSON serialization on the Query tests"
I have a question about the methodology on your Query tests.  Both tests require that the output be delivered in json.  I assume this is for validation purposes and you need a consistent method of output to validate.  However, wouldn't this necessarily bias these tests against any platform that already did poorly in the json test?

So I was wondering if it is acceptable to output the results in a

[2016-09-13 17:31] bhauer commented on #2262
Hi @CreaoticX.  Thanks for the thoughtful question.

The query tests predate the implementation of automated validation tests.  So while you are correct that today the JSON format gives us a convenient standard for our validation, that wasn't the original intent.  Originally, we simply wanted implementations to render results in JSON because it's one of the two most common outputs for a web applic

[2016-09-13 17:31] #2262 closed

[2016-09-13 18:25] CreaoticX commented on #2262
@bhauer I get your point.  And to be clear I wasn't saying that the response and the headers shouldn't still be done in JSON.  My point was more in how you get there.  To use an example to be a little more clear.  PHP >5.4 has the `JsonSerializable` interface built in.  It basically lets you define how an object is converted to JSON by returning an array of the parameters to be serialized instead

[2016-09-13 18:26] knewmanTE commented on #2235
@jaguililla sorry about that. I was looking back at the PR and it looks like there was some branching confusion. We'll remove sabina for the Round 13 Final run!

[2016-09-13 18:56] jaguililla commented on #2235
That's ok... could you also apply the other PR I did? To include the Hexagon framework ;)

[2016-09-13 19:00] knewmanTE commented on #2235
@jaguililla I believe Hexagon is already merged in! (see [here](https://github.com/TechEmpower/FrameworkBenchmarks/tree/master/frameworks/Kotlin/hexagon)).

We merged it into round-14 in early August, but ended up folding most of our round-14 changes into master (round 13) because there were some unexpected delays in getting round 13 results out to the public.

[2016-09-13 20:18] knewmanTE opened #2269 "Go/falcore breaking on concurrency tests"
If you start up a Go/falcore server and hit its endpoints, you get the correct results back, so the framework is passing all of the Verify checks. But if you start up a server and run a wrk simulation like this:
[code]

You get this error: `fatal error: concurrent map read and map write`

The result is that falcore gives results for the first couple levels of concurrency on its first test (JSON at

[2016-09-13 23:15] jaguililla commented on #2235
Hey... that's great! thank you very much!!!

[2016-09-14 20:53] #2269 closed

[2016-09-17 02:20] nbrady-techempower commented on #1479
I think this can be closed for #1500 though I still think we're a ways away from that. I'm working on travis and toolset changes currently, and will see if I can start moving things toward distro agnostic installations.

[2016-09-17 02:20] #1479 closed

[2016-09-19 18:06] knewmanTE commented on #2235
Hey @jaguililla, I've noticed that Hexagon has been failing to start up lately because of an issue with the Gradle Daemon (notably the plugin "org.hidetake.ssh"). Any chance you could take a look and see if it's a quick fix? This is the output I see when running a hexagon test:
[code]

[2016-09-19 20:44] jaguililla commented on #2235
My fault... let me fix it tomorrow

[2016-09-19 20:45] jaguililla commented on #2235
Thanks for noticing me

[2016-09-19 22:19] jaguililla commented on #2235
I upgraded the framework and scripts to the latest versions (TechEmpower/FrameworkBenchmarks#2280)  @knewmanTE

[2016-09-20 23:28] knewmanTE commented on #2235
No longer seeing this problem with ffead-cpp. Sabina resolved with #2268 and kelp resolved with #2276.

Closing this issue.

[2016-09-20 23:28] #2235 closed

[2016-09-21 00:35] knewmanTE opened #2284 "Error with aspnetcore service index"
The aspnetcore test is currently failing with the following error:
[code]

Of note appear to be these lines:
[code]

Any thoughts @nathana1? (also ping @damianedwards)

[2016-09-21 21:53] #2284 closed

[2016-09-22 19:33] knewmanTE opened #2287 "Go/fasthttp can't find package github.com/valyala/tcplisten"
All of the Go/fasthttp tests are failing because they can't find the package github.com/valyala/tcplisten. See test run output below:
[code]

ping @valyala

For reference, I'm seeing this on the Travis run for #2286 and am doing more thorough local testing, so it's possible this isn't a real concern.

[2016-09-22 20:06] knewmanTE commented on #2287
Closing this issue because I believe the issue might be with that PR and not with the current fasthttp implementation itself.

[2016-09-22 20:06] #2287 closed

[2016-09-27 16:12] nbrady-techempower commented on #2170
We should revisit this now. Since continuous benchmarking is in our very near future, we might be able to cultivate a mailing list of folks and pair them to a framework/language to receive notifications after a run. It might be possible to build something into a webapp that allows people to sign up/disable notifications for such things.

@ashawnbandy-te-tfb @knewmanTE

[2016-09-27 16:13] nbrady-techempower commented on #2195
I'm going to close this for now since we're currently doing work on the benchmark_config

[2016-09-27 16:13] #2195 closed

[2016-09-27 16:14] msmith-techempower commented on #2170
Agreed; try and get some traction from contributors.

[2016-09-27 16:23] nbrady-techempower commented on #2027
@k-r-g I think we do need to do that. I wonder what the best way to do this is. Since the random number is between 1 and 10,000, there's a .01% chance that the same random number will be rewritten. If they do 500 updates, that means there's a 5% chance that one number could remain the same? So we'd be failing the update verification 1 in 20 times. I'd think it would be reasonable to verify if a ce

[2016-09-27 16:23] nbrady-techempower commented on #2077
I've mostly taken care of this while fixing the Ruby frameworks.

[2016-09-27 16:23] #2077 closed

[2016-09-27 16:28] msmith-techempower commented on #2027
We COULD update the rules such that the random number that gets written back **must** be different than the one read.

This change would have a **LOT** (how do I make this bolder) surface area.

A smaller step would be to make returning the same number (during verification only) a warning. This would at least queue the contributor (and us as well) that there MAY be some chicanery to investigate.

[2016-09-27 16:42] k-r-g commented on #2027
I'm fine with just confirming that > 50% of the values changed. That is close enough. I have proof-of-concept code for this, but it needs to be refactored. Anybody want to take it over?

[2016-09-27 16:46] msmith-techempower commented on #2027
@k-r-g I don't like this idea.

Either you're adding complexity to the application code of every framework, and I find it unlikely that we have the legs to cover that surface area quickly, or you are doing this as a part of the suite during the benchmarking phase and that feels draconian as well.

This **feels** like a once-in-a-while issue that we could easily work into the verification phase of

[2016-09-27 16:48] steveklabnik commented on #2170
:eyes: :heart_eyes:

[2016-09-27 16:55] k-r-g commented on #2027
I'm certainly not talking about changing test implementations. I'm talking about changing the verification phase of the suite and issuing an error. If < 50% of the expected rows have been changed, this seems like it should be a verification error (not a warning) since the test is clearly not doing the work. I don't think it should be done during benchmarking, just during verification.

My proof-of

[2016-09-27 16:59] msmith-techempower commented on #2027
I guess I am not understanding properly. The application is issuing the queries and therefore the suite proper never sees the values returned from a database. Does your POC do like a `select * from World;` before and after the `UPDATE` test to ensure that 50% of the rows have different values for their `randomNumber` column?

[2016-09-27 17:00] k-r-g commented on #2027
Yes. Read all 10,000 rows into a map. Run test. Read all 10,000 rows again. Ensure > 50% have changed. Simple.

[2016-09-27 17:00] msmith-techempower commented on #2027
But the verification stage is only going to hit 521 random rows.

[2016-09-27 17:15] k-r-g commented on #2027
@msmith-techempower I don't follow. My code takes the provided number of updates to run, and ensures that at least 50% of that quantity have actually changed in the database. Since I don't think we're understanding each other, here is my code: https://github.com/TechEmpower/FrameworkBenchmarks/compare/master...k-r-g:verify-updates

Note that I haven't created a PR for this yet because it is hardco

[2016-09-27 17:25] k-r-g commented on #2027
To clarify, for my branch to be workable this needs to be fixed up to:
1) Use the test metadata to figure out what database type is being used (e.g., MySQL, Postgres, Mongo)
2) Use the benchmark config to get the connection info for the appropriate database.
3) Remove any stray print statements I left in there.
https://github.com/TechEmpower/FrameworkBenchmarks/compare/master...k-r-g:verify-update

[2016-09-27 19:27] anarcat opened #2294 "overhead for Python frameworks?"
it seems that the "framework overhead" tab does not yield any results for Python framework. i assume this is because there is no "python-raw" framework.. is that accurate?

if that is so, it seems to me a basic `python-raw` would be pretty useful. i am guessing those are just not implemented for:
- single query
- multiple query
- fortunes
- data updates

is that correct?

[2016-09-28 06:19] martin-g commented on #2170
java/Wicket -> @martin-g

[2016-09-28 08:30] valyala commented on #2287
This should be fixed by #2271 .

[2016-10-03 19:16] knewmanTE commented on #2074
Updated the table now that the following tests are fixed:

- Crystal/kemal
- Ruby/grape
- Ruby/padrino
- Ruby/rack
- Ruby/rails
- Ruby/rails-fixed
- Ruby/sinatra-sequel
- Scala/spray

[2016-10-03 19:43] knewmanTE commented on #1721
Closing this issue as this appears to have been resolved.

[2016-10-03 19:43] #1721 closed

[2016-10-03 19:56] knewmanTE commented on #1372
@lpereira any update on this?

[2016-10-04 12:39] Zloy commented on #2077
OK, it's time to close that issue

[2016-10-10 22:30] msmith-techempower opened #2300 "FastHTTP Benchmark Config"
This file includes urls for DB/etc for the default when only `json`/`plaintext` should be exercised, and the actual db implementations include `json`/`plaintext` when they should not.

https://github.com/TechEmpower/FrameworkBenchmarks/blob/master/frameworks/Go/fasthttp/benchmark_config.json

[2016-10-25 23:30] ashawnbandy-te-tfb opened #2318 "Build and install Ubuntu Tuned as part of suite set-up."
We are currently using [Ubuntu's Tuned](https://github.com/edwardbadboy/tuned-ubuntu)  in our production environment, in particular the `latency-performance` profile is active.  We should make this a part of the suite.  The setup process should download, compile, install and configure (if possible) tuned.

Additionally, we shoud check for the correct active profile at the beginning of the run.

[2016-10-26 08:21] Drawaes commented on #133
On SSL/TLS considering their importance and prevalence these days, has a test or test pack been devised yet for this?

[2016-10-29 08:30] zloster commented on #2034
@amichair There is a [special section](https://www.techempower.com/benchmarks/#section=environment) in the website with this information. Also [my comment here](https://github.com/TechEmpower/FrameworkBenchmarks/issues/1768#issuecomment-189443298) adds some clarifications about Amazon `vCPUs`. Note that I haven't check if Amazon haven't changed their definition of `vCPU`.

[2016-10-29 09:52] amichair commented on #2034
In the environment section, for peak it says "40 HT cores" which is good. For i7 it doesn't say anything. For EC2 it says "2 vCPU each" but doesn't mention how many cores/HT a vCPU is. That's exactly my point - it requires digging in the site, open issues like the one you linked to, Intel specs, Amazon specs, etc.

It would be nice if you just wrote this info right there in the environment page sp

[2016-10-29 16:16] spacewander opened #2325 "OpenResty result in Round 13 is not sane"
The default value of `worker_process` in [`nginx.conf`](https://github.com/TechEmpower/FrameworkBenchmarks/blob/master/frameworks/Lua/openresty/nginx.conf) is only one process.

Obversely, run just one process in multicore machine is wasteful. It explains why the result of OpenResty is terrible in Round 13.

Other web frameworks depend on nginx.conf also suffer from the same problem(PHP etc.).

[2016-10-30 01:56] methane commented on #2325
See here:
https://github.com/TechEmpower/FrameworkBenchmarks/blob/master/frameworks/Lua/openresty/setup.sh#L10

In many case, nginx is not bottleneck.  PHP uses most of CPU time and nginx won't use so much
CPU time. Increasing number of nginx processes just increases number of context swich.

There may be some exception, especially on machine having massive (16~) CPU cores.
But current setting is

[2016-10-30 09:27] spacewander commented on #2325
Thanks! I get it now.

[2016-10-30 09:27] #2325 closed

[2016-11-04 18:25] zhong-j-yu commented on #2192
@bhauer - my framework `bayou` is marked as stripped. I think that is a mistake. Is there any room for discussion, or it is entirely your discretion?

Here's my argument if it matters. As far as I can see, your decision is probably based on the two config parameters I set:

https://github.com/TechEmpower/FrameworkBenchmarks/blob/master/frameworks/Java/bayou/src/main/java/bayou/BayouServer.java

[2016-11-07 18:56] zloster opened #2338 "Spring/Java test metadata clarification"
Currently the [data states](https://github.com/TechEmpower/FrameworkBenchmarks/blob/master/frameworks/Java/spring/benchmark_config.json#L21): `"platform": "Servlet", "webserver": "Tomcat"`
But actually it is configured to use [`undertow`](https://github.com/TechEmpower/FrameworkBenchmarks/blob/master/frameworks/Java/spring/src/main/java/com/techempower/spring/SampleApplication.java#L32-L48). The [

[2016-11-07 18:59] msmith-techempower commented on #2338
If spring uses Undertow, then its platform should be Undertow.

[2016-11-08 07:07] #2338 closed

[2016-11-10 19:14] knewmanTE opened #2346 "Java/Permeagility not communicating with database server"
I noticed today that Java/Permeagility is [creating a local document database with OrientDB](https://github.com/PermeAgility/FrameworkBenchmarks/blob/master/frameworks/Java/permeagility/src/dbSetup.java). Though on the surface, OrientDB may seem similar to MongoDB, in our production environments, we have 3 separate machines: one for running the framework, one for generating the client load, and on

[2016-11-11 03:11] glennirwin commented on #2346
PermeAgility is designed around and tightly integrated with OrientDB's database and can use the built-in embedded database or a remote OrientDB database.  If there was a remote OrientDB database available configured for the benchmarks, I could hook it up to that but hooking it up to another database is not really what it is designed for other than to load data from other databases.

As database fu

[2016-11-11 18:47] knewmanTE commented on #2346
@glennirwin the main issue is that the database tests are used to simulate a scenario where a database is hosted on machine A and machine B is requesting information from it. If the database is already on machine B, then it isn't representing the same use-case.

We're definitely not opposed to OrientDB tests. It sounds like configuring a remote OrientDB database that PermeAgility can use is the be

[2016-11-11 19:01] msmith-techempower opened #2349 "Database/client Installation Process Improvement"
We have experienced a few issues lately with database installation in a few environments. Currently, the suite **looks** as if it has succeeded in installing all the database software, but in reality one or two components will have failed to install/setup correctly.

Update our suite:

1. Produce an output (like test results output - colorized etc) for ~~database~~client specifying success or what

[2016-11-14 22:45] Drawaes commented on #133
Is anyone looking at SSL/TLS I am happy to help as much as I can, but I think with most companies really starting to push this, it is a very important test for now and more so into the future.

[2016-11-15 18:26] msmith-techempower opened #2358 "Improve dstat usage"
Currently, we use `dstat` to capture system specifics during every test's benchmarking.

Improve our implementation to separate `dstat` invocations and save for each test type. That is, separate `dstat` for `json`/`db`/etc and stored along side the `raw` file as such.

[2016-11-17 17:50] msmith-techempower commented on #2035
`source_code` is a file for specifying which files for a framework are source files.

This was largely added because PHP frameworks would include the entire bootstrap source code for their framework as a part of the directory structure and were penalized for having **way** more sloc than anyone else.

We MAY have addressed this in large part with our dependency management stuff in the suite, and t

[2016-11-18 18:17] msmith-techempower opened #2364 "Ubuntu16 support"
Our `prerequisites.sh` file has many packages listed which do not exist/resolve/etc on Ubuntu16.

[2016-11-19 11:35] zloster commented on #2178
@knewmanTE Could you update the table about the Fortune test: `servlet (postgre-raw)`. My merge request is accepted (#2326).

[2016-11-19 12:10] zloster opened #2366 "Environment section of the results website"
I noticed the following problems:

- There is a difference between [the documentation repository](https://github.com/TechEmpower/TFB-Documentation/blob/master/docs/Project-Information/Environment.md) and the [current data](https://www.techempower.com/benchmarks/#section=environment);

- The Intel Xeon processor model cited for the DB server seems to be mistyped: it doesn't exist according to [Inte

[2016-11-20 18:13] ubershmekel opened #2367 ""None" framework has a line count?"
In `results.json` under `commitCounts` and `slocCounts` there is a benchmark called `None` though the `test_metadata.json` has no framework named as such.

https://tfb-logs.techempower.com/round-13/final/azure/results.json

It may be a slip of the Python `None` into either `self.test` or `gather_tests`, or perhaps a framework losing its name along the way.

https://github.com/TechEmpower/Framework

[2016-11-21 12:28] javieradorno opened #2368 "Spring + Thymeleaf"
Why have you chosen Thymeleaf as the templating model for the Spring tests?
JSP or Freemarker are up to 41x faster than Thymeleaf.
I can contribute to a test if you like me to.

[2016-11-24 12:20] kokizzu opened #2375 "Where is the kernel tuning configuration file?"
Is there exists? or the benchmark done without any kernel tuning?

[2016-11-24 19:15] AngeloRubens opened #2377 "Update Grizzly Version"
Update Grizzly-jersey and grizzly-bm to last version 2.3.28.
grizzly-jersey declare 2.3.23(release date: 10/Sep/15)
grizzly-bm declare 2.3.11(release date:24/Jan/14)

[2016-11-26 12:59] zloster commented on #2375
@kokizzu https://github.com/TechEmpower/FrameworkBenchmarks/blob/master/toolset/benchmark/benchmarker.py#L335-L421
Also see https://github.com/TechEmpower/FrameworkBenchmarks/issues/1408.

[2016-11-28 07:52] #2375 closed

[2016-11-28 19:04] bhauer commented on #133
I have added a "TCP heavy" test type number 22 in the list above.  This is based on feedback from Daniel Nicoletti here: https://groups.google.com/d/msg/framework-benchmarks/2LRga8pkm6E/YOqNI58lAgAJ

[2016-11-28 21:19] weltermann17 commented on #133
Hi Brian,

I have trouble with my Google account therefore a mail reply. I have
noticed that our framework "plain (Scala)" has vanished from all
benchmarks. Even though it was directly mentioned e. g. in the blog for
round 8 (and can be seen in the zoomed screenshot). Is there any reason for
that? Maybe because of it's unfortunate name? We are using it quite heavily
for a number of customers, but

[2016-11-28 22:56] romanoaugusto88 commented on #1295
@hamiltont Could you please link where there are the memory usage info?

[2016-11-28 23:56] knewmanTE commented on #2178
@zloster: done!

[2016-11-29 06:59] mwpastore opened #2381 "RVM broken in Travis on current master"
RVM appears to be broken on current master (4bd7b77) affecting at least some (Ruby/rack, Ruby/sinatra, and Ruby/sinatra-sequel) if not all of the Ruby tests. Travis halts while setting up RVM with the following prompt for input:

[code]

The full log can be found [here](https://api.travis-ci.org/jobs/179672528/log.txt?deansi=true).

Adding `export rvm_promptless=1` to `rvm.installed` before the `s

[2016-11-29 07:44] mwpastore commented on #2074
JRuby (9.1) appears to be working again after working around #2381.

[2016-11-29 15:33] LadyMozzarella commented on #2368
TechEmpower doesn't actively maintain each framework implementation and relies on the community to help keep each one up to date. Contributions are very welcome.

[2016-11-29 16:43] cjnething commented on #133
Hi @weltermann17 it looks like Scala (plain) was removed in [this PR](https://github.com/TechEmpower/FrameworkBenchmarks/pull/2275) because it wasn't working and no one could find documentation or evidence of maintenance. Pinging @knewmanTE for further help/next steps.

[2016-11-29 18:48] knewmanTE commented on #133
@weltermann17 in an effort to clean up the suite, we removed Scala/plain because it was failing our suite's tests and appeared to be unmaintained. I apologize if this wasn't the case! If you are able to get the Scala/plain tests working again, please open up a pull request to get it back in! You can find the code for our last known implementation [here](https://github.com/TechEmpower/FrameworkBenc

[2016-11-29 18:49] weltermann17 commented on #133
Hi Julia. Thanks for letting me know. Maybe I will add the current version. It's a pity though that the old results depend on your current config and are not stable. Regards.

Am 29.11.2016 um 18:23 schrieb Julia Nething <notifications@github.com>:

Hi @weltermann17 it looks like Scala (plain) was removed in this PR because it wasn't working and no one could find documentation or evidence of maint

[2016-11-29 19:38] knewmanTE commented on #2074
@mwpastore, It looks like JRuby was removed in #2277 because all of the JRuby tests were breaking. If it is working now, would you be able to open up a PR that adds the JRuby tests back in?

[2016-11-29 20:01] zloster commented on #2074
`grizzly-jersey` **Plaintext** seems to have runtime problems. See: https://github.com/TechEmpower/FrameworkBenchmarks/pull/2383#issue-192383588

[2016-11-29 20:04] mwpastore commented on #2074
@knewmanTE I'm happy to do so for the framework I maintain (sinatra-sequel), and in fact have a PR just about ready to go.

[2016-11-29 20:04] knewmanTE commented on #2074
@mwpastore awesome!

[2016-11-29 23:22] knewmanTE commented on #2366
Good catch @zloster! I will update the docs with our current environment information.

[2016-11-29 23:41] knewmanTE commented on #2366
Also, on the [TFB Site](https://www.techempower.com/benchmarks/#section=environment) there is a link to the [Xeon processor model](http://ark.intel.com/products/75272).

[2016-11-30 00:06] knewmanTE commented on #2366
Addressed in [this pull request](https://github.com/TechEmpower/TFB-Documentation/pull/49). Closing this Issue as I consider it resolved.

[2016-11-30 00:06] #2366 closed

[2016-11-30 18:50] #2377 closed

[2016-12-02 08:09] mfirry opened #2391 "Where should one push fixes?"
I'm trying to fix the benchmark for unfiltered, which did not run on round-13.
Should I push it to round-14 or master?

[2016-12-02 08:50] zloster commented on #2391
There is no more `round-14` [branch](https://github.com/TechEmpower/FrameworkBenchmarks/branches). You have to open pull request against the `master` branch.

[2016-12-02 09:08] mfirry commented on #2391
Awesome. Thanks.

[2016-12-02 09:08] #2391 closed

[2016-12-06 17:17] rkraman opened #2400 "Unable to run the Benchmark Suite Deployment commands"
Hello
I am trying to install the TechEmpower benchmark suite following the guide
http://frameworkbenchmarks.readthedocs.io/en/latest/Benchmarking/Getting-Started-Benchmarking/#benchmark-suite-deployment

To keep it simple I am starting with a single Virtual Box VM (Ubuntu 14.04 LTS 64-bit) and planned to install all 3 (DB, app server and client).

After getting the Ubuntu VM ready ran the command

[2016-12-06 17:23] msmith-techempower commented on #2400
That is terribly out of date; use [this](http://frameworkbenchmarks.readthedocs.io/en/latest/Development/Installation-Guide/) instead.

[2016-12-06 17:23] #2400 closed

[2016-12-06 17:41] rkraman commented on #2400
That is the exact link I have.  Once you go to the above link I click on the "Benchmark Overview" and use the Benchmark Suite Setup.  Is that wrong? Should I use only "Installation Guide" instead of "Benchmark Overview" section?

[2016-12-06 18:06] msmith-techempower commented on #2400
You should only refer to the "Installation Basics" section I linked you - it will get you set up correctly and able to run a framework test.

[2016-12-07 01:20] sfilargi opened #2401 "OCaml"
How come there are no OCaml tests?

Shall I create a PR to add `ocaml-cohttp`?

[2016-12-07 23:48] nbrady-techempower commented on #2401
@sfilargi Tests are generally provided by the community. If you don't see a test, it's just because someone hasn't submitted a working implementation. You are more than welcome to do so!

[2016-12-07 23:48] #2401 closed

[2016-12-07 23:49] nbrady-techempower commented on #2381
@mwpastore I have a complete overhaul of travis in the works that addresses this successfully. Waiting on another change coming soon to rebase and get that merged in. Thanks for pointing it out though!

[2016-12-07 23:49] #2381 closed

[2016-12-07 23:50] nbrady-techempower commented on #2368
PR is definitely welcome! Maybe as an additional test so you can prove out the 41x faster statement!

[2016-12-07 23:50] #2368 closed

[2016-12-07 23:51] #2117 closed

[2016-12-07 23:51] mwpastore commented on #2381
Fantastic! Thank you!

[2016-12-08 00:08] nbrady-techempower commented on #1519
I don't see where there may be a violation here. Though, both the rule and the framework have been updated since. Closing for now.

[2016-12-08 00:08] #1519 closed

[2016-12-08 00:09] nbrady-techempower commented on #1587
I don't see a direct fix for this right now. It's not causing any issues other than displaying that warning, and I still believe it was a mingw64 thing. Closing for now.

[2016-12-08 00:09] #1587 closed

[2016-12-08 00:23] nbrady-techempower commented on #2364
Moved to a new project: https://github.com/TechEmpower/FrameworkBenchmarks/projects/1

[2016-12-08 00:23] #2364 closed

[2016-12-08 00:24] nbrady-techempower commented on #2358
Moved to a new project: https://github.com/TechEmpower/FrameworkBenchmarks/projects/1

[2016-12-08 00:24] #2358 closed

[2016-12-08 00:27] nbrady-techempower commented on #2318
moved this to the roadmap: https://github.com/TechEmpower/FrameworkBenchmarks/projects/1

[2016-12-08 00:27] #2318 closed

[2016-12-08 00:28] nbrady-techempower commented on #1701
@msmith-techempower thinking this has been done, but if not, let me know and I'll add to roadmap.

[2016-12-08 00:28] #1701 closed

[2016-12-08 00:35] nbrady-techempower commented on #1489
dstat appears to also be cross-platform now

[2016-12-08 00:35] #1489 closed

[2016-12-08 00:38] nbrady-techempower commented on #1488
Adding to roadmap: https://github.com/TechEmpower/FrameworkBenchmarks/projects/1

[2016-12-08 00:38] #1488 closed

[2016-12-08 00:44] nbrady-techempower commented on #979
boom.

[2016-12-08 00:44] #979 closed

[2016-12-08 00:46] nbrady-techempower commented on #440
Closing this due to inactivity, though I think the Microsoft folks are doing a lot of work in this regard.

[2016-12-08 00:46] #440 closed

[2016-12-08 01:05] nbrady-techempower commented on #545
Looks like there isn't much discussion left surrounding this? Seems like the right thing to do. Moving it to the roadmap: https://github.com/TechEmpower/FrameworkBenchmarks/projects/1

[2016-12-08 01:05] #545 closed

[2016-12-08 01:10] nbrady-techempower commented on #810
SPDY now deprecated. Closing for now.

[2016-12-08 01:10] #810 closed

[2016-12-08 01:11] nbrady-techempower commented on #506
Woo, this is almost done! And in the "In Progress" section of the roadmap: https://github.com/TechEmpower/FrameworkBenchmarks/projects/1

[2016-12-08 01:11] #506 closed

[2016-12-08 01:17] nbrady-techempower commented on #1073
This currently works, though we need to get mounting/binding working. That's on the roadmap. https://github.com/TechEmpower/FrameworkBenchmarks/projects/1

[2016-12-08 01:17] #1073 closed

[2016-12-08 01:18] nbrady-techempower commented on #1143
I believe this is no longer relevant.

[2016-12-08 01:18] #1143 closed

[2016-12-08 01:34] nbrady-techempower commented on #315
Closing this due to inactivity. I'm not sure this provider is being used anymore but it's been inactive for at least 3 years.. and the aspnet core guys have been making big changes.

[2016-12-08 01:34] #315 closed

[2016-12-08 01:35] nbrady-techempower commented on #370
I think this has been done?

[2016-12-08 01:35] #370 closed

[2016-12-08 01:39] #85 closed

[2016-12-08 01:41] nbrady-techempower commented on #1067
This has been resolved

[2016-12-08 01:41] #1067 closed

[2016-12-08 01:42] #1097 closed

[2016-12-08 01:48] nbrady-techempower commented on #955
I've moved this to the roadmap https://github.com/TechEmpower/FrameworkBenchmarks/projects/1

[2016-12-08 01:48] #955 closed

[2016-12-08 01:57] #491 closed

[2016-12-08 01:59] #1467 closed

[2016-12-08 02:08] #953 closed

[2016-12-08 02:16] nbrady-techempower commented on #1382
I'm going to close this for now, as the way we install databases is about to change. I think that change also excludes an cassandra installation. So we can approach this as a new database when that merge happens.

[2016-12-08 02:16] #1382 closed

[2016-12-08 02:30] nbrady-techempower commented on #1387
Moving this to the ongoing column of the roadmap https://github.com/TechEmpower/FrameworkBenchmarks/projects/1

[2016-12-08 02:30] #1387 closed

[2016-12-09 05:42] rkraman opened #2404 "AWS Deployment error"
I want to setup the benchmark development environment in AWS.  I installed vagrant 1.9.1 and installed the aws plugin.  Later from the vagrant-development directory ran the command
**_vagrant up --provider aws_**

I got the following error message:

![image](https://cloud.githubusercontent.com/assets/24415607/21038836/9bde6554-bd9e-11e6-888f-f9ad86949d52.png)

I am not sure where it gets the ami-f

[2016-12-09 06:05] rkraman commented on #2404
I even tried the previous generation instances (m1.medium, m1.large) etc.  Still getting the same **_ami-f6bf6h9e_** not found error.
https://aws.amazon.com/ec2/previous-generation/

[2016-12-09 15:51] nbrady-techempower commented on #2404
@rkraman we're going through a bit of a transition with the toolset and vagrant. If you want to get up and running on aws (I just tested this recently), spin up an ubuntu 14.04 instance and follow the instructions here: http://frameworkbenchmarks.readthedocs.io/en/latest/Development/Installation-Guide/

If you run in to any issues installing let me know and I can help you through that. I'm finishi

[2016-12-09 15:57] nbrady-techempower commented on #2404
I've also added following up on Vagrant deployments to the roadmap here. https://github.com/TechEmpower/FrameworkBenchmarks/projects/1

If you don't have an aws account (you can make one and do the t2.micro free for several months) you can use vagrant/virtual box on windows. That setup currently works.

[2016-12-09 15:57] #2404 closed

[2016-12-09 17:11] rkraman commented on #2404
**@nbrady-techempower** Thanks for your response.
I did not understand what you mentioned above.  I will explain in detail my setup and ask my questions.
Created a bare metal server [Windows 2012 Server]
Installed VirtualBox 5.1.10
Installed Vagrant 1.9.0
Installed Git
Downloaded the TechEmpower framework from github
From the vagrant-development directory, ran the command **vagrant-up**

All the i

[2016-12-09 18:53] nbrady-techempower commented on #2404
@rkraman I noticed the the apt sources list was different on aws than it was for most ubuntu installs that I had been working with. In other words, any `apt-get installs or updates` were grabbing from a slightly different source. To fix this, I replaced `/etc/apt/sources.list` with one from a machine I knew was working. I might try and copy the file from your successful vagrant box, to aws and try

[2016-12-09 19:37] javieradorno commented on #2368
OK, I'll get my hands on it!

[2016-12-15 22:21] #2349 closed

[2016-12-16 03:10] rkraman commented on #2404
@nbrady-techempower
I tried to run a sample test in my vagrant VM box and got the result
**toolset/run-tests.py --install server --test nodejs-postgres --type query**

I wanted to know how to view the results using a GUI.  I got the info that I can paste the results.json data in the below URL.  I did that and nothing happened.  The screen did not show any error message either.
 https://www.techemp

[2016-12-16 17:05] msmith-techempower opened #2411 "Successive fw_depends calls break reporting"
If you have `foo` which calls `fw_depends bar`, and in `bar` there is `fw_depends baz`, the logging/reporting all bubbles up to `bar` as the dependency.

Specifically, this is a problem in that any errors are reported incorrectly as `bar` failing when it could be `baz` that is failing.

[2016-12-16 20:16] rkraman opened #2412 "Unable to visualize benchmark results"
Hello,

In TechEmpower Google forum got the information that to view the benchmark results that is run locally I had to paste the results.json file in the following website:
**https://www.techempower.com/benchmarks/#section=test**

I ran the following test
**toolset/run-tests.py --install server --test nodejs-postgres --type query**

Got the results.json and pasted it in the above URL.

I am using

[2016-12-16 21:39] knewmanTE commented on #2412
Hmm, I am also able to reproduce the issue. I will investigate. Thanks for bringing this to our attention!

[2016-12-18 00:23] rkraman commented on #2412
@knewmanTE.  Thanks for looking into this.
Do we an alternate method to view the result or is this the only one.
If this is the only one can I get an approximate date for the fix.

-RR

[2016-12-19 17:40] knewmanTE commented on #2412
@rkraman, our developer who handles the website will be out of the office for a couple weeks for Christmas, so it might take a bit of time for the issue to get resolved.

If you are okay with just viewing numbers and not necessarily getting the visualization, you can view the results of any run. If you look in `results/<TIMESTAMP>/logs/nodejs-postgres/<TEST>/raw`, you should be able to see the req

[2016-12-21 23:34] rkraman opened #2418 "Benchmark Development environment setup not working"
Hello

I am trying to follow the development environment setup script as per the instructions given in the URL
**http://frameworkbenchmarks.readthedocs.io/en/latest/Development/Installation-Guide/#installation-basics**

After pulling the latest Framework code from Github found that the
run-tests.py file under toolset has significantly changed.

I compared with what I had in my vagrant development

[2016-12-22 15:01] nbrady-techempower commented on #2418
@rkraman This was addressed yesterday. Please pull from the latest master and do a `vagrant up` from the `vagrant-development` directory. Should be good to go! Let me know if you have any other issues. :)

[2016-12-22 15:01] #2418 closed

[2016-12-22 15:23] rkraman commented on #2418
@nbrady-techempower Thanks for the update.  Yes I was tracing the Github updates and looks like #2409 removed that option.
The documentation still says that I need to setup load server and database
Guess I can ignore those steps and directly run the test.
______________________________________
![image](https://cloud.githubusercontent.com/assets/24415607/21430186/a9bf2a94-c827-11e6-898e-058e3defb00

[2016-12-22 15:25] nbrady-techempower commented on #1809
Hi @ashotmuradian. If this is still relevant we would love it if you opened a pull request for it. Next round previews are starting soon. Thanks!

[2016-12-22 15:25] #1809 closed

[2016-12-22 15:53] nbrady-techempower commented on #2418
@rkraman Yes you can ignore those instructions. I will be updating the documentation this week. Thanks for pointing those out.

[2016-12-22 22:41] nbrady-techempower commented on #2411
@msmith-techempower Do you have a specific example where this happened? Assuming I understand the problem correctly I tried to reproduce as such:

in `postgresql.sh` i made an `fw_depends somenonsense` and then ran `gemini-postgres` which does and `fw_depends postgresql`. `fw_depends somenonsense` reported the error.

[2016-12-27 23:58] jaguililla opened #2434 "Unable to run hexagon-resin test"
@knewmanTE  @nbrady-techempower @LadyMozzarella  This is the issue for the problem with PR #2421

# Description

The standalone test of Hexagon is working, however, the Resin one is not working.

Tapestry Resin test is working so I trimmed my test to be as close as possible to theirs.

Even in that case the test fail (timeout connecting to Resin: `127.0.0.1:8080`).

I downloaded the generated WAR

[2016-12-28 15:46] nbrady-techempower commented on #2434
Great information @jaguililla ! I will take a closer look at this today!

[2016-12-28 15:48] nbrady-techempower commented on #2300
@msmith-techempower I'm guessing it is ok though for a "default" test to include db tests? Just doesn't make sense for the json/plaintext test in db only  tests?

[2016-12-28 18:08] nbrady-techempower commented on #2434
@jaguililla After running your resin test, I don't see any `resin-web.xml` or `web.xml` files in `$RESIN_HOME/webapps/ROOT/WEB-INF/`

How are you configuring the db / db drivers with resin?

[2016-12-28 18:52] nbrady-techempower commented on #1727
Will accept pull requests for this if it's still applicable

[2016-12-28 18:52] #1727 closed

[2016-12-28 18:55] nbrady-techempower commented on #1277
The only problem with this is if you fork the repo and create your own test branches, those also would not run.

From here on there shouldn't be any branches other than `master` and whatever we decide the current frozen round branch will be called.

Also, to skip travis runs you can add `[ci skip]` in commit messages.

[2016-12-28 18:55] #1277 closed

[2016-12-28 18:57] nbrady-techempower commented on #1511
Moved this to the toolset roadmap https://github.com/TechEmpower/FrameworkBenchmarks/projects/1

[2016-12-28 18:57] #1511 closed

[2016-12-28 19:09] jaguililla commented on #2434
* I'm connecting to MongoDB directly from the code using `mongodb-java-driver`
* The WAR does not contain a `web.xml` descriptor because the components are configured by annotations (the WAR works ok in my Resin 4.0.49 :)

It seems to be failing because of a timeout (does It reach the webapp?). Could it be the network interface of Resin? or the user that started the process? I don't know... just g

[2016-12-28 19:22] nbrady-techempower commented on #2434
The parent directory of the framework shouldn't matter here. `Clojure/` tests also use resin successfully. The users that start the process for the other frameworks are the same here as well.

[2016-12-28 19:31] jaguililla commented on #2434
I have no clue :( it works in my local resin, but it fails in vagrant-development

[2016-12-28 19:37] nbrady-techempower commented on #2434
Have you made any changes to your local resin conf files?

[2016-12-29 14:20] jaguililla commented on #2434
No, just unzipped Resin and deployed the war

[2016-12-29 17:08] nbrady-techempower commented on #2434
@jaguililla I've tracked this down to an issue in the python requests module. I'm going to look in to making some quick changes. But this does not seem to be related to your framework. I'll ping you when I have more information.

[2016-12-29 18:53] nbrady-techempower commented on #2434
@jaguililla Ok, so a little more digging. I thought it might be an issue with the headers. After looking at some verbose logging from resin, I'm getting headers back from you but the connection is being kept-alive when using python's requests module. However, when testing tapestry, the connection is closing properly.

Upon further inspection it looks like your response is actually disconnecting to

[2016-12-31 01:09] nbrady-techempower commented on #2034
Nothing wrong with this. Probably won't be any big updates to the current results website but I've got a TODOs going in the roadmap for a new results page. We may end up with some patches to the current results site in the meantime.
https://github.com/TechEmpower/FrameworkBenchmarks/projects

[2016-12-31 01:09] #2034 closed

[2016-12-31 01:16] nbrady-techempower commented on #579
Added this to the results website roadmap https://github.com/TechEmpower/FrameworkBenchmarks/projects

[2016-12-31 01:16] #579 closed

[2016-12-31 01:21] nbrady-techempower commented on #1500
Probably right about most of the setup files becoming distro specific but I'll add this to the future/ideas column in the roadmap

[2016-12-31 01:21] #1500 closed

[2016-12-31 01:24] #1202 closed

[2016-12-31 01:37] nbrady-techempower commented on #1949
I've added this to the toolset roadmap. https://github.com/TechEmpower/FrameworkBenchmarks/projects

Would like to get this back up.

[2016-12-31 01:37] #1949 closed

[2016-12-31 01:38] #2346 closed

[2016-12-31 01:40] nbrady-techempower commented on #2346
Now that the toolset has changed some, some of this doesn't apply. Welcome to create a OrientDB setup in the toolset the same way mongo, postgresql and MySQL are done

[2016-12-31 01:53] nbrady-techempower commented on #1502
Closing this but will add it to the current column in the toolset roadmap

[2016-12-31 01:54] #1502 closed

[2016-12-31 02:05] #1434 closed

[2016-12-31 02:07] nbrady-techempower commented on #94
Kicking to the roadmap

[2016-12-31 02:07] #94 closed

[2016-12-31 02:14] #1469 closed

[2016-12-31 02:19] nbrady-techempower commented on #1414
Gonna put this on the toolset roadmap since we are pretty much there with continuous.

[2016-12-31 02:19] #1414 closed

[2016-12-31 03:39] dgryski commented on #1469
It might be interesting to profile with the new lock-contention profile in 1.8: https://rakyll.org/mutexprofile/

[2017-01-03 14:57] nbrady-techempower commented on #1124
Moving to the roadmap

[2017-01-03 14:57] #1124 closed

[2017-01-03 19:18] dantti opened #2473 "Install databases based on benchmark_config.json"
Currently one needs to explicit tells which database software it needs `fw_depends mysql postgres mongo`, this information is duplicated with **benchmark_config.json**.
Some frameworks including mine installed all required databases and depending on the URL called one or the other, this is bad since more databases means more resources, means it's more complex to use the testing framework on other

[2017-01-03 19:29] msmith-techempower commented on #2473
A simple short-term fix for this is to have nearly identical duplicated setup files, each containing only the database upon which they require.

The `fw_depends` database stuff should not impact any particular framework in terms of performance, so I don't really see this as an issue.

[2017-01-03 19:30] msmith-techempower commented on #2473
That said, it would be pretty slick to no longer require `fw_depends mysql` and instead that be called automatically be the suite based on the `benchmark_config.json` entry being run; if the suite sees 'MySQL', it would invoke `fw_depends mysql` prior to entry of the setup file.

[2017-01-04 18:28] msmith-techempower opened #2478 "ffead not installing correctly"
@sumeetchhetri We are seeing errors when trying to build `ffead-ccp-nginx`

Specifically, it seems there is a linking error when trying to issue `make install` for `nginx-1.11.3` when searching for `libmongoc-1.0.so.0` and `libbson-1.0.so.0`.

Additionally, you should not need to use `sudo` for the majority of the `make install` calls since they should all be rooted in `$IROOT`.

[2017-01-07 00:48] rkraman opened #2482 "Cannot run nodejs-postgres without running nodejs"
Downloaded the latest code today and created a vagrant development environment and ran the test for nodejs-postgres
**toolset/run-tests.py --test nodejs-postgres**
This gives an error for MongoDB and the test fails and stops.
The output log file can be found here:  http://sprunge.us/XUQC

Deleted the vagrant image, created a new one and this time first ran the default test
**toolset/run-tests.py -

[2017-01-07 03:35] nbrady-techempower commented on #2482
At the time this implementation was written, our test suite had all databases already loaded and accepting connections. We recently changed this so that frameworks would only load the databases they need and also make sure there was fresh starting data in the db. Because there's only 1 `package.json` and imports are happening for all dependencies on all tests, each test seems to be testing for oth

[2017-01-07 17:53] #2482 closed

[2017-01-08 02:49] #1433 closed

[2017-01-08 02:52] #409 closed

[2017-01-08 02:59] nbrady-techempower commented on #126
Added to toolset roadmap https://github.com/TechEmpower/FrameworkBenchmarks/projects/1

[2017-01-08 02:59] #126 closed

[2017-01-08 03:00] #55 closed

[2017-01-09 18:07] bhauer commented on #2412
@rkraman Sorry about that.  It should be fixed up now.

The issue was caused by a recent change to the rendering site that replaced the individual tabs for environment types (i7, AWS, etc.) with tabs for environment flavors (physical, cloud).  The "test" feature wasn't set up to impersonate an environment flavor at all.

[2017-01-09 18:07] #2412 closed

[2017-01-09 19:14] nbrady-techempower commented on #2367
This appears to be collecting lines from tests that have the framework listed as None in its `benchmark_config.json`. We are working on cleaning up the `results.json` now. Thanks for pointing it out!

[2017-01-09 19:14] #2367 closed

[2017-01-09 22:39] msmith-techempower opened #2491 "Make Travis-CI script smarter about dependencies"
Update our Travis-CI scripts to be more intelligent about situations in which dependencies are updated.

For example, if `toolset/setup/linux/languages/dotnetcore.sh` is updated, only collect tests which have `dotnetcore` in the `fw_depends` line.

[2017-01-10 16:06] nbrady-techempower commented on #2491
Here's how I see the scope of this work, and what I'd like this to look like:

## Travis-CI Diffing Tool

#### Should be moved to the travis folder
Right now this is called `run-ci.py` which runs the diffing tool then runs run-tests.py with the gathered tests. This runs every time, for each matrix entry. Let's first move this to the travis folder, call it something like travis-diff.py and it shoul

[2017-01-10 16:16] msmith-techempower commented on #2491
Love it.

This is only cached for the tests in the current job, right? If so, this sound correct.

About 10,000,000% this. In fact, you could do this in the `before_script` stage, probably, and avoid **lots** of cruft.

Yes, but we may (in a future change) need **something** 🤷‍ to manually kick off a forced entire run. Adding a space to `bash_functions` feels hacky, but it'll work for now, I guess

[2017-01-10 16:19] nbrady-techempower commented on #2491
Travis has a command to automatically skip doing any travis runs: `[ci-skip]` in the commit message. So to do a full run on all matrix tests we can do something similar like `[ci-run]` and check for that commit message in step 1.

[2017-01-11 19:23] #2478 closed

[2017-01-11 19:28] msmith-techempower commented on #2074
@nbrady-techempower What is the status of this task? Can we close this?

[2017-01-11 19:28] msmith-techempower commented on #1908
This hasn't been touched in almost a year; can this be closed or is this on-going?

[2017-01-11 19:32] msmith-techempower commented on #1668
Is this still an issue? The commit to fix it in Travis uses the same line as in `benchmarker.py`.

I think I am going to close this (bookkeeping), but reopen if there is still more to be done.

[2017-01-11 19:32] #1668 closed

[2017-01-11 19:33] msmith-techempower commented on #1608
What would this do, exactly?

[2017-01-11 22:06] #1408 closed

[2017-01-11 22:07] msmith-techempower commented on #1337
No longer relevant as `testrunner` was retired.

[2017-01-11 22:07] #1337 closed

[2017-01-11 22:09] msmith-techempower commented on #1342
Seems to be a BIOS issue which we cannot fully control; closing for now.

[2017-01-11 22:09] #1342 closed

[2017-01-11 22:10] msmith-techempower commented on #1159
I think this is fine; closing for now.

[2017-01-11 22:10] #1159 closed

[2017-01-11 22:11] msmith-techempower commented on #1140
Seems to be resolved.

[2017-01-11 22:11] #1140 closed

[2017-01-11 22:30] msmith-techempower commented on #309
Does not appear to be an issue; confirmed with #2492

[2017-01-11 22:30] #309 closed

[2017-01-11 22:58] nbrady-techempower commented on #2074
Yessir!

[2017-01-11 22:58] #2074 closed

[2017-01-11 23:02] nbrady-techempower commented on #1908
I think this can be closed for now since there does t seem to be any work on it or new conversation. The eventual move to ubuntu 16.04 and python 3 for the toolset might inspire more conversation.

[2017-01-11 23:02] #1908 closed

[2017-01-11 23:07] GMLudo commented on #1908
Hi,

I'm not dead ;-), I've planned to contribute for round 14, especially because we have several improvements now with Python 3.6, uvloop, sanic...
I've made some branches, I'll plan to create PRs before FOSDEM.

Have a nice week.

[2017-01-11 23:20] nbrady-techempower commented on #1908
Hey @GMLudo! We've made some recent changes to the toolset as well and cleaned up some things so if you need anything please let us know!

[2017-01-12 09:36] GMLudo commented on #1908
Awesome ! I'll check that soon :-)

[2017-01-12 18:24] msmith-techempower opened #2494 "Remove run-tests.py arguments"
1. ~~`run-tests.py` accepts a number of command line arguments which serve the same purpose as keys in `benchmark.cfg`; remove those arguments from `run-tests.py` and leave only arguments which augment the running of the application (clean, test, mode, etc).~~

2. ~~Add argument to run all tests in a framework directory (e.g. `tfb --framework gemini` will be functionally equivalent to `tfb --test

[2017-01-13 06:29] mwpastore opened #2496 "Upgrade kernel version in Vagrant configuration"
I would like to see us `apt install linux-hwe-virtual-trusty` somewhere in the Vagrant configuration to bring the kernel up to 4.4-longterm. The 3.13 kernel that comes with ubuntu/trusty64 is EOL. Travis appears to be running with this kernel as well.

[2017-01-13 14:18] nbrady-techempower commented on #2496
@mwpastore Upgrading the kernel on vagrant would add several minutes to the installation, and I'm not sure what benefits it would provide in that environment since this would be primarily for security/hardware? There might be an image from vbox set up this way; I can look in to that. Nonetheless, a move to 16.04 and the xenial kernel *shouldn't* be too far off.

ping @msmith-techempower for though

[2017-01-13 14:47] mwpastore commented on #2496
I'm sure there were probably one or two improvements to userspace performance and stability between 3.13 and 4.4. :smile: The big feature for me is gaining the MemAvailable key in /proc/meminfo, which can be used to scale [Puma](http://puma.io/) workers to the available memory.

[2017-01-13 15:44] msmith-techempower commented on #2496
Oof... would this be part of the prerequisites file? I am always hesitant to do anything that cannot be easily included as a part of our build-up; our setup instructions already include too much "now type in these commands into bash!"

[2017-01-13 15:46] nbrady-techempower commented on #2496
@mwpastore http://www.phoronix.com/scan.php?page=article&item=linux-44-19way&num=1 I'd be interested in your thoughts on this.

@msmith-techempower It could be included in the vagrant boostrapping or common, but I'm still :shrug: I don't think anyone is doing real performance testing with our vagrant set ups, are they?

[2017-01-13 15:48] msmith-techempower commented on #2496
Specifically, if we are going to do it to **an** environment, we should do it to **every** environment in a general way.

For example, if there is an update to the network stack as a part of the kernel update, then the results would differ from environment to environment.

Foot down: if we're going to do it, it should be done everywhere.

[2017-01-13 15:48] mwpastore commented on #2496
@msmith-techempower I think it would just be in the Vagrantfile somewhere, like when we do [`apt-get install git`](https://github.com/TechEmpower/FrameworkBenchmarks/blob/f9c9793a4b8e1f3006405db6ae2a4cf9a07983da/deployment/vagrant-common/bootstrap.sh#L94), add `linux-hwe-virtual-trusty` as well. It would require a reboot (or reload) to be effective, but the VM would work fine on the old kernel unt

[2017-01-13 15:51] #2491 closed

[2017-01-13 17:58] ubershmekel opened #2499 "Latency benchmarks seem to display wrong numbers"
In designing a real time system - I only really care about latency maximum. There's no way to link directly to the latency table but if you click to it yourself here: https://www.techempower.com/benchmarks/#section=data-r13&hw=ph&test=plaintext

* The sort order seems random and the numbers themselves seem wrong too. Even though you cite the error counts - it doesn't add up. It's definitely not av

[2017-01-13 18:03] msmith-techempower commented on #2499
I don't know that I can answer this question satisfactorily for your needs, but I would point you to the raw `wrk` captures when you need to see what we get from latency.

[Here](https://tfb-logs.techempower.com/round-13/final/servercentral/results/20161111185139/plaintext/echo-prefork/) is one pretty much picked at random that is a top performer; take look at the `raw` file (it's plaintext, no id

[2017-01-13 18:04] msmith-techempower opened #2500 "Several results files have no extension"
`raw` and `stats` should be `raw.txt` and `stats.txt` to help browsers (and our gzipping) deal with them better.

[2017-01-13 21:58] nbrady-techempower opened #2503 "rust/tokio-minihttp framework failing"
@gkbrk Wanted to ping you for this. Looks like the fw is failing here all of a sudden. Is the `revision` portion of the `Cargo.toml` working correctly or is it pulling from `latest`?

[2017-01-14 02:52] methane commented on #2499
@ubershmekel You shouldn't compare of latency when request/sec is different.
Currently, we use wrk to measure throughput.
To measure latency, you should use tool making constant load, and choose load rate carefully
to avoid measuring (wait queue length / throughput).

* https://github.com/rakyll/hey
* https://github.com/tsenart/vegeta

When wrk generates too high load than application can accepts,

[2017-01-14 03:10] methane commented on #2499
Plaintext benchmark is worst case for measuring latency.  It uses pipelined request.
It uses too large concurrency than number of CPU cores.

[2017-01-14 05:17] ubershmekel commented on #2499
Interesting info @msmith-techempower and @methane. Thank you. It seems the latency data is only broken for the plaintext benchmark because of the network saturation. Perhaps the measurement for plaintext latency needs to be done only at a low level of concurrency.

I can make do with the other benchmark latency numbers. Perhaps until a fix is in place the latency numbers for `Plaintext` should get

[2017-01-14 05:53] methane commented on #2499
When throughput is 10req/sec and concurrency is 100, latency of steady state is 100 / 10 = 10 [sec].

If you want to measure latency, concurrency should be smaller than number of CPU cores.
Latency is meaningful only when load doesn't saturate throughput.

In other words, latency of other benchmarks are bad information too.
It may be better than plaintext's latency, but it's still bad information.

[2017-01-14 06:22] methane commented on #2499
While website shows latency of max concurrency (which I dislike), raw file contains
data for low concurrency.  For example, flask-py3:

[code]

I like 90% and 99% latency of concurrency=8.

[2017-01-14 15:56] ubershmekel commented on #2499
@methane I agree that average throughput is equivalent to average latency. That's a good reason why the  `latency` tab should not sort by `average latency` because it wouldn't add information.

I think it would make sense to first measure the peak throughput of every stack and then measure the latency at half that rate. That would guarantee a non-saturated measurement appropriate for each stack. T

[2017-01-14 21:16] gkbrk commented on #2503
Oh I think it might be pulling from latest. I probably wrote the wrong thing, I will compile it and commit the Cargo.lock so every single dependency is locked.

[2017-01-14 21:41] gkbrk commented on #2503
@nbrady-techempower It should be fixed now.

[2017-01-15 02:30] #2503 closed

[2017-01-16 14:18] nbrady-techempower commented on #2494
@msmith-techempower We can probably close this after you review and merge #2502 and maybe hold off on `--parse` until the `results.json` structure is done.

[2017-01-16 14:20] nbrady-techempower commented on #1559
Think this can be closed now

[2017-01-16 14:20] #1559 closed

[2017-01-16 15:36] msmith-techempower commented on #2494
Agreed

[2017-01-20 10:42] zzeroo opened #2511 "-bash: /home/vagrant/toolset/run-tests.py: No such file or directory"
Steps to reproduce the error (copy from the official README):

[code]

Expected: The test should start

Error, I got instead:

[code]

My environment is:

[code]
[code]

[code]

[code]

[2017-01-20 19:57] msmith-techempower commented on #2511
This is **probably** related to using `pwd` when running `prerequisites.sh`.

Assigning to @nbrady-techempower

[2017-01-21 04:29] zzeroo commented on #2511
Ok this solves the issue.

For the record, a quick fix to get a running system

[code]

[2017-01-21 04:29] #2511 closed

[2017-01-27 19:22] jam-walkers commented on #2434
Regarding this problem, when I run `curl -v http://127.0.0.1:8080/json >output.json` the `output.json` file contains a valid response (done from the Resin directory with `vagrant` user in the Vagrant development machine).

[2017-01-27 20:21] nbrady-techempower commented on #2434
@jam-walkers For the hexagon-resin test? Can you please create a `sprunge` or other of your output from running that test? And what commit are you running it from, since the test no longer exists in the repo.

[2017-01-29 01:18] greenlaw110 opened #2524 "Benchmark 404 performance"
Would like to see a benchmark on how fast the frameworks respond to a request that cannot be landed on any resource. Especially on complicated RESTful route table

[2017-01-29 13:54] KangoV opened #2526 "Include Ratpack"
It would be nice to have [Ratpack](http://ratpack.io) included in these tests.

[2017-01-29 19:27] martin-g commented on #2526
Hey @KangoV,

The community contributes and maintains the test implementations.
TechEmpower develops and runs the infrastructure.
Feel free to send a pull request with Ratpack implementation of the tests!

[2017-01-29 20:05] KangoV commented on #2526
Ahh, I see. Thanks. I'll have a look and see what I can do.

[2017-01-30 08:57] greenlaw110 commented on #133
I've added another proposal: [benchmark how fast frameworks handle an invalid request which should trigger a 404 response](https://github.com/TechEmpower/FrameworkBenchmarks/issues/2524)

[2017-01-30 09:41] greenlaw110 opened #2530 "Benchmark should favour `Accept` header"
Take the [JSON Serialization](https://frameworkbenchmarks.readthedocs.io/en/latest/Project-Information/Framework-Tests/#json-serialization) as an example

While you expecting an `application/json` response, the request have `Accept=application/json` header. In the current benchmark implementation, it asked for `text/html` but expect `application/json` which is a bit incorrect way.

The same concer

[2017-01-30 11:37] jaguililla commented on #2434
The previous comment was me using a different account, sorry. The test I ran was over the latest version from master adding the test to the configuration manually.

On the Vagrant development machine. Running: `~/FrameworkBenchmarks/toolset/run-tests.py --mode verify --test hexagon-resin` failed

But running Resin outside the toolkit it worked:

[code]

After starting up Resin. I executed:

[code]

[2017-01-30 14:45] nbrady-techempower commented on #2434
@jaguililla Can you do the same with verbos, `-v`, output for `curl`? I'm at a loss here, but I want to see what that shows as far as the connection goes.

[2017-01-30 14:49] #2526 closed

[2017-01-30 15:11] jaguililla commented on #2434
This is the output with `-vvv` (and thanks for keeping an eye in this issue):

[code]

[2017-01-30 15:23] nbrady-techempower commented on #2434
That's looks different from the response I was getting. If you have the time, go ahead and open up a PR with the resin test added back in and I'll see if I can wrangle some people here in to look at it again.

[2017-01-30 15:32] jaguililla commented on #2434
Done (#2531)

[2017-01-30 21:58] samuelcolvin opened #2534 "RIP Redis benchmarks, or maybe not?"
I was just wondering about adding redis as a "database" to some of the python frameworks, but searching "redis" in this repo most of the recent activity seems to be removing redis and associated benchmarks?

Is redis still considered a valid database to use?

What was that? "What do I think?" Thanks for asking. I'm a massive fan of redis, I feel slightly odd calling it a database but I think that'

[2017-01-31 19:19] nbrady-techempower commented on #2534
I don't think we were pleased with the previous implementation of redis, as it wasn't always reliable. (Is that true of redis by nature? not sure.) Nonetheless, if you want to give it a shot we can certainly review it and provide some feedback. I can't make any guarantees that we'll want to display redis results, but I think we're all open to a debate on that.

[2017-01-31 19:19] nbrady-techempower commented on #2534
Let me know if you need anything during the process, if you decide to take it on.

[2017-01-31 19:19] #2534 closed

[2017-02-02 23:04] knewmanTE opened #2546 "C++/ulib-mongodb only making a single trip with its Update handler"
I'm not particularly familiar with C++, but from what I can tell reading the ulib-mongodb Update handler, it looks like it's doing the following:

1. [Creating a Vector to hold up to 500 World objects](https://github.com/TechEmpower/FrameworkBenchmarks/blob/master/frameworks/C%2B%2B/ulib/src/mupdate.usp#L37)
2. [Instantiating id and rnum variables](https://github.com/TechEmpower/FrameworkBenchmark

[2017-02-03 18:31] #2546 closed

[2017-02-04 00:12] knewmanTE opened #2554 "Test implementations should live within the FrameworkBenchmarks repo"
I've noticed recently that there are a handful of frameworks that only have a few files living on this repo and then maintain their actual test implementations on a separate repo (often as a subdirectory of the framework itself).

I'd really like to avoid this as much as possible for the following reasons:

1. It makes it difficult/impossible for anyone other than the framework's maintainers to up

[2017-02-04 01:13] lpereira commented on #2554
Hi, @knewmanTE! I'm working on Lwan's first release, and that will enable me to move the benchmark code to the FB repository. I know this has been promised for a long time, but life got in the way.

[2017-02-04 01:25] knewmanTE commented on #2554
@lpereira no worries! Thanks for the update, and best of luck as you move towards your release!

[2017-02-04 02:02] nbrady-techempower commented on #2554
@lpereira Great news!

[2017-02-06 19:11] nbrady-techempower opened #2557 "Lua/Octopus Failure"
@cyberz-eu Octopus is failing again and it seems like the issue is again related to zlib removing a prior version https://github.com/cyberz-eu/octopus/blob/master/bin/unix/server.sh#L92

[2017-02-07 01:37] knewmanTE commented on #2557
zlib lives on github (https://github.com/madler/zlib/releases) so the ideal fix would be if octopus shifted over to using the github zips so we don't have this problem every time zlib is updated.

Also, I tested out adding a sed line to the `setup.sh` file to use zlib 1.2.11 and now I'm getting an error with the [database host](https://github.com/TechEmpower/FrameworkBenchmarks/blob/master/framewo

[2017-02-07 03:04] nbrady-techempower commented on #2557
@knewmanTE Yeah, that `sed` replacement was something I did the last time this came up and I submitted a PR to the Octopus repo to get it fixed, hopefully @cyberz-eu can nail down that issue. @msmith-techempower recently fixed the other two Lua frameworks that were having trouble with using the hosts aliases. I can look deeper into it tomorrow and see if any of the things he did could be applied h

[2017-02-07 15:43] msmith-techempower commented on #2557
(This line)[https://github.com/TechEmpower/FrameworkBenchmarks/blob/master/frameworks/Lua/lapis/config.lua#L17] is the relevant one for the Lua fixes.

[2017-02-08 02:29] knewmanTE commented on #2557
Temporary fix added with #2559, but would love a permanent, less-hacky solution.

[2017-02-09 06:56] westurner opened #2560 "Python: tornado with asyncio(uvloop(libuv))"
Here's a probably pretty fast stack: Tornado with asyncio with uvloop (libuv; (Node, ))

- tornado with asyncio:
  - src: https://github.com/tornadoweb/tornado
  - src: https://github.com/tornadoweb/tornado/blob/master/tornado/ioloop.py (epoll, kqueue, select)
  - src: https://github.com/tornadoweb/tornado/blob/master/tornado/platform/asyncio.py (asyncio(...))
  - docs: http://www.tornadoweb.org/e

[2017-02-09 06:57] westurner commented on #2560
See: #1567 (REQ: Gunicorn w/ greenlets)

[2017-02-09 07:14] westurner commented on #2560
uvloop w/ httptools looks pretty fast (compared with nodejs and golang, for example) in these charts:
https://magic.io/blog/uvloop-blazing-fast-python-networking/

![asyncio, uvloop, nodejs, go, etc requests/s benchmarks](http://i.imgur.com/0iMUePy.png)

...

- sanic
  - src: https://github.com/channelcat/sanic/
  - pypi: https://pypi.python.org/pypi/Sanic
  - docs: https://sanic.readthedocs.io/en

[2017-02-09 07:24] westurner commented on #2560
Japronto and Meinheld look pretty fast for this "Hello World" benchmark:

https://medium.freecodecamp.com/million-requests-per-second-with-python-95c137af319

.

- japronto
  - src: https://github.com/squeaky-pl/japronto
  - docs: https://github.com/squeaky-pl/japronto/blob/master/README.md
  - uvloop, picohttpparser

- picohttpparser
  - src: https://github.com/h2o/picohttpparser
  - src: https:/

[2017-02-09 07:28] westurner commented on #2560
See: https://github.com/TechEmpower/FrameworkBenchmarks/pull/2311#issuecomment-259327909 (re: Python performance)

[2017-02-09 15:14] cjnething commented on #2560
Hi @westurner,
We are not experts on every language/framework, so we rely on the community to make updates and add new frameworks. If you see areas of improvement, we encourage you to make a pull request! Thanks!

[2017-02-09 16:26] nbrady-techempower commented on #2560
what @cjnething said. Thanks for the well thought out issue/resources. Would love to see how some of these implementations would fair in the benchmarks.

[2017-02-09 16:26] #2560 closed

[2017-02-09 16:28] nbrady-techempower commented on #2557
Going to close this for now. We've pinged the framework owner. If it comes up again, will re-open or remove the framework until fixed.

[2017-02-09 16:28] #2557 closed

[2017-02-10 20:38] fredrikwidlund commented on #2554
Hi, @knewmanTE. Duly noted! I'm fairly new here so I simply followed some existing patterns. I'll move the project as soon as possible, but it might take a few weeks before I find some time to work on this. Is this something that will disqualify the framework for the next round?

Kind regards,
Fredrik

[2017-02-10 20:51] knewmanTE commented on #2554
Hey @fredrikwidlund! Thanks for the response! And that's fine if it takes you a bit of time, the most important thing is that it gets done in the long run. As long as the current implementation is still PASSing, it will be included in the next round!

[2017-02-11 00:12] knewmanTE opened #2562 "Clean up deployment directory"
I haven't used any of the deployment scripts in a while, but given that we've had some substantial toolset changes recently and there are some subdirectories of the [deployment directory](https://github.com/TechEmpower/FrameworkBenchmarks/tree/master/deployment) that haven't been updated in 2-3 years, I think we can pretty safely remove some of them?

@nbrady-techempower, I know you've worked rece

[2017-02-15 21:40] #2562 closed

[2017-02-21 21:52] #2300 closed

[2017-02-23 06:57] peterromfeldhk opened #2576 "ulimit and erlang based applications"
Erlang based applications (like phoenixframework) usual bottleneck is number of open files configured.

I believe you use 65535 for your tests. Consider to have at least 200000 and you can try turning it up until your benchmark results doesnt change anymore.

[2017-02-28 21:18] mwpastore opened #2579 "[Go/fasthttp] Benchmark requirement violation(s)"
The `updateHandler()` method in `server-postgresql.go` and `server-mysql.go` uses a single transaction to perform multiple writes. Per the benchmark requirements, "a transaction should only encapsulate a single iteration, composed of a single read and single write."

[2017-02-28 21:26] nbrady-techempower commented on #2579
@mwpastore It appears to me that they're in `for` loops, making a single transaction. Is this not what's going on in code?

[2017-02-28 21:26] mwpastore commented on #2579
@nbrady-techempower My reading is that the transaction is started before the `for`-loops, and committed afterwards.

[2017-02-28 21:28] nbrady-techempower commented on #2579
https://github.com/TechEmpower/FrameworkBenchmarks/blob/master/frameworks/Go/fasthttp/src/server-postgresql/server.go#L122 I believe this is the write transaction?

After the for loops is just the JSON response.

[2017-02-28 21:31] mwpastore commented on #2579
@nbrady-techempower That's executing a query within the transaction, but the transaction itself isn't committed until [this](https://github.com/TechEmpower/FrameworkBenchmarks/blob/master/frameworks/Go/fasthttp/src/server-postgresql/server.go#L126) statement. The updates don't take effect until the transaction is committed, so in effect the transaction encapsulates multiple writes.

[2017-02-28 21:38] nbrady-techempower commented on #2579
@mwpastore Aha! You are absolutely right. I didn't see that line and assumed `.Exec` was completing the transaction.

ping @valyala did you have any comments on this?

Otherwise, this definitely needs to be rectified per these [rules](http://frameworkbenchmarks.readthedocs.io/en/latest/Project-Information/Framework-Tests/#database-updates)

[2017-02-28 22:38] mwpastore opened #2581 "[Java/revenj-jvm] Benchmark requirement violation(s)"
The `doGet()` method in `UpdatesServlet.java` [appears](https://github.com/TechEmpower/FrameworkBenchmarks/blob/master/frameworks/Java/revenj-jvm/src/main/java/hello/UpdatesServlet.java#L27) to do a batch update of the "changed" World instances. The tip-off is that the collection is being sorted first (ostensibly to prevent deadlock during a mass-update). The revenj framework is somewhat inscrutab

[2017-03-01 17:19] nbrady-techempower commented on #2581
@mwpastore If this is a batch update, and not a transaction, it doesn't violate the rules. (See rules 9 & 10)[http://frameworkbenchmarks.readthedocs.io/en/latest/Project-Information/Framework-Tests/#database-updates]

[2017-03-01 17:40] mwpastore commented on #2581
It looks like the RevenJ framework automatically wraps non-read-only queries in a transaction? https://github.com/ngs-doo/revenj/blob/master/java/revenj-servlet/src/main/java/org/revenj/server/ProcessingEngine.java#L91-L93

[2017-03-02 03:47] westurner commented on #2560
https://morepypy.blogspot.com/2017/03/async-http-benchmarks-on-pypy3.html

![Async HTTP benchmarks on PyPy3](https://1.bp.blogspot.com/-cjlKx06ZBaY/WLb_S3TBWuI/AAAAAAAAAmI/s2fsZ-SaJiwS2B-nAmyTheJfMQrKFHuQACK4B/s640/graphs.png)

[2017-03-03 21:11] zapov commented on #2581
@mwpastore revenj-servlet is not used in this benchmark. It doesn't pass through that part. https://github.com/TechEmpower/FrameworkBenchmarks/blob/master/frameworks/Java/revenj-jvm/pom.xml#L16

[2017-03-04 17:38] nbrady-techempower commented on #2581
Ok, this looks resolved then? Let me know if there are any other concerns.

[2017-03-04 17:38] #2581 closed

[2017-03-05 01:32] mwpastore commented on #2581
@zapov Thank you for the clarification! Can you help us understand whether the updates are performed within no transaction, a single transaction, or one transaction per record?

[2017-03-05 06:31] zapov commented on #2581
No transactions are used in the current setup.
It's faster than vanilla jdbc driver because it does a different query to perform the update.

[2017-03-06 22:40] mwpastore commented on #2581
@zapov Thanks again! Appreciate the explanation.

@nbrady-techempower Sorry for the false alarm!

[2017-03-11 17:10] NinoFloris opened #2588 "How about this nice promising line"
So as it is quite silent now again for a while I was revisiting the round 13 benchmarks and the blogs and found this little line

Did anything come of this?

[2017-03-13 04:33] greenlaw110 opened #2589 "Dropwizard's mongo db update implementation violates rule #9"
As per https://www.techempower.com/benchmarks/#section=code

_9. Use of batch updates is acceptable but not required. To be clear: batches are **not permissible for selecting/reading the rows**, but batches are acceptable for writing the updates._

The [implementation of Dropwizard](https://github.com/TechEmpower/FrameworkBenchmarks/blob/master/frameworks/Java/dropwizard/src/main/java/com/example/

[2017-03-14 17:28] nbrady-techempower commented on #2588
Hi @NinoFloris
In the past 2 months we have made several breaking changes to the toolset in an attempt to greatly simplify the process both for future development and for those newbies looking to get started quickly. That temporarily broke our CB implementation. We're almost back up and running with that but we did complete a preview data run which will be up for review shortly.

[2017-03-14 17:28] #2588 closed

[2017-03-21 12:29] zloster opened #2598 "Async Java servlet tests lost"
This commit: https://github.com/TechEmpower/FrameworkBenchmarks/pull/2409/commits/b405d2060643b88ea5cfd6053768a2082f760025 has removed `Cassandra` project due to problems with `Cassandra` installation. And the `servlet3-cass` project is removed as consequence.
Unfortunately the tests with database access were the only ones having `async servlet` (Servlet 3.1) implementation.

This issue is created

[2017-03-22 16:11] valyala commented on #2579
`fasthttp` issues a separate request per each selected row via [fetchRandomWorld](https://github.com/TechEmpower/FrameworkBenchmarks/blob/a2e309f4ba72e1230dac0b3c79adb0588a5be51a/frameworks/Go/fasthttp/src/server-postgresql/server.go#L109). Then it opens a transaction [at this line](https://github.com/TechEmpower/FrameworkBenchmarks/blob/a2e309f4ba72e1230dac0b3c79adb0588a5be51a/frameworks/Go/fasth

[2017-03-23 13:46] #2589 closed

[2017-03-23 13:51] #2579 closed

[2017-03-24 03:27] mwpastore commented on #2579
@valyala Not to make too big a stink about this, but I disagree with your assessment. The next rule states:

The way this benchmark is constructed results in the following SQL commands being issued:

[code]

Multiple writes are encapsulated into a single transaction, which violates this rule. Conformant commands would look more like:

[code]

Or, encapsulating the read as well:

[code]

All that b

[2017-03-24 14:01] nbrady-techempower commented on #2579
@msmith-techempower any input on this?

[2017-03-24 14:25] oberhamsi opened #2613 "sudo: argument list too long"
the ringojs and ringojs-convenient tests are failing and i am a bit at loss where in the benchmark toolset the `sudo` is coming from. after successful install and start of the framework, the sudo error appears. relevant log snippet below.

if anyone knows where i should start looking, i'd be thankful.

[code]
http://tfb-logs.techempower.com/round-14/preview-1/ringojs-convenient/out.txt

cc @grob

[2017-03-25 14:37] GMLudo commented on #2560
Hello people,

I'm working to integrate all of these new tools in FrameworkBenchmarks.
Too late for round 14, it should be good for round 15.

Have a nice week-end.

[2017-03-25 21:57] westurner commented on #2560
:+1:

On Saturday, March 25, 2017, Ludovic Gasc <notifications@github.com> wrote:

[2017-03-29 21:20] michaelhixson commented on #2613
I notice when I remove the `&` from the final line in `setup.sh` and run the test, it prints this:

[code]

...which makes me think it is only accepting connections from localhost.  While the test is running it does seem like I can curl for `/json` from the same machine, but if I try it from the load-generating machine I get a "Connection refused".

Do you know how to tell it to accept connections

[2017-03-29 21:58] michaelhixson commented on #2613
ok it looks like we can add `--host 0.0.0.0` to that last line in `setup.sh` and that solves the problem.  I'll put together a PR for this tomorrow.

[2017-03-30 16:23] michaelhixson opened #2634 ""run-tests.py --mode verify" should confirm the client machine can reach the server"
Over the past two days, I've noticed three frameworks that passed the verification step but got zero RPS in actual test runs.  It turns out they all were accepting connections from localhost but not from the client machine that runs wrk.

The verification step should include a test for connectivity from the client machine.  A single successful request to any one of the server's endpoints should be

[2017-03-30 20:47] #2613 closed

[2017-03-31 21:27] zloster opened #2645 "Vagrant toolset problem/instability"
Problem:
I've noticed the following problem with the `new` reworked Vagrant environment. After starting a VM with `vagrant up` the first test that is using a database fails. If executed again all is fine. I've tested with PostgreSQL as database.
The console log and the results directories are here: https://github.com/zloster/logs/tree/master/FrameworkBenchmarks/vagrant-instability

[2017-04-01 09:09] zloster opened #2646 "Frameworks using gzip encoding which is prohibited by the rules"
**Update 1**: pull request for `Dropwizard` submitted by me
**Update 2**: pull request for `hapi` submitted by nbrady-techempower
**Update 3**: pull request for most of the `PHP` frameworks submitted by joanhey
**Update 4**: pull request for `Tapestry` submitted by me

**Update**: I've a quick look at the PR by joanhey. I think only `yii2-hhvm` is not covered by it and it will be the last one left

[2017-04-03 18:42] zloster commented on #2646
@nbrady-techempower IMO this issue should stay open since not all frameworks are fixed

[2017-04-03 18:49] nbrady-techempower commented on #2646
@zloster that's fine. it was closed automatically because of the commit message in the PR that addressed it

[2017-04-05 20:59] KevinBrogan opened #2665 "Configuration validation routine references dead url"
./FrameworkBenchmarks/toolset/benchmark/framework_test.py : line 908
`  windows_url = "https://github.com/TechEmpower/FrameworkBenchmarks/milestones/Windows%%20Compatibility"`

This url does not exist, and it is referenced in line 959 and line 965 of the same file, as help text for the os and database_os test config options.

[2017-04-11 11:37] tmds commented on #133
+1

+1

[2017-04-11 12:15] zloster opened #2672 "Clarification request - Fortune test implementation in most JavaScript frameworks"
I was looking at the Fortune test implementations for some of the JavaScript frameworks and I've found this:

[code]
combined with this:

[code]

The [first one is here](https://github.com/TechEmpower/FrameworkBenchmarks/blob/master/frameworks/JavaScript/nodejs/helper.js#L7-L10), the [second one is here](https://github.com/TechEmpower/FrameworkBenchmarks/blob/master/frameworks/JavaScript/nodejs/ha

[2017-04-11 12:30] Helidium commented on #2672
You are correct.

[2017-04-12 15:29] nbrady-techempower commented on #2672
@zolster I recently changed all of these frameworks over to use es6 when I updated node and completely missed this. You are 100% correct.

[2017-04-12 22:15] #2672 closed

[2017-04-13 14:02] zloster commented on #2672
@nbrady-techempower I've played recently with the new 2.2.0 release of GNU Guile (which is implementation of Scheme). Probably I've got a high sensitivity to brackets "()" :)

[2017-04-14 03:10] karldcampbell opened #2685 "NodeJs mysql-raw benchmark seems to select the same row over and over"
Maybe I'm missing something, I'm by no means a JS expert.

In mysql-raw.js,

What this seems to do is initialize `id` at the beginning of the test, and then never update it.  This would result in the *same* row being selected over and over, instead of a different row for each query.

Am I missing something?

[2017-04-14 05:24] michaelhixson commented on #2685
I think you're right.  You can see the impact of this in the verification log:
http://tfb-logs.techempower.com/round-14/preview-3/nodejs/query/verification.txt

It's supposed to look more like this other log (from a different, well-behaved test):
http://tfb-logs.techempower.com/round-14/preview-3/nodejs-postgres/query/verification.txt

[2017-04-14 07:18] dondogfood1 opened #2686 "Travis deployment error"
Hello,

I have a fork of the benchmarks for adding a new framework. Everything runs great when I run the following in a Vagrant virtual machine:

[code]

But when Travis runs, the setup process hangs just here:

[code]

I am having a hard time understanding where I might have gone wrong.

Travis link: https://travis-ci.org/DEGoodmanWilson/FrameworkBenchmarks/jobs/221784297

GitHub link: https://gi

[2017-04-14 07:19] dondogfood1 commented on #2686
Sorry, logged in with wrong account, let me try again.

[2017-04-14 07:19] #2686 closed

[2017-04-14 07:20] DEGoodmanWilson opened #2687 "Error during database setup on Travis"
Hello,

I have a fork of the benchmarks for adding a new framework. Everything runs great when I run the following in a Vagrant virtual machine:

[code]

But when Travis runs, the setup process hangs just here:

[code]

I am having a hard time understanding where I might have gone wrong.

Travis link: https://travis-ci.org/DEGoodmanWilson/FrameworkBenchmarks/jobs/221784297

GitHub link: https://gi

[2017-04-14 16:03] nbrady-techempower commented on #2687
Hi @DEGoodmanWilson!

Please rebase from our master branch. You should not have a `benchmark.cfg` file in your repo, just the `benchmark.cfg.example`. That should be for local testing only.

[2017-04-14 16:03] nbrady-techempower commented on #2687
This will resolve that issue. Let me know if you have any other problems.

[2017-04-14 16:03] #2687 closed

[2017-04-14 16:12] nbrady-techempower commented on #2685
Thanks @karldcampbell , Submitted a fix.

[2017-04-14 20:24] #2685 closed

[2017-04-15 06:59] DEGoodmanWilson commented on #2687
I'm not at all sure how the `benchmark.cfg` file got commited. Thank you for noticing that, as it did the trick.

[2017-04-21 18:59] michaelhixson opened #2708 "Fix environment-level timezone issue with mysql-connector-java 6"
When Java frameworks try to use `mysql-connector-java` 6.x (as opposed to 5.x), they will fail to run in our ServerCentral environment because of exceptions like this:

[code]

I put off dealing with this problem for Round 14 by changing all the implementations to use `mysql-connector-java` 5.x instead.

As the exception message says, frameworks can use 6.x and work around this problem by setting

[2017-04-23 10:09] mfirry opened #2714 "Remove play2-scala-activate benchmark"
I think [activate](https://github.com/fwbrasil/activate) is not being maintained anymore.

[2017-04-23 10:56] zloster commented on #2708
IMO there are two approaches to the problem:

1. Add explicit setting for the MySQL server in which timezone it will operate - https://dev.mysql.com/doc/refman/5.5/en/time-zone-support.html. Maybe it will be a good idea to do the same for the other databases - PostgreSQL have [similar setting](https://www.postgresql.org/docs/current/static/runtime-config-client.html#GUC-TIMEZONE), I don't know abo

[2017-04-23 18:05] nbrady-techempower commented on #2708
Thanks @zloster - After discussing internally on Friday, we're going to explicitly set the timezone in MySQL on the server. I'll be adding that to the installation script on Monday.

[2017-04-23 18:06] nbrady-techempower commented on #2714
Thanks @mfirry. I'll Prepare a PR tomorrow to get it removed.

[2017-04-23 20:29] mfirry commented on #2714
Thank you! It's amazing the effort you guys put into this.

[2017-04-24 09:47] joanhey opened #2717 "Verify the PHP results"
In round 13, php is more than 4 times slower. I thought it was a problem of configuration in that round, but in the preview 14 it is the same.

| test | round 11 | round 12 | round 13 | preview 14 |
| --- | --: | --: | --: | --: |
| Plaintext php5 | 177,281 | 195,136 | 44,445 | 45,857 |
| Plaintext php7 | | 163,769 | 45,616 | 44,019 |
| Json php5 | 171,149 | 176,469 | 43,570 | 44,893 |
| Json php7

[2017-04-24 13:59] nbrady-techempower commented on #2717
Hi @joanhey,

Thanks for preparing this. If you look at the diffs between rounds, you'll see that there were a lot of code changes to the php implementations. Tests broke (for whatever reason) between round 12 and round 13, and there were also some test requirements that were being followed properly. What we on the team did was simply make sure that all the tests were working again, but we certain

[2017-04-24 14:29] nbrady-techempower commented on #2665
Thanks for pointing this out. I've replaced that reference with the issue containing work towards getting windows compatibility. Unfortunately, still probably a ways away.

[2017-04-24 14:45] #2665 closed

[2017-04-24 15:45] zloster commented on #2717
@joanhey

The short answer is the hardware environment. Note that all frameworks have reduced results.

More information here: https://groups.google.com/d/msg/framework-benchmarks/nePDNY9jp-4/Y8bw-XM5AAAJ and here: https://github.com/TechEmpower/FrameworkBenchmarks/issues/2366

[2017-04-24 15:45] #2714 closed

[2017-04-24 15:48] nbrady-techempower commented on #2717
Good point by @zloster
In my mind, that happened between 11 and 12 and thought @joanhey had singled those php tests out for a reason. Thanks!

[2017-04-24 15:48] #2717 closed

[2017-04-24 16:35] #2708 closed

[2017-04-24 23:32] nbrady-techempower commented on #2645
@zloster I've done this twice and was unable to reproduce. If you can, let me know if this is still an issue and if so, what your host os is.

[2017-04-25 08:35] zloster commented on #2645
@nbrady-techempower There seems to be additional condition for this to happen:

The build of the framework have to be fast or already executed in the VM before the `vagrant up` - in the [provided logs](https://github.com/zloster/logs/blob/master/FrameworkBenchmarks/vagrant-instability/console-log.txt#L407-L408) the `gemini-postgres` build has finished after 2 seconds.

[code]

I'm using the VM on

[2017-04-25 13:38] nbrady-techempower commented on #2645
@zloster Ah, I see what's happening here. When you said `vagrant up` I was assuming it was being created for the first time. Instead, you're halting and then bringing back up an existing vm. Because the installs directory exists and the databases and framework were presumably already installed, the db installation step is skipped, which I believe also makes sure the db services have started. I'll

[2017-04-26 00:21] nbrady-techempower commented on #1372
Closing in favor of #2554 and #2706

[2017-04-26 00:21] #1372 closed

[2017-04-26 03:54] #2645 closed

[2017-04-26 07:09] zloster opened #2731 "Java/jawn execution failing"
There is a new [Oracle JDK 8 u131](https://travis-ci.org/TechEmpower/FrameworkBenchmarks/jobs/225754532#L1939) and some of the `-XX` options seems to have [changed their meaning](https://travis-ci.org/TechEmpower/FrameworkBenchmarks/jobs/225754532#L2141). I don't see `-XX:ParallelGCThreads=0` in the gradle build file.

[2017-04-26 16:07] nbrady-techempower commented on #2294
Sorry this took so long to respond to. A basic `python` test would be something that frameworks could compare to. Certainly feel free to open a PR for that at any time. Right now, the overhead tab compares frameworks to whatever they put in the "versus" property of their `benchmark_config.json`

[2017-04-26 16:07] #2294 closed

[2017-04-27 11:24] joanhey opened #2734 "Add --test-group to tfb"
For test faster

tfb --test-group php       // all php frameworks
tfb --test-group nginx    // all frameworks that depend on nginx
...

[2017-04-27 14:11] nbrady-techempower commented on #2646
@zloster #2736 will solve all of the `hapi` items

[2017-04-27 17:12] #2731 closed

[2017-04-27 17:35] joanhey opened #2740 "Add --mode dev to tfb"
[code]
The `dev` mode will be like the verify, but without shutdown.
So will be easier to debug problems

[2017-04-28 13:40] #2646 closed

[2017-04-28 16:55] #2554 closed

[2017-04-29 18:55] nbrady-techempower opened #2747 "C++/Luna Failing"
@DEGoodmanWilson Luna seems to be failing recently while trying to grab a dependency https://travis-ci.org/TechEmpower/FrameworkBenchmarks/jobs/227115651#L1856

[2017-04-29 19:12] DEGoodmanWilson commented on #2747
Interesting. http://gmplib.org seems to be down at the moment, will have a look on Sunday morning.

[2017-04-29 19:16] DEGoodmanWilson commented on #2747
OK, I've updated the dependency to look at a mirror instead of gmplib.org. @nbrady-techempower can you try running the test again?

[2017-04-29 23:33] nbrady-techempower commented on #2747
@DEGoodmanWilson Looks like some other issues. No need to worry about it now though, enjoy your weekend! https://api.travis-ci.org/jobs/227200626/log.txt?deansi=true

[2017-05-01 20:56] greenlaw110 commented on #374
@zane-techempower I think there should be some standard way in terms of setting up the cache service provider. We don't want measure the differences between IPC and in-process communication, do we? Let's say if we decide to use memcached then every framework/platform test bed shall use memcached. It is unfair to compare memcached based cache vs hash table based cache built by Guava's CacheBuilder.

[2017-05-02 12:34] DEGoodmanWilson commented on #2747
There were a couple of issues surrounding libmicrohttpd, and the way I was importing pthreads in the configuration file here. I've fixed the package dependencies upstream, those should get imported here automatically. The remainder has gone into a PR. All of this was triggered by some changes in the way an upstream package dependency was configured to handle libpthread. All should be good now, but

[2017-05-02 13:15] cosarara97 opened #2752 "Cherrypy's test logs access to stdout"
The test for cherrypy doesn't disable logging to the screen, and thus is actually bottlenecked by the terminal. Disabling logging lowers the time from a crazy 2512 seconds to a reasonable 71 on my machine.

[2017-05-03 13:48] #2752 closed

[2017-05-03 13:49] nbrady-techempower commented on #2747
Looks like it's working now. Thanks @DEGoodmanWilson !

[2017-05-03 13:49] #2747 closed

[2017-05-03 13:50] DEGoodmanWilson commented on #2747
🙇

[2017-05-11 20:16] nbrady-techempower opened #2768 "Cutelyst filling up apport log"
@dantti Would you mind investigating? This recently destroyed one of our runs:

[code]

[2017-05-11 20:23] #1243 closed

[2017-05-11 20:30] dantti commented on #2768
Do you have a backtrace or application log? Without that this apport messages are pretty useless.

[2017-05-11 21:15] nbrady-techempower commented on #2768
@dantti unfortunately, i cleared out most of the logs in haste before i saw that. trying to get a preview out to you guys. if it's not immediately clear to you what might be causing that, don't worry for now and i'll see what i can get you if it happens again

[2017-05-11 21:15] #2768 closed

[2017-05-11 22:04] bhauer opened #2771 "Review and revise low-concurrency levels on ServerCentral"
I just updated the results web site to make it easier to immediately visualize the lowest and highest performance recorded across the range of concurrency levels we measure.

We have three "bands" of concurrency levels we use during measurement:

* On JSON, single-database query, and fortunes, we measure at concurrency levels 8, 16, 32, 64, 128, and 256.
* On multi-query and updates, we use 256-co

[2017-05-11 22:29] bhauer commented on #2771
I've been informed by @nbrady-techempower that the first Preview of Round 15 will likely swap the 8 level out and replace it with 512.  We'll see how that ends up looking.

[2017-05-12 03:24] methane commented on #2771
How about "Cloud" hardware?
I think concurrency same to "Physical" is too high for "Cloud" hardware.
Maybe, 1/4 is good.

[2017-05-12 06:04] egonelbre opened #2774 "go-std mysql marked as stripped"
While going over the Round 14 (awesome job as usual) results, I noticed that go-std mysql is marked as stripped.

The critical-path presented in that code is entirely realistic for a simple server and similar approach is recommended as the starting point for a web application -- unless there's a good reason not to. _I would even consider not using automatic routing, because for this server, seems

[2017-05-12 13:55] nbrady-techempower commented on #2771
@methane thanks! We will review for Round 15. We did not test on "Cloud" for Round 14. Relying on contributors in that space to provide hardware.

[2017-05-12 13:56] nbrady-techempower commented on #2774
@egonelbre Thanks for pointing that out. If you'd like to open up a PR to make those changes, I'll gladly get them in. If not, I can review some time next week.

[2017-05-12 16:46] zloster commented on #2771
I want to note this change in the toolset: https://github.com/TechEmpower/FrameworkBenchmarks/pull/2586#discussion_r111472008

[2017-05-12 16:56] zloster commented on #2771
When deciding to bump the default load for the tests please note the following change:
https://github.com/TechEmpower/FrameworkBenchmarks/pull/2586#discussion_r111472008
The ability to choose the applied load is no more. IMO this change is making the life harder for a contributor working in a VM: Yes, there is a workaround but it's not as convenient as the removed options for `concurrency-levels`

[2017-05-12 17:20] scttcper opened #2777 "Upgrade nodejs"
Current version used is 7.5.0. I think it still had a memory leak issue with async/await and its still locked behind harmony flag. This is no longer the case with > 7.6.0. v7.10.0 is current version. Could wait until node v8.x comes out at the end of the month which brings v8 5.7. https://v8project.blogspot.com/2017/02/v8-release-57.html

[2017-05-12 19:40] nbrady-techempower commented on #2771
@zloster concurrency and query levels are still pulled in from the `benchmark.cfg`

[2017-05-12 19:42] nbrady-techempower commented on #2777
@scttcper Thanks Scott. I've actually been paying close attention to this for other projects. Node v8 was bumped back a couple of weeks, but as soon as it drops I will be making that upgrade.

[2017-05-12 21:13] bhauer commented on #374
@greenlaw110 While I appreciate that point of view, as we design and specify test types such as this one, I feel we need to accept and allow for the wide spectrum of best-practices that may exist throughout all of the languages, platforms and frameworks.

The more functionality we expect in a test type, the more diversity we need to be prepared to expect in implementation approaches.  We can set s

[2017-05-13 19:04] #2774 closed

[2017-05-14 08:24] zloster commented on #2771
@nbrady-techempower I didn't know about this. Thank you.

[2017-05-14 08:40] zloster opened #2782 "Rules clarification about Kotlin/hexagon-jetty-mysql and the Database Updates test"
[The current new champion of the `Database Updates` test in Round 14](https://www.techempower.com/benchmarks/#section=data-r14&hw=ph&test=update) is returning dirty data for the client requests and deferring the updates execution after the result is sent to the client. The data is dirty because when the result is returned to the client the updates haven't hit the DB yet: they are executed asynchro

[2017-05-14 16:29] fredrikwidlund opened #2783 "Octane/Round 14 should be considered stripped"
Please note that "Octane" (currently #1 in plaintext) does not even attempt to implement the HTTP protocol at all. It works as a TCP daemon that count the X occurrences of "\n\r" (supposedly unique as part of the double newline \r\n\r\n) to assume a request is finished, assumes a specific request without parsing the input, and dumps X times a raw prebuilt "reply"

[2017-05-14 18:02] methane commented on #2783
How about just remove it?

I feel "stripped" approach means disable some option or middleware in the framework
which usually enabled in production.