[2017-05-14 21:00] nbrady-techempower commented on #2782
@zloster Yes, agreed.

@jaguililla Can you speak to this?

[2017-05-14 21:00] nbrady-techempower commented on #2783
@simongui Can you speak to this please?

[2017-05-15 01:58] stevehu commented on #2783
There are several frameworks only implement plaintext so they are not using any routing rules to find the handler. It is unfair to other frameworks which implement all tests as routing takes a lot of CPU time. I think we should remove them or add an indicator for partial implementation. What do you think?

[2017-05-15 02:06] methane commented on #2783
I dislike personal projects which has no (or only one) production usage are listed and maintained.
[Octane](https://github.com/simongui/octane/commits/master) seems personal, experimental,
one-month project.

[2017-05-15 02:12] stevehu commented on #2783
@methane I totally agree with you. It is not a framework as there are only two files in the project.

[2017-05-15 05:51] fredrikwidlund commented on #2783
Stevehu, libreactor implements json and plaintext, and has a request routing layer.

[2017-05-15 05:59] fredrikwidlund commented on #2783
The main issue with Octane is that it does not parse HTTP.

[2017-05-15 10:09] stevehu commented on #2783
@fredrikwidlund Thanks for the clarification. Most framework will have a routing layer to handler HTTP request. The most simple one will be hard-coded if/else but a real router should support pattern matching in order to parse uri parameters. In later case, the sequence of the routes and the number of the routes will impact performance especially plaintext as the handler is too small. That is the

[2017-05-15 10:32] fredrikwidlund commented on #2783
@stevehu I understand the reasoning, agree that request routing should be included. However I do not understand why you include libreactor (my framework) in this context?

[2017-05-15 10:53] stevehu commented on #2783
@fredrikwidlund I didn't read the code but just looked at the test result to check if the framework is partial implementation or not. My main point is about partial implementation not about if the framework has a routing layer or not. libreactor only implements json, plaintext so it is included in my list.

[2017-05-15 15:22] nbrady-techempower commented on #2740
I like this idea. I've added it to the toolset roadmap. https://github.com/TechEmpower/FrameworkBenchmarks/projects/1

[2017-05-15 15:22] #2740 closed

[2017-05-15 15:22] nbrady-techempower commented on #2734
Something like this already on the roadmap. Hopefully get this implemented soon.

[2017-05-15 15:22] #2734 closed

[2017-05-15 15:23] #2035 closed

[2017-05-15 16:18] jaguililla commented on #2782
Right now, the queries are executed, results modified and update is done in a batch in a worker thread. The results are good (the returned worlds are the updated ones) but the update is finished after the connection with the client is closed. So @zloster is right.

You can delete the results from the round if you think is not fair and I will change the code for the next round.

Sorry if this cause

[2017-05-15 16:31] bhauer commented on #2782
@jaguililla Thanks for the explanation.  As @zloster points out, this particular case is not addressed in the requirements, but he is correct that the spirit of the test is for the updates to have been committed prior to returning the results.

I can imagine a pathological (or maybe straight-up diabolical) case where an implementation queues all of the updates created by the entire test run and co

[2017-05-15 16:40] bhauer commented on #2782
I've just posted a clarification to the requirements that includes the following:

    All updates should be executed prior to generating the HTTP response.

If anyone has a rewording that communicates the notion better, I'm happy to change it.  Thanks!

[2017-05-15 17:02] fredrikwidlund commented on #2783
@stevehu So you think that frameworks that currently only take part in the json and plaintext tests by default should be considered "partial implementations" and therefore removed? Personally I find this somewhat drastic but as long as it is communicated clearly and well in advance the rules are what they are.

[2017-05-15 17:10] stevehu commented on #2783
@fredrikwidlund No. I don't think they need to be removed but there should be a star(*) ahead or after the name to indicate they are partially implemented and a foot note to explain what it means. Another approach is to add an extra column but I think it is too much work.

[2017-05-15 17:39] jaguililla commented on #2782
I would change `executed` by `completed` and `generating` by `returning`... Regarding my results, could you please delete them (only the data updates)? thank you!

[2017-05-15 17:41] simongui commented on #2783
Hey all, thanks for all the great comments! I consider these suite of benchmarks a suite of tests that benchmarking different functionality and not all entries will participate in all tests and each test has it's own set of requirements that benchmarks specific functionality.

Let's review some of the requirements that I've extracted from [Test type 6: Plaintext](https://www.techempower.com/benchm

[2017-05-15 17:45] bhauer commented on #2782
Thanks!  Will do.

[2017-05-15 17:47] nbrady-techempower commented on #2783
@simongui Thanks for the quick response!

[2017-05-15 18:02] fredrikwidlund commented on #2783
@simongui As I understand it this is a benchmark of HTTP software. Octane is simply and only a TCP server which does not implement HTTP in any way. Besides that there is basically no implementation except for libuv, it is severely broken, and the result error-prone.

I am personally not upset in any way. It is just that allowing entries like this in the benchmark makes the results misleading and h

[2017-05-15 18:15] bhauer commented on #2783
@fredrikwidlund Thank you for spending time to review implementations and bring your concern about Octane's implementation to our attention.

We'll take a look as well.  @methane brings up a very good point when he asks, "How about just remove it?"

I feel there are two questions:

1. How much of the HTTP protocol needs to be implemented for us to feel satisfied that the implementation is an HTTP

[2017-05-15 18:30] fredrikwidlund commented on #2783
@bhauer Since Octane does not even parse out a method or a request-uri no request routing is possible to begin with. In addition the assumption that '\r\n' will mark the end of a request is invalid. My proposal is that it is disqualified from round 14 due to this and the result removed.

[2017-05-15 18:33] simongui commented on #2783
@bhauer This quote from the requirements `This test is an exercise of the request-routing fundamentals only` is really incorrect because the benchmark doesn't do _any_ testing of routing fundamentals at all. This test is really an exercise of response writing. That's what the test does and that's what the requirements have dictated. If you want your test to be `an exercise of request-routing` that

[2017-05-15 18:39] bhauer commented on #2783
@fredrikwidlund Understood.  We will meet over here to discuss.  I'd like to hear additional opinions as well if anyone has thoughts.

If we do remove Octane based on the dialog above, I would like us to do two additional things:

1. Clarify the requirements to better inform potential contributors of our project's intent and expectations.  I will want us to clarify what meets the threshold, what s

[2017-05-15 19:01] bhauer commented on #2783
@simongui There are many aspects of the requirements that our toolset does not test for.  In fact, there is no way for our toolset to automatically know whether some form of request routing is being done on the server.  While the existence of only one test type implementation *indicates* that request routing may be avoided, it does not confirm that indication.  Inspection of the source code is req

[2017-05-15 19:03] kellabyte commented on #2783
I'm with @simongui on this one. This plaintext benchmark is a test of how fast a server can respond to incoming requests with a static response with no dynamic memory allocation or buffer management and valid dynamic server + datetime headers. His code satisfies that. This is a valid test too in my opinion because my own framework (Haywire) which has competed in Techempower for like 2 years isn't

[2017-05-15 19:08] fredrikwidlund commented on #2783
@kellabyte It would be interesting to hear about a fully featured HTTP server that does not understand where a request start or end, specially combined with keep-alive. There is none because it simply does not work.

[2017-05-15 19:11] volyrique commented on #2783
My main concern is that the application responds in exactly the same way to the following requests:

`GET /plaintext HTTP/1.1\r\nHost: 127.0.0.1:8000\r\n\r\n`
`GET /fortunes HTTP/1.1\r\nHost: 127.0.0.1:8000\r\n\r\n`
`Hello, world!\r\n\r\n`

Note that the last one is not a valid HTTP request. In fact, sending `Hello, world!\r\n` crashes the program.

While I am not against having a bare bones TCP s

[2017-05-15 19:15] kellabyte commented on #2783
I'm not oppose to the stripped idea. Debating whether it follows proper HTTP parsing is useful as well. I imagine many entries here have faults with parsing HTTP.

But the real danger you get in making requirements that the test does not utilize is that someone could go take `http-parser` which is used in many of the top results in this benchmark, strip a bunch of functionality out, just to detect

[2017-05-15 19:35] fredrikwidlund commented on #2783
@kellabyte There can hardly be any debate wrt if it follows proper HTTP parsing. There is _no_ parsing going on.

Try sending
[code]

If it doesn't explode you should get a big bunch of replies back. In fact a suggestion for an improvement is just doing a read(), guessing the number of requests without looking at the data, add a few for the fun of it, and then just pump a load of responses back. W

[2017-05-15 20:10] dantti commented on #2783
My 2c here is that IMO the "Plain Text" name of the tests is already a problem.

The user opens the website looks at plain text, then to JSON and the results are fairly different, if you disable pipe-lining on Plain Text the results should be just a little better that JSON.

No client will pipe line 4 millions of requests, so it's at first completely unrealistic.

However I do agree that if your "

[2017-05-15 21:04] bhauer commented on #2783
Having discussed this verbally with some of the people here and having reviewed the latest comments, here is my current thinking.

First, I'd like to modify the test requirements to clarify our intent with this project, including the Plaintext test type.  Namely, we intend that this project measure the performance of production-class deployments of realistic software.  That is already stated as th

[2017-05-15 21:17] bhauer commented on #2782
Thanks again @jaguililla. Rewording of requirement done and Hexagon results for Updates (and updates only) have been hidden.

[2017-05-15 21:17] #2782 closed

[2017-05-15 22:14] bhauer commented on #2783
Following-up:

1. I've changed the classification of Octane as described. Please bring any other similar implementations to our attention.

2. I've clarified the Stripped classification in the hover tooltip for the Implementation Approach attribute and also in questions 29 and 31 of the Questions page.

3. I've elaborated on the HTTP and request-routing expectations in the General Requirements and

[2017-05-15 22:14] #2783 closed

[2017-05-16 06:23] mfirry opened #2790 "akka-http: round 14 output"
The output file for akka-http here: http://tfb-logs.techempower.com/round-14/final/akka-http/out.txt is full of *java.io.IOException: Too many open files*.

What happened?

[2017-05-16 12:22] jaguililla commented on #2782
Thank you very much and sorry for the inconvenience!

[2017-05-16 17:09] dessalines opened #2792 "Fix java spark plaintext"
I noticed that the java spark plaintext is having errors, yet the JSON one is not, and is showing faster than many other frameworks.

[2017-05-17 00:01] nbrady-techempower commented on #2792
Thanks @dessalines Do you have something specific you can point to that may be causing the errors with Java Spark? Please feel free to look through the logs for the round at: http://tfb-logs.techempower.com/round-14/

The Spark plaintext implementation hasn't been touched in some time. Spark plaintext performed better than in Round 13, even though it includes some errors.

I'll probably draft up a

[2017-05-17 00:01] #2792 closed

[2017-05-17 01:27] nbrady-techempower commented on #2790
Well, that's a great question. I just ran a test in a clean environment that produced the same (small) number of open files before and after the test completed with pretty much the same result as round-14 final: http://sprunge.us/XFCU

My guess is they're trying to open more files than the ulimit max but still opening what they need to successfully run the test (as I see results with no errors).

[2017-05-17 18:17] Jurigag opened #2794 "Add PHP-PM"
I would like to see symfony/laravel tested on php-pm project https://github.com/php-pm/php-pm

It simply turns application to be daemon, bootstrapped once, kind of event based. Not sure if it should be added as platform or new front-end server.

[2017-05-17 20:07] nbrady-techempower commented on #2794
From their docs:

So it looks like it would be classified as `webserver` in the `benchmark_config.json` within the scope of our benchmarks, though I don't really know much about it.

I've added it here: https://github.com/TechEmpower/FrameworkBenchmarks/wiki/Suggested-Frameworks,-Languages-and-Features

If you'd like to try adding it to symfony or laravel, feel free to open up a Pull Request and I

[2017-05-17 20:07] #2794 closed

[2017-05-18 13:24] #2777 closed

[2017-05-18 16:54] Talento90 opened #2798 "Nodejs Pm2"
First of all, I would like to say good job maintaining this project! 👍

My question: Is it possible to run node.js tests using PM2 or Cluster module?

Cheers!

[2017-05-18 17:59] RX14 commented on #2798
Looks like most of the nodejs tests run using the cluster module already.

[2017-05-18 21:10] nbrady-techempower commented on #2798
Hey, thanks for the comment! Yeah, most of the javascript frameworks running on node are taking advantage of clusters. Feel free to open pull requests if you see further optimizations. :)

[2017-05-18 21:10] #2798 closed

[2017-05-19 03:07] codygman opened #2800 "Help reproducing poor Haskell Servant Data Updates Results"
I saw these poor results for Haskell where it only got 49 req/s:

https://www.techempower.com/benchmarks/#section=data-r14&hw=ph&test=update&l=8vmx1b&w=4zspc-0&d=e3&f=4ftiww-0-0-4e0w-0-6bk-pao

And the equivalent ruby got 1362.

I ran these codebases locally and got *vastly* different results. Is there some factor I'm overlooking that running locally would skew so much? Was Haskell performing so p

[2017-05-19 04:28] nbrady-techempower commented on #2800
Sure it could be any number of things. Looks like your Ruby results are the same, which is curious. Did you only run this once? Different thread counts, different concurrencies? Any server warmup? What are the specs? Also, should try running wrk from a different machine. Basically, data, data, and more data, would be the only way to proceed.

[2017-05-19 04:40] #2100 closed

[2017-05-19 04:54] codygman commented on #2800
I'll run wrk from a different machine tomorrow and post more test results with different concurrency configurations.

[2017-05-19 09:17] zloster commented on #2800
@codygman Here are some pointers that could help you (IMO):

1. You can get the `wrk` command line from here: http://tfb-logs.techempower.com/round-14/final/servant/update/raw. This file is the log from where `wrk` is executed i.e. the client machine. The logs are for Round 14. You are interested in the following type of logs (scroll to the right for all options):
[code]
There will be one such sec

[2017-05-19 11:28] zloster opened #2802 "HTTP HOST request header for wrk"
I've noticed that all `wrk` requests are using `localhost` for the `Host` HTTP header.
Example:
[code]

IMO the command should include `-H:tbf-server` instead.

[2017-05-19 16:28] bhauer commented on #2802
That seems reasonable.  If we change this, let's keep an eye on the next continuous run results to ensure that no implementations have broken as a result.  Theoretically, we might have some implementations that are *expecting* to see localhost.  I'm hopeful that none do this in practice.

[2017-05-20 03:57] codygman commented on #2800
@zloster Thanks a ton for all of the advice! I'll look into those and use the command log to ensure I'm using the same params and running the "same" test.

@nbrady-techempower Here is some more comprehensive data I gathered so far:

[code]

[2017-05-20 04:05] codygman commented on #2800
Hm, after looking over the logs that @zloster provided I wasn't using the same `wrk` arguments. I'll see if that helps replicate the poor performance.

[2017-05-20 04:13] codygman commented on #2800
After updating the wrk arguments, I still couldn't reproduce the [official results where ruby ran 200 times faster than Haskell](https://www.techempower.com/benchmarks/#section=data-r14&hw=ph&test=update&l=8vmx1b&w=4zspc-0&d=e3&f=4ftiww-0-0-4e0w-0-6bk-pao):

[code]

[2017-05-20 04:17] codygman commented on #2800
Maybe I'll do better focusing on benchmarking Haskell vs Go for this test.

For the above difference I can only guess that my machine can't run wrk fast enough to exhibit the performance degradation after scaling up. Perhaps the max throughput of my "wrk client computer" is too slow.

Should I run wrk on my faster computer maybe?

[2017-05-22 03:13] omefire opened #2807 "Error while trying to execute tests: server not accessible"
I have followed the steps outlined in this doc (across all of my 3 machines: client, server, db): http://frameworkbenchmarks.readthedocs.io/en/latest/Development/Installation-Guide/

However, I still can't get a simple test run to go through successfully.
When I run: `tfb --mode verify --test gemini`, I get the following error message:

[code]

[2017-05-22 12:58] nbrady-techempower commented on #2807
You have an entry for TFB-server in /etc/hosts?

[2017-05-22 14:04] zloster opened #2809 "sinatra-postgres-passenger-mri failing validation in a Vagrant environment"
I've attempted a run in a Vagrant environment using the following command:

`servant` tests passed and gave results but `sinatra-postgres-passenger-mri` gave errors like this:

[code]

The source code was updated today but the Vagrant VM is 2 or 3 months old. The ping to `TFB-server` is working:

[2017-05-22 14:20] nateberkopec opened #2810 "Available RAM on ServerCentral?"
[It's not documented](https://frameworkbenchmarks.readthedocs.io/en/latest/Project-Information/Environment/).

[2017-05-22 15:21] zloster commented on #2810
@nateberkopec Some time ago in the IRC chat https://botbot.me/freenode/techempower-fwbm/2017-04-03/?msg=83393402&page=1

[2017-05-22 15:23] nbrady-techempower commented on #2810
528gb on the app server and 16gb on the db server. I'll update the docs today. Thanks to both.

[2017-05-22 15:27] nbrady-techempower commented on #2809
`servant,sinatra-postgres-passenger-mri`

Did you try running `sinatra-postgres-passenger-mri` by iteself? The tests are not comma separated.

[2017-05-22 15:30] nbrady-techempower commented on #2807
Make sure you have this entry in your `/etc/hosts` file on all your machines replacing `127.0.0.1` with the appropriate IPs.
[code]
Ping or `ssh TFB-database`, `ssh TFB-client`, etc from all your machines to make sure they're reachable. Please re-open with more info if that doesn't work. Thanks!

[2017-05-22 15:35] nbrady-techempower commented on #2800
@codygman if you have the ability to that would be helpful. When I have a chance this week, I'll try and run some tests in between the continuous benchmarking in our SC environment and try and get you more information.

[2017-05-22 15:42] zloster commented on #2809
Sorry, copy-pasted the wrong command.
Yes, I've run it by itself and the problem is the same. Here are the logs from the run: http://sprunge.us/NTfE

[2017-05-22 15:45] nbrady-techempower commented on #2809
Thanks, spinning up a new vm and checking it out now

[2017-05-22 17:57] nbrady-techempower commented on #2810
This will appear live momentarily https://github.com/TechEmpower/TFB-Documentation/blob/master/docs/Project-Information/Environment.md

[2017-05-22 17:58] #2810 closed

[2017-05-22 18:27] nbrady-techempower commented on #2809
@zloster Ok, I was able to get this to pass: http://sprunge.us/DDhC

The problem for me stemmed from: http://joequery.me/guides/bundle-install-text-file-busy/

I changed the path in `Ruby/sinatra/config/bundle_install.sh` to:

`bundle install --jobs=4 --gemfile=$TROOT/Gemfile --path=$IROOT/sinatra/bundle`

Ideally, all frameworks that install anything should be installing them to the IROOT folder

[2017-05-22 20:57] #2809 closed

[2017-05-23 01:56] nateberkopec commented on #2810
@nbrady-techempower Sorry to be pedantic, but isn't it 40 cores, 80 threads (on app server)? Probably worth getting specific because someone might assume it's actually 160 threads b/c it's an Intel box.

[2017-05-23 03:52] bhauer commented on #2810
That is correct.  40 physical cores, 80 HT cores.

[2017-05-23 08:01] omefire commented on #2807
Yes, I have an entry for TFB-server in /etc/hosts in all machines and I have tested connectivity to all of them via pings.

[2017-05-23 08:03] omefire commented on #2807
@nbrady-techempower, Do I have to do something manually on the TFB-server ? (like start the HTTP server manually or something ?) Or on the database ?

Any other links I should explore ?

[2017-05-23 09:40] mfirry commented on #2790
Maybe we can also ping @ktoso (if he has 5 spare minutes to have a look).

[2017-05-23 09:43] jrudolph commented on #2790
Nothing particular comes to mind other than the usual setup problems where the ulimits are set incorrectly but there's no reason why that would happen in particular for akka-http.

[2017-05-23 10:07] ktoso commented on #2790
We're not doing anything weird in regards to opening files (sockets), nor have these code parts changed recently. It would be useful to know what is holding onto them - it could be other apps or previous runs that have not completed that have exhausted this limit? Do you guys have a way to debug this infrastructure?

[2017-05-23 12:45] nbrady-techempower commented on #2790
@ktoso I've run this both within the toolset and by itself. No other applications running on the app server and ulimit is 65k. I'll try to reproduce in another environment this week.

[2017-05-23 12:56] jrudolph commented on #2790
The system stats found here: http://tfb-logs.techempower.com/round-14/final/akka-http/db/stats would suggest that the db test has a problem with open files at least in some regard. Not sure what's going on there.
![screenshot from 2017-05-23 14 55 41](https://cloud.githubusercontent.com/assets/9868/26355158/e775bb24-3fc7-11e7-9f3c-0b6dbaa3743f.png)

[2017-05-23 13:51] nbrady-techempower commented on #2790
So, again I want to point out that I checked open files before running all the tests and they were about where we expect them. However, based on feedback from others, I upped the ulimit max to 200,000, the errors are gone and the results were drastically improved over the last 2 rounds.

I'm going to leave the 200,000 max in the SC environment and adjust the toolset this week to provide a $ULIMIT

[2017-05-23 13:51] nbrady-techempower commented on #2576
it's been changed to 200,000 for upcoming round 15, and I'll be making changes to the toolset shortly to make it configurable.

[2017-05-23 13:51] #2576 closed

[2017-05-23 14:02] ktoso commented on #2790
Nice, thanks a lot for bumping the limit as well as sharing the numbers :) looking closer to what we've observed indeed :)

[2017-05-23 14:03] nbrady-techempower commented on #2807
@omefire can you give me the full log of the output when running trying to run the test?

[2017-05-23 14:18] nbrady-techempower commented on #819
I've verified these results. I've placed print statements in every area, confirmed that promises and updates are resolving before response is set. #2536 also confirms that the updates for start/stream persist to the db.

[2017-05-23 14:18] #819 closed

[2017-05-23 14:47] nbrady-techempower commented on #2810
Updated the docs to state HT cores. Thanks!

[2017-05-23 14:48] mfirry commented on #2790
Wow! Great work @nbrady-techempower! I knew `akka-http` deserved better numbers :)
I've been following these benchmarks (and -being a Scala developer- trying to follow the Scala ones, for the little I can) for quite a while now and I sincerely think you guys are doing an amazing job here.

I also really appreciate when core committers jumps in and help out. So thank you @jrudolph and @ktoso.

[2017-05-23 16:00] RX14 commented on #2810
I think something like "40 cores 80 threads" would be a lot clearer. I'd assume 160 threads of I read the docs.

[2017-05-24 07:47] omefire commented on #2807
@nbrady-techempower , Here's the full log of the output:

[code]

[2017-05-24 13:34] simongui commented on #2783
As per this discussion I have submitted a PR that adds proper HTTP parsing and supports both `/plaintext` and `/json` endpoints.

https://github.com/TechEmpower/FrameworkBenchmarks/pull/2817

I believe this is satisfactory for Octane to return to normal status and I expect Octane to show up in the results normally like the other results and not be categorized as `stripped`.

[2017-05-24 13:59] #2802 closed

[2017-05-24 14:04] nbrady-techempower commented on #2807
Are you running this as the root user from root's home directory? I'd start with moving it out of there and running as a non-escalated user. I'm not sure what complications might arise with that within the toolset.

[2017-05-24 14:15] #97 closed

[2017-05-24 14:17] nbrady-techempower commented on #149
Added this to the results website project tab

[2017-05-24 14:17] #149 closed

[2017-05-24 14:18] nbrady-techempower commented on #102
Added to results website project tab

[2017-05-24 14:18] #102 closed

[2017-05-24 14:24] nbrady-techempower commented on #2496
The official vagrant trusty box was just updated in May and it still hasn't made the jump to the new kernel. Since travis, vagrant, and our SC boxes are still ~3.13, I'm going to close this.

That's not to say I'm not keeping an eye on it, but if any work needs to be done to the toolset, or all the environments, I'd rather it be to get to 16.04 (Which I plan on taking another deep look at soon)

[2017-05-24 14:24] #2496 closed

[2017-05-24 14:28] nbrady-techempower commented on #2473
I'll add this to the toolset roadmap project: ideas. I agree it would be slick, but a few other things would have to change. For instance, the travis diff tool looks at the fw_depends line when determining which frameworks need to be run. This could also be changed to look at the benchmark_config.json, but not a priority.

[2017-05-24 14:29] #2473 closed

[2017-05-24 14:34] nbrady-techempower commented on #2499
This was also discussed in the [Google Group](https://groups.google.com/forum/#!forum/framework-benchmarks) and the plan is to leave as is for now. Certainly we welcome anyone who wants to build a different visualization tool from the publicly available `results.json` files.

[2017-05-24 14:34] #2499 closed

[2017-05-24 20:34] #2634 closed

[2017-05-25 14:13] #2790 closed

[2017-05-25 14:18] nbrady-techempower commented on #2170
I'm going to close this for now but add it to the roadmap. The addition of `mention-bot` and our updates to travis have had a significant impact on reaching out to the community. We're able to quickly identify if a framework suddenly starts failing and ping the contributor, and any changes made to a framework via pull request will ping the contributor with `mention-bot`.

[2017-05-25 14:18] #2170 closed

[2017-05-25 14:23] #1131 closed

[2017-05-25 14:25] nbrady-techempower commented on #1038
This is still a bit of a ways off with many details changed

[2017-05-25 14:25] #1038 closed

[2017-05-25 14:29] #1128 closed

[2017-05-25 15:46] nbrady-techempower commented on #1147
fix'd forever.

[2017-05-25 15:46] #1147 closed

[2017-05-25 16:04] nbrady-techempower commented on #2494
So these are all done. Would love to work on a new `results.json` structure soon!

[2017-05-25 16:04] #2494 closed

[2017-05-27 08:09] kimdv commented on #2807
I seem to have a problem similar to this.
When I run it local on my machine (MacBook Pro) I works fine, but when I run it on the VM I fails:

[code]

[2017-05-27 14:40] nbrady-techempower commented on #2807
@kimdv can you run the Gemini test in vagrant?

[2017-05-27 15:33] kimdv commented on #2807
@nbrady-techempower maybe I should have said it I min previous comment, it fails when I test with Vapor.

But if I run the gemini test, I get the following:

[code]

[2017-05-27 16:20] nbrady-techempower commented on #2807
@kimdv Thanks, so probably not the same problem as @omefire I think his was related to testing with root. You say your implementation passes on OS X? Is that with the entire suite running on OS X or are you testing your server outside of the suite? Does it pass on travis?

[2017-05-28 09:04] kimdv commented on #2807
@nbrady-techempower I test by running local on my Mac via Xcode or run it via the terminal. All the endpoints, works and returns data correctly.

Travis doesn't pass: https://travis-ci.org/kimdv/FrameworkBenchmarks/jobs/236831406

[2017-05-28 09:26] omefire commented on #2807
I think what's happening is that no server is ever instantiated on TFB-Server, nor TFB-database. everything happens on TFB-client.

[2017-05-28 15:20] nbrady-techempower commented on #2807
@kimdv can you reopen a pull request with your current implementation to I can check it out in my vagrant set up

[2017-05-28 15:21] nbrady-techempower commented on #2807
@omefire in a one machine set up, the server, client and db are all set up to point to the same place. Did you try this outside root as suggested?

[2017-05-28 15:25] kimdv commented on #2807
@nbrady-techempower can I open a new one, because I have made some bigger changes. ?

[2017-05-28 15:45] nbrady-techempower commented on #2807
@kimdv of course! Whatever is working for you

[2017-05-29 06:24] kimdv commented on #2807
@nbrady-techempower made a pull request: #2828

[2017-05-29 21:13] nbrady-techempower commented on #1105
Adding this to the roadmap ideas.

[2017-05-29 21:14] #1105 closed

[2017-05-29 21:18] #1096 closed

[2017-05-30 17:12] nbrady-techempower commented on #374
This new test has been merged into master with specs here: http://frameworkbenchmarks.readthedocs.io/en/latest/Project-Information/Framework-Tests/

[2017-05-30 17:12] #374 closed

[2017-06-03 16:00] nbrady-techempower commented on #2807
@omefire if you try this outside root and still can't get it working please open a new issue with the logs for that. that should do the trick.

[2017-06-03 16:00] #2807 closed

[2017-06-03 16:04] nbrady-techempower commented on #2524
We are currently spec'ing this one out. Added to the roadmap.

[2017-06-03 16:04] #2524 closed

[2017-06-03 16:11] nbrady-techempower commented on #858
I don't see this in our near future, but I added the idea to the [Test Types Roadmap](https://github.com/TechEmpower/FrameworkBenchmarks/projects/3)

[2017-06-03 16:11] #858 closed

[2017-06-03 16:13] nbrady-techempower commented on #1085
This would require some additional tooling along with the new test type. Probably not something for the near future but added to the [Test Types Roadmap](https://github.com/TechEmpower/FrameworkBenchmarks/projects/3)

[2017-06-03 16:13] #1085 closed

[2017-06-03 16:14] nbrady-techempower commented on #1065
Added to https://github.com/TechEmpower/FrameworkBenchmarks/projects/1

[2017-06-03 16:14] #1065 closed

[2017-06-03 16:17] nbrady-techempower commented on #572
There's still a lot of work to be done for Windows compatibility, if it even happens before we have full bash support on windows. Closing this for now.

[2017-06-03 16:17] #572 closed

[2017-06-03 16:17] nbrady-techempower commented on #477
Looks like we have a few of these now

[2017-06-03 16:17] #477 closed

[2017-06-03 21:49] greenlaw110 opened #2842 "Add parameter binding test"
Many full stack frameworks provides parameter bindings.

For example suppose there are several application defined classes (in Java)

[code]

[code]

Application controller that needs to create `Bar` instance:

[code]

The parameter binding could happen in two difference scenarios:

1. `Content-Type` is `application/x-www-form-urlencoded`

either

[code]

or

[code]

2. `Content-Type` is `applicat

[2017-06-05 01:06] nbrady-techempower commented on #2842
There might be a place for this as a piece of the routing test we're working on

[2017-06-05 01:07] nbrady-techempower commented on #1542
I'm adding this to the toolset. One thing I noticed when working on diffing results in-house is that sometimes a framework will pass the verify stage and then not return results. I'm not quite sure how this happens yet, but am going to add it to the TODO's in the toolset roadmap for investigation.

[2017-06-05 01:07] #1542 closed

[2017-06-05 01:36] greenlaw110 commented on #2842
Great. But the parameter binding test and routing test are two very different thing. One is testing how framework handles large routing table (might including URL path variable and even regex validation); The other one is about how framework preprocess the request parameters/form fields.

I think every framework/platform can participate the routing test, but not all frameworks provides the paramet

[2017-06-05 13:14] nbrady-techempower commented on #2842
Right, this is the part I was concerned with. Which wouldn't make it a high priority for test types with out resources. Still seems like it could be worthwhile down the road.

[2017-06-05 13:23] nbrady-techempower opened #2845 "MySQL Performance Degredation"
As we work on getting you guys some preview data for Round 15, we've noticed a significant performance decrease for MySQL. After monitoring the Database server, there have been no real changes between Round 14 and Round 15. We've made a few slight modifications to the conf file which you can see here: https://github.com/TechEmpower/FrameworkBenchmarks/blob/master/toolset/setup/linux/databases/mysq

[2017-06-05 22:10] greenlaw110 commented on #2842
My understanding is there is always feature zones that only a part of framework/platforms can attend, e.g. not all framework platform support URL path variable, and maybe less supports regex matching for URL path variables.

TechEmpower just need to create the tech spec and leave the implementation to framework authors or other contributors...

[2017-06-05 23:29] nbrady-techempower commented on #2842
Right, your understanding is correct. However, the 6 tests (now 7) that we have probably could implemented by all the frameworks. There's actually an open issue (outdated) for the missing tests from the frameworks.

Not saying it's not worthwhile

[2017-06-06 07:25] amichair commented on #2035
I see this was closed, but what is the answer/resolution?

It's still not in the docs. Should all projects delete it? Are you deleting it for them? If it should still exist, then the questions above still have to be answered, here and somewhere in the docs...

[2017-06-06 13:42] nbrady-techempower commented on #2035
Probably going to move away from this altogether, however, if you'd like to see it in the docs while it remains, they are also open source. Please feel free to submit a PR.

[2017-06-06 15:46] amichair commented on #2035
When adding a new framework I followed https://frameworkbenchmarks.readthedocs.io/en/latest/Development/Add-Frameworks-or-Tests/ , where I still don't see any mention of adding the source_code file - am I missing it? I'm not sure how the link you just specified relates to it, I've never seen it before. So now I have another level of confusion about the documentation, unrelated to this issue :-)

I

[2017-06-06 17:50] nbrady-techempower commented on #2035
The link specified is in the documentation: http://frameworkbenchmarks.readthedocs.io/en/latest/Codebase/?highlight=source_code

Also, if you search for `source_code` in the search bar on the documentation site it is the first link. So though we may not have everything where people might expect to see it, we'd hope they'd at least use the search functionality.

It's not automated yet. I'll add a l

[2017-06-08 17:47] jeevatkm opened #2854 "Vagrant development is not working currently"
Vagrant development is not working currently. I have followed the [latest guide](http://frameworkbenchmarks.readthedocs.io/en/latest/Development/Installation-Guide/#vagrant-development-environment)

When I run `tfb --mode verify --test gemini`

I have master branch as of `Jun 06, 2017` sha `c4a1bee9486785d34b8133415e09c63c192da11c`.

_Please Note: travis build is working_

### OS (Please include k

[2017-06-08 19:13] nbrady-techempower commented on #2854
Hi @jeevatkm Is this a vagrant vm that's been up for a while and you're pulling the latest master? I've just tested the current master with a new vagrant up. We've done some work on the vagrant scripts that might require you spinning up from scratch.

[2017-06-08 19:16] jeevatkm commented on #2854
@nbrady-techempower Thanks for quick response.

I have forked master on Jun 6, 2017 last commit msg is`TFBReaper Improvements (#2847)`,

Do I have to fork it again? please let me know.

[2017-06-08 19:18] nbrady-techempower commented on #2854
@jeevatkm That fork is fine. Do a new `vagrant up` from `deployment/vagrant` Make sure the other vm has been removed and it's files deleted.

[2017-06-08 19:19] jeevatkm commented on #2854
@nbrady-techempower Got it, let me give it try and get back.

[2017-06-08 19:31] msmith-techempower commented on #2854
Gave this issue a +1 based on the initial write-up.

[2017-06-08 19:36] raziel057 commented on #2845
Do you tried to revert the modifications of config file to check if it change something?

Which Mysql version was installed for Round 14?

[2017-06-08 19:41] nbrady-techempower commented on #2845
@raziel057 Thanks for checking in here. The config file has been the same for quite some time. The only difference was what mysql-server version was available in apt. It was only a patch version update from `5.5.54` to `5.5.55`. Trying to revert back was difficult since that version is no longer in the apt repository, but after some effort it produced the same results.

We've moved to `5.7` which

[2017-06-08 21:43] jeevatkm commented on #2854
I have followed these steps, still facing the same issue.
* Deleted the existing vagrant vm from virtual box
* Executed the `vagrant up`
* Ran the test `tfb --mode verify --test gemini`

I'm attaching two logs for your analysis.
* [vagrant-up-logs.txt](https://github.com/TechEmpower/FrameworkBenchmarks/files/1062492/vagrant-up-logs.txt)
* [tfb-test-logs.txt](https://github.com/TechEmpower/Framewor

[2017-06-09 06:32] raziel057 commented on #2845
If you have the same result (degradation compared to Round 14) by reverting the Mysql version, we can estimate the problem doesn't comes from Mysql no? Maybe related to the server itself? It's a bit difficult to help...

[2017-06-09 13:43] nbrady-techempower commented on #2845
@raziel057 It's a bit difficult to solve too. If it were related to the DB server itself you would likely see the degradation across the board. MongoDB, PostgreSQL are both fine. It's quite the mystery. Nonetheless, we're moving forward with MySQL 5.7 and will work on tweaking the conf. Some spot tests actually show an uptick in the Updates test. We'll be releasing numbers (assuming the current ru

[2017-06-09 13:47] nbrady-techempower commented on #2854
The `Too many authentication failures for vagrant` seems to be the issue. Within the VM can you try the following to make sure they all work:

[code]

Also, can you give me the contents of `/etc/hosts`

I just tried from scratch and had no issues again, so I'm wondering if this is OS-specific.

[2017-06-09 13:48] nbrady-techempower commented on #1322
Looks like some php frameworks are now doing this

[2017-06-09 13:48] #1322 closed

[2017-06-09 13:50] nbrady-techempower commented on #1245
I'll add this to the roadmap as something to think about when restructuring the toolset.

[2017-06-09 13:50] #1245 closed

[2017-06-09 18:39] jeevatkm commented on #2854
All three ssh doesn't work. It ends up with
[code]

/etc/hosts
[code]

[2017-06-09 19:31] nbrady-techempower commented on #2854
Ok, from the vagrant up logs you sent, it looks like the script should have worked to set you up. On the vagrant machine can you also give me the output of:

`~/.ssh/config`

It should have:

`NoHostAuthenticationForLocalhost yes`

Also the output of `/etc/ssh/sshd_config`

[2017-06-09 19:35] jeevatkm commented on #2854
Please find the details -

~/.ssh/config
[code]

/etc/ssh/sshd_config - [sshd_config.txt](https://github.com/TechEmpower/FrameworkBenchmarks/files/1065065/sshd_config.txt)

[2017-06-09 19:56] nbrady-techempower commented on #2854
The ssh config for vagrant looks correct. We're wondering if you're hitting your own ssh server from vagrant. Can you check your host machine for authentication failures? (I'm not sure where those logs are on Mac OS)

[2017-06-09 20:17] jeevatkm commented on #2854
I will verify and get back. Thanks for your response.

[2017-06-09 23:32] jeevatkm commented on #2854
@nbrady-techempower You're correct. Took a while to debug it. My ssh server was standing in the way because my ssh config has forward agent yes.

[code]

Like you said, everything is working fine. Thank you for your time.

[2017-06-09 23:33] #2854 closed

[2017-06-09 23:34] jeevatkm commented on #2854
I would like to know, when is the freeze date for Round 15?

[2017-06-09 23:59] nbrady-techempower commented on #2854
That's great news! No problem!

So there's no freeze date set right now. However there is a preview (first) currently running and we're going to try to do 4 or 5 previews. So you have some time

[2017-06-10 00:10] jeevatkm commented on #2854
Nice, sorry I'm introducing late. I'm the author of [aah framework](https://aahframework.org), once I'm done with benchmark test. I will submit my PR. So that I can get feedback from preview run.

[2017-06-10 01:01] nbrady-techempower commented on #2854
Fantastic! Please let us know if there's anything else we can help with.

[2017-06-10 02:32] jeevatkm commented on #2854
No, thank you. You have already helped me. If I get stuck somewhere I will reach out to you.

[2017-06-14 15:53] nbrady-techempower commented on #1182
This isn't something we would implement anytime soon but it's definitely something to think about as we rework the toolset. I'll add this to the roadmap as a future idea. Thanks!

[2017-06-14 15:53] #1182 closed

[2017-06-17 16:06] zloster commented on #2845
@nbrady-techempower @raziel057

Some frameworks with **impressive** boost in the `Updates` test, all are using MySQL:
[code]

Some frameworks with quite serious loses in the `Updates` test, all are using MySQL:
[code]

You can see that all major languages and frameworks get the gain. The heavy updates case is roughly on par with PostgreSQL results - just check some of the frameworks that are using

[2017-06-17 21:39] nbrady-techempower commented on #2845
@zloster I saw the same thing in some of the other frameworks. This seems like the issue. I will look in to updating the connection strings this week or pinging the fw contributors. Thanks for posting such detail!

[2017-06-18 13:16] zloster opened #2879 "Trouble with Vagrant/PostgreSQL install in fresh VM"
### OS (Please include kernel version)

Vagrant: Ubuntu 14.04.5 LTS (GNU/Linux  3.13.0-119-generic)
Host: Ubuntu 12.04, kernel 3.13.0

### Expected Behaviour

`tfb -m verify --test servlet-postgres-raw` to pass. Example:
[code]

### Actual Behaviour

When executing `tfb -m verify --test servlet-postgres-raw` in the logs I see the following:

[code]
And at the end:
[code]

### Steps to reproduce be

[2017-06-18 21:16] martin-g commented on #2845
@zloster @nbrady-techempower Wicket is using `useSSL=false` since a long time (https://github.com/TechEmpower/FrameworkBenchmarks/blob/7f5bbb84185aac9a97237ecc30ebc94a8894cd58/frameworks/Java/wicket/src/main/java/hellowicket/WicketApplication.java#L82) but still its results dropped in the last preview run :-/

[2017-06-18 22:01] nbrady-techempower commented on #2845
@matin-g yes, I imagine this isn't the only reason. Also has a new config file.

[2017-06-19 13:55] nbrady-techempower commented on #2740
@joanhey There is now a `--mode debug` Thanks for the idea. :)

[2017-06-19 14:30] zloster commented on #2845
@nbrady-techempower There is a typo in your mention of @martin-g
@martin-g It's my mistake to put Wicket in the list.
The case I'm referring to is the following:
1. The framework `JSON` and `plaintext` results are the **same** or **better**.
1. The framework MySQL DB read tests have **lower** results.
1. The framework MySQL DB update test has **better** results.

All of the above conditions at the

[2017-06-19 16:05] nbrady-techempower commented on #2879
@zloster I just ran a fresh install and this worked fine for me.

[code]

The above suggests there may have been a problem copying the conf file we have in the toolset over.

[2017-06-19 16:45] zloster commented on #2879
@nbrady-techempower I just had an _aha-moment_:
There were errors in the log about the `locale`:
[code]
The PostgreSQL commands and installer depend on `perl`. The `pg_createcluster` was failing before I've fixed the locale. Something have changed in the default configuration of the SSH server in the Vagrant box (probably) - my connection chain at that moment was Ubuntu12.04-->SSH-->Ubuntu14.04-->

[2017-06-19 16:45] #2879 closed

[2017-06-19 19:54] martin-g commented on #2845
Thank you, @zloster !

I am watching this project so even without mentioning me I still read all (JVM related) discussions ;-)

[2017-06-21 13:34] zloster commented on #2178
@knewmanTE The combination `activeweb-jackson` and `Fortune` test is not applicable: there is no JSON serialization involved in this test. The difference between the two test implementations of `activeweb` is the usage of Jackson as JSON serialization library.

[2017-06-21 13:47] nbrady-techempower commented on #2178
Thanks @zloster

This list needs to be updated and would now include the cached queries test. I'm going to close this for now and add writing a script to generate this output to the project roadmap.

[2017-06-21 13:47] #2178 closed

[2017-06-21 14:34] zloster commented on #593
This issue should be closed. The current code seems to be fine: https://github.com/TechEmpower/FrameworkBenchmarks/blob/master/frameworks/Java/grizzly-bm/src/main/java/org/glassfish/grizzly/bm/JsonHttpHandler.java#L25-L33

[2017-06-22 17:51] zloster opened #2888 "Java/Jooby JSON test implementation"
I've found this old issue: #593 and decided to check the other implementations in the Java "world".
And I've found this:
https://github.com/zloster/FrameworkBenchmarks/blob/master/frameworks/Java/jooby/src/main/java/com/techempower/App.java#L62-L63
It is the exact same described behaviour.

[2017-06-22 18:06] nbrady-techempower commented on #593
Looks like this has since been resolved

[2017-06-22 18:06] #593 closed

[2017-06-27 20:12] #2888 closed

[2017-07-13 10:23] donald-jackson opened #2915 "Upgrade Grails to 3.x"
Grails framework 2.x has been officially deprecated as of 1 June 2017, would it be possible for the tests to be upgraded to 3.x ?

[2017-07-13 15:20] cjnething commented on #2915
Hi @donald-jackson, we are not experts on every language/framework, so we rely on the community to make updates and add new frameworks. If you'd like to see Grails upgraded, we encourage you to make a pull request! Thanks!

[2017-07-13 15:22] cjnething commented on #2915
Whoops, didn't mean to close it. If someone ends up making a pull request, they can reference this issue.

[2017-07-14 11:44] donald-jackson commented on #2915
I'll make an attempt at this and submit a pull request when ready

[2017-07-16 09:50] GMLudo commented on #1245
Hi,

I don't know at all it should fit your needs, however, we already use Ansible as a Python library to automate some actions programmatically.

Maybe less complicated than integrate paramiko.
You have also asyncssh, but I have no idea if it's easier or more complicated to use than paramiko.

Regards.

[2017-07-26 06:49] rainchen opened #2927 "How about adding a "rank" column to results table"
How about adding a "rank" column to results table.

For example:

![frameworkbenchmarks-with-rank-demo](https://user-images.githubusercontent.com/71397/28608070-7584fed6-7211-11e7-9175-6bdc0f7f5d79.png)

BTW, I done this with one line of js code:

[code]

[2017-07-27 10:29] whitingjr commented on #371
I'd like to see this added back in. Even going into detail feature support necessary to qualify for a category.
For example the Release category needing
 [Remove Dot Segment](https://tools.ietf.org/html/rfc3986#section-5.2.4)

[2017-08-06 22:10] corporatepiyush opened #2931 "Default pool size for JavaScript benchmarks"
For most JavaScript frameworks, test suite uses default size of db connection thread pool, which is incorrect.
Perf testing must be done by mentioning db client max thread pool size to value say 256.

WHERE

Db clients include
1. Mongoose (for mongodb)
2. Sequelize ORM (for postgres)
3. Redis

[2017-08-27 10:43] jaguililla opened #2943 "Move TFB components into containers progressively"
First of all, this project is OUTSTANDING I can't thank you enough for allowing me to test the performance of my framework this good and also free. You folks are great!

I've been using your project for some rounds and along this time, some good technologies have gone mainstream (containers and microservices tools). As I learned these tools, I've seen a chance to use them inside your benchmark.

B

[2017-08-27 11:05] RX14 commented on #2943
I think there are quite a few seperate projects here. I'd be :+1: for putting benchmark targets in containers, but obviously the opinion which matters most is that of the techempower guys. I think it would be good to refactor the benchmarks in pieces, not just rewrite.

Regarding performance, docker does have an overhead, although I'm not sure if it's significant. IIRC there's some syscall overhea

[2017-08-27 13:58] jaguililla commented on #2943
Docker probably has some overhead, It is a matter of balancing the pros and cons... and as you say, that is a decision to be made by TechEmpower people.

Thanks for your thoughts 👍

[2017-08-27 17:19] nbrady-techempower commented on #2943
Hey @jaguililla!

Thanks for the well thought out post. We've discussed moving to a container based solution like Docker internally quite a few times. I don't think any of us is really against the idea, it's mostly about the amount of work that comes with something like that. Not only does it require a lot of work on our end to make sure we continue with the same process: documentation, continuous

[2017-08-27 17:25] nbrady-techempower opened #2944 "Travis MySQL DB Config"
It looks like travis mysql installation is broken. Similar to what happened in our testing environment, it looks like the version of mysql being installed on travis isn't compatible with the config we are pushing to it. This is causing a lot of failures on travis where there shouldn't be.

[2017-08-27 17:29] jaguililla commented on #2943
Ok, I knew that under a project with a lot of moving parts like this, this change could not be taken lightly. I will participate in this discussion to see if it can be done in some parts or not at all.

[2017-08-28 11:16] Dith3r commented on #2943
Up to using Jmeter why not try Gatling? it would easily add possibility to put some alternations to requests like params, more complex work flow (maybe something similar to TODO app).

[2017-08-28 14:17] jaguililla commented on #2943
@Dith3r If load generation is going to be changed (and that is something TE must decide) it would be great to list all available options and note their pros and cons. To me, Gatling.io seems a great tool (I do not know if all features are open though).

Regarding this discussion, I would split the proposal in smaller parts and see if they can be added to the road map one by one (and discussing eac

[2017-09-02 06:53] sumeetchhetri opened #2949 "ffead-cpp is not a part of the Round 15 Preview 2"
Am unable to see any of the 54 tests for the ffead-cpp framework,

ffead-cpp
ffead-cpp-mysql
ffead-cpp-postgresql

ffead-cpp-apache2-mongo
ffead-cpp-apache2-mysql
ffead-cpp-apache2-postgresql

ffead-cpp-nginx-mongo
ffead-cpp-nginx-mysql
ffead-cpp-nginx-postgresql

Every test version has 6 tests each, cannot find even one of my framework tests in the Round 15 preview 2 results, am I missing anythin

[2017-09-03 10:48] Dith3r opened #2950 "Pypy2 issues in round 15 preview 2"
Each framework setup with pypy2 failed with same error:

[code]

[2017-09-03 11:47] methane commented on #2845
Maybe, query_cache is disabled by default from MySQL 5.6.
While query_cache had nice effect on read-heavy / no-update workload,
it had very bad effect on concurrent update workload.
Since many core server is very common on nowdays, I think we keep disabling
query_cache to show realistic performance.

[2017-09-03 11:48] methane commented on #2950
Curious.  What is permission of these directories?

[2017-09-04 21:10] nbrady-techempower commented on #2949
That is strange. I will look in to that for you this week @sumeetchhetri and get back to you

[2017-09-06 06:27] drujensen opened #2960 "Amber, Kemal, Kemalyst results in question"
Hi Nate,

We are baffled by the results for the 3 crystal projects and hoping you can help shed some light on the 100k RPS results. We were expecting 1.8 to 2.0 million RPS range for these projects.

We have done multiple runs on different sized systems in AWS trying to replicate the slow response times for plaintext and json in preview 2.  @sdogruyol has also ran the benchmarks and can confirm si

[2017-09-06 06:29] sdogruyol commented on #2960
Thanks for this @drujensen :+1: I've also done some small runs and can second this issue, unfortunately I don't have any logs :cry:

[2017-09-06 14:13] nbrady-techempower commented on #2960
Hi @drujensen! We are investigating some issues now with r15-p2 and are doing some reruns. I'll let you know as soon as I see some results and we will go from there.

[2017-09-07 18:05] nbrady-techempower commented on #2960
@drujensen @sdogruyol Looks like we found the issue. We've started a new run and amber has completed but it will be some time before we get a full picture for R15-P3. Here are the results:

[code]

[code]
[code]

[code]

[code]

Sorry to put the scare in everyone, but this is exactly why we do preview runs!

[2017-09-07 19:26] drujensen commented on #2960
Hi Nate,

Thanks for looking into this.  Unfortunately, this still looks the same to me.  This is showing ~100k per second but i’m expecting 1.8m per second given my own benchmarking.  We are getting ~400k per second on an 8 core system.

I’m not sure where to go from here.  Any insight would be helpful.

Thanks,
Dru

[2017-09-07 20:06] elorest commented on #2960
Nate,

To reiterate what @drujensen said above: We're getting 400k r/s after installing tech empower benchmarks. And setting that up as per the instructions. It seems strange to that our 8 core VPS gets faster benchmarks than your 80 core server. Especially since on our tests we're only about 20% slower than crystal-raw which your benchmarks show at 2.5 million.

Thanks for your feedback,

Isaac S

[2017-09-07 20:18] nbrady-techempower commented on #2960
Sorry guys, I misunderstood. Could you paste me the `benchmark.cfg` you are using in the framework root. Are you guys using a 3 machine set up? Our App server, Client, and DB are on separate machines. And have you also tested crystal in your environment?

[2017-09-07 20:26] faustinoaq commented on #2960
Hey guys @drujensen @elorest Can you read [this comment](https://github.com/TechEmpower/FrameworkBenchmarks/issues/2960#issuecomment-327878442) again?

He is showing us good results for plaintext, very similar to crystal ones.

[code]

Also json is good:

[code]

Thanks you @nbrady-techempower for you support! :heart:

[2017-09-07 20:29] sdogruyol commented on #2960
@faustinoaq that's total requests

1.44M / 15 ~= 100K RPS

[2017-09-07 20:30] faustinoaq commented on #2960
@sdogruyol My bad :sweat_smile:

[2017-09-07 20:56] nbrady-techempower commented on #2960
@elorest @drujensen can you confirm whether you're on a 1 or 3 machine setup and specifically, what is your ULIMIT max? We've set a very high ULIMIT on these machines and that specifically helped the performance of a lot of frameworks. After looking closely at wrk results you zipped up and the ones being generated from our environment, it seems like you may have a single machine setup with reduced

[2017-09-08 00:32] drujensen commented on #2960
Nate,

We only used a single machine and used the default u limit.

We will rerun on two boxes since we are not concerned with the 4 db tests and up the u limit to max.

I doubt that crystal-raw was some way limited by ulimits but we will confirm.

Question is why running on one box would be faster than 2, and why we are seeing 4x faster on an 8 core vs 80 core, but we will confirm.

[2017-09-08 00:49] elorest commented on #2960
We ran on a single VPS with other machines forwarded to 127.0.0.1 in the
hosts file. Ulimit said unlimited.

On Sep 7, 2017 6:32 PM, "Dru Jensen" <notifications@github.com> wrote:

[2017-09-08 02:38] nbrady-techempower commented on #2960
@drujensen From the client running `wrk` to a server on a different machine simulates a real request over the internet. Hitting localhost with `wrk` on the same machine is going to give you much better results?

I don't think there's such a thing as ulimit=unlimited.

[2017-09-08 13:57] nbrady-techempower opened #2962 "dotnet-sdk package breaking apt"
@mikeharder @dougbu

It appears that `dotnet-sdk-2.0.0` package is breaking on apt. It causes a `100 error` for all other packages in our continuous run with the following result:

` dotnet-sdk-2.0.0 : Depends: aspnetcore-store-2.0.0 but it is not going to be installed`

[2017-09-08 14:21] dougbu commented on #2962
@nbrady-techempower do you have a link to the rest of the log?

[2017-09-08 14:25] nbrady-techempower commented on #2962
@dougbu http://sprunge.us/SQCY

I may have my head down in another project today. If you need me, feel free to email nbrady@techempower.com

[2017-09-08 16:59] mikeharder commented on #2962
@nbrady-techempower: Thanks for letting us know, we will investigate today.

[2017-09-09 18:05] faustinoaq commented on #2960
@nbrady-techempower I think :point_up_2:  is reasonable but the thing here is that results in `plaintext` and `json` with `kemal` && `amber`. seems to be too far of `crystal-raw` results.

So, if `crystal-raw` is getting 1.5M RPS we are expecting at least 50% of that (say 700K RPS) not a 10% as the preview 2 is showing us (100K RPS). I think we can find the problem :smile:

BTW, Thanks you a lot f

[2017-09-10 01:07] nbrady-techempower commented on #2960
@faustinoaq I understand what you're saying. I can give you guys other environment information as you need it. There must be something that `crystal-raw` is taking advantage of in that environment? I'm not sure without digging deep in to each framework, which unfortunately I can't do at the moment. But let me know if there's anything else I can get you.

[2017-09-11 13:57] nbrady-techempower commented on #2949
@sumeetchhetri Looks like your tests are showing up now for us in our current run. It's possible the run we posted finished around the time ffead was merged back in, but you should be in R15-P3.

All of your apache tests are failing though. Looks like you're just missing a `apache` in your `fw_depends` line in those setup files: https://github.com/TechEmpower/FrameworkBenchmarks/blob/master/framew

[2017-09-11 15:11] #2962 closed

[2017-09-12 04:58] sumeetchhetri commented on #2949
@nbrady-techempower, If you have a look at the recent changes being done for the ffead-cpp tests you will see that I no longer use the apache2 core pacakage instead I do a complete build from apache sources (https://github.com/TechEmpower/FrameworkBenchmarks/blob/master/toolset/setup/linux/frameworks/ffead-cpp-httpd.sh) and refer these as
fw_depends ffead-cpp-httpd
in all of the ffead-cpp-apache-*

[2017-09-13 00:55] nbrady-techempower commented on #2949
@sumeetchhetri Understood. I did not dig that deep. Please check your setup files for broken sources. This is not correct: https://github.com/TechEmpower/FrameworkBenchmarks/blob/master/toolset/setup/linux/frameworks/ffead-cpp-httpd.sh#L9

[2017-09-13 05:36] sumeetchhetri commented on #2949
Fixed it - https://github.com/TechEmpower/FrameworkBenchmarks/pull/2967

[2017-09-19 18:50] mwpastore commented on #2944
I have some updates I'd like to push but this is blocking my testing. Any ETA on a fix?

[2017-09-19 23:05] nbrady-techempower commented on #2944
@mwpastore sadly no immediate ETA. Resources here are tied up at the moment. This is only with the travis config however. Local testing with the vm setup we provide in the docs, or in your own environments should work fine, and then we can pull and test locally for now as a workaround to the travis issue.

[2017-10-02 03:33] cjnething opened #2978 "Hacktoberfest-Friendly Issues"
For all of our [Hacktoberfest](https://hacktoberfest.digitalocean.com/) contributors looking for a great way to get started with the Framework Benchmarks project, this issue is going to be a thread to discuss beginner-friendly tasks in the project.

If you're a beginner contributor: Please feel free to ask any questions you may have on this thread. These can be about the project as a whole, how to

[2017-10-02 03:35] cjnething commented on #2978
Some ideas:
- Pick the language/framework of your choice, find a dependency that can be upgraded, and upgrade its version
- Find a part of the project that is unclear or undocumented, and add some clarity to our [documentation](https://github.com/TechEmpower/TFB-Documentation)

[2017-10-02 03:48] Iqlaas commented on #2978
Thank you @cjnething . Me a beginner contributor.

[2017-10-02 05:35] concept-core commented on #2978
@cjnething I see that you use `laravel 4.2` to compare but shouldn't it be better to use the latest version ?
If so should I make a new folder named `laraver55` or update the existing ?

[2017-10-02 13:18] nbrady-techempower commented on #2978
@concept-core Updating the existing test would be preferable. Feel free to open a pull request with changes and ask questions there if you need any help. Thanks!

[2017-10-02 13:25] concept-core commented on #2978
@nbrady-techempower I will check it out when I am home. Thanks for the answer !

[2017-10-03 08:39] costajob opened #2981 "Dart raw parallel server is broken"
### OS (Please include kernel version)
System Version: macOS 10.12 (16A323)
Kernel Version: Darwin 16.0.0

### Expected Behavior
Dart VM should run [the server](https://github.com/TechEmpower/FrameworkBenchmarks/blob/master/frameworks/Dart/dart-raw/server.dart) without breaking.

### Actual Behavior
I've got the following error:
[code]

### Steps to reproduce behavior
Just run the Dart VM.

### Ot

[2017-10-06 03:50] rafaelmilanibarbosa commented on #2978
@cjnething Hi im a beginner contributor to.

[2017-10-08 08:18] riktimmondal commented on #2915
I would like to contribute can you provide some resource to get started on this since i am a beginner

[2017-10-09 14:44] nbrady-techempower commented on #2915
Thanks @donald-jackson Let us know if you need anything.

@riktimmondal Have you checked out the docs at http://frameworkbenchmarks.readthedocs.io/en/latest/

[2017-10-09 19:52] thosakwe commented on #2981
It's because the samples here use a very outdated version of the Dart VM. I'm working on benchmarks for [Angel](https://angel-dart.github.io), a server framework in Dart, so I'll see if I can also get to correcting `dart-raw`.

[2017-10-10 19:03] #2944 closed

[2017-10-16 02:01] aaron-hall-7 commented on #2978
Submitted PR #2992 to upgrade CakePHP to 2.10.3

[2017-10-19 00:55] garg000dhruv commented on #2978
@cjnething _First-time contributor_ "to-be" over here. I'd love to help out and will take a look if I can find something.

[2017-10-20 17:26] drujensen commented on #2960
@nbrady-techempower One theory we have is that we have too many GC threads running.  Crystal by default launches 16 threads per process.

Crystal has a way of reducing the number of GC threads but unfortunately, we don't have a way of checking to see if this is the issue since we can't duplicate the issue.

Is there a way we can make the changes and then request a run of amber and kemal to determi

[2017-10-20 17:57] nbrady-techempower commented on #2960
@drujensen Absolutely! We actually have some downtime at the moment because Server Central is moving our environment to a different location, so feel free to open a PR with those changes as there will be a few more preview runs before official results are released.

[2017-10-24 18:19] eliascolares commented on #2978
Thanks

[2017-10-25 08:01] zloster commented on #2845
https://dev.mysql.com/doc/refman/5.6/en/server-system-variables.html#sysvar_query_cache_type It seems @methane have nailed it.
MySQL with versions >= 5.6.8 disable it by default. Version 5.6.8 is a _Release Candidate_, version 5.6.10 is the first _General Availability_ release - https://dev.mysql.com/doc/relnotes/mysql/5.6/en/

I haven't done extensive research but from a quick look it seems the r

[2017-10-25 08:23] zloster commented on #1352
@nbrady-techempower I think this old issue could be closed. Last time I've checked the Gemini project was migrated to [using Ivy](https://github.com/TechEmpower/FrameworkBenchmarks/blob/master/frameworks/Java/gemini/ivy.xml). The [lib](https://github.com/TechEmpower/FrameworkBenchmarks/tree/master/frameworks/Java/gemini/Docroot/WEB-INF/lib) folder contains only the Gemini JARs.

[2017-10-25 20:41] nbrady-techempower commented on #1352
@zloster Indeed, thanks!

[2017-10-25 20:41] #1352 closed

[2017-10-25 20:42] msmith-techempower commented on #1352
@nbrady-techempower @zloster We cannot remove Gemini's `WEB-INF` folder **yet** because `Gemini` is not open source, so we need to include **at least** our jars.

[2017-10-27 23:46] foliot commented on #2960
I notice that for Kemal and Amber, it looks like you are converting the result to a JSON string and returning that, which would have to be later written to the IO for the response. The standard Crystal version writes directly to the output IO instead of constructing an intermediate string. Could that explain the discrepancy?

[2017-10-28 06:51] elorest commented on #2960
@foliot You might be on to something. I could especially see the queries one being affected by that.

amber
[code]
vs crystal

[code]

[2017-10-28 06:52] elorest commented on #2960
All though I'm pretty sure that the hello world routes are also being slow and breaking pipes.

[2017-10-28 06:52] elorest commented on #2960
@drujensen what do you think?

[2017-10-28 08:52] faustinoaq commented on #2960
@elorest See https://github.com/TechEmpower/FrameworkBenchmarks/pull/2891

@sdogruyol tried it on Kemal before

[2017-10-28 10:03] RX14 commented on #2960
Broken pipe is a misleading error, they happen when `wrk` shuts down and closes the tcp connection while crystal is still working on a response. It's not going to affect performance.

[2017-10-28 10:16] touhoku-japan opened #3021 "http://www.techempower.com/benchmarks/ is not work"
Dear Developers,

http://www.techempower.com/benchmarks/
benchmark result is not work. please update.

Best Regards,

[2017-10-28 19:06] foliot commented on #2960
@faustinoaq Ah yea, I thought I remembered @sdogruyol trying that. It looks like the problem was that he wrote the JSON to IO in the handler, while also returning a value that the framework would write to IO. There was some sort of problem when he wrote to the IO twice.

Couldn't you return a wrapper object with a `to_str(io)` method that would do nothing but call `results.to_json(io)`? Then there

[2017-10-28 19:10] foliot commented on #2960
Now that I look at it again, it doesn't look like it's the JSON benchmarks where Kemal is struggling.. Maybe the IO stuff isn't much of a performance impact after all.

[2017-10-28 19:11] elorest commented on #2960
There's a ticket where we're working on that. We do have an issue though we
can't write to response if we care about Handler fall through. Once you
write the response it can't be modified. If this were an issue we could
probably find a way around it for benchmarks.

On Oct 28, 2017 1:06 PM, "foliot" <notifications@github.com> wrote:

@faustinoaq <https://github.com/faustinoaq> Ah yea, I thought I

[2017-10-28 19:12] faustinoaq commented on #2960
@foliot You can avoid return value using `Nil` as return type:

[code]

https://carc.in/#/r/2zd4

[2017-10-28 21:06] faustinoaq commented on #2960
Another interesting reference to @RX14 comments about GC via IRC:

[code]

[2017-10-30 14:01] #3021 closed

[2017-11-05 12:03] oldaniel opened #3042 "rust - tokio-minihttp - Zap is faster than minihttp"
So I developed a web framework _(Still in development, currently working on speeding up request parsing)_ called `zap` (https://github.com/oldaniel/zap) and it is faster than `tokio-minihttp`. I used it as inspiration but speeded up sending a response and parsing the requests.

Maybe someone can tell me if I should open a pull request on it.

[2017-11-06 01:54] nbrady-techempower commented on #3042
@oldaniel Sure, part of the reason we created these benchmarking tests was to help framework developers find ways to improve and to create a dialogue with others. If you plan on maintaining this framework by all means, open up a pull request for it. Thanks for checking it out and let us know if you have any questions going forward.

[2017-11-06 01:55] #3042 closed

[2017-11-06 15:37] nbrady-techempower commented on #2960
Hey guys, wanted to let you know we have a run going. However, amber did fail. I haven't been able to dig in to the logs so here's the output if you want to take a look: http://sprunge.us/PXUM

Also here's a quick snapshot of Kemalyst vs last round:
![image](https://user-images.githubusercontent.com/1304934/32448993-451d2ebc-c2c5-11e7-8ac0-34c578a35454.png)

I'll drop some of the raw json data her

[2017-11-06 17:49] drujensen commented on #2960
@nbrady-techempower Thanks for the results.  This didn't seem to help.

@faustinoaq @RX14 I think at this point we need to consider reducing the number of processes we launch.  Currently we are launching a process per core.  WDYT about launching 1/2 to 3/4 that so 1 process for every 2 cores?

[2017-11-06 18:40] RX14 commented on #2960
@nbrady-techempower The results of crystal-raw compared to previous round would be great.

We know that crystal itself performs well, perhaps you should focus on reducing garbage allocation throughput inside your frameworks first.

[2017-11-06 19:15] nbrady-techempower commented on #2960
Here's a link to the `results.json` for the run still in progress. http://sprunge.us/HNHc

[2017-11-06 20:13] RX14 commented on #2960
@nbrady-techempower please can you place a link to the place where you can enter results JSON and visualize it, I seem to have lost my link.

[2017-11-06 20:16] nbrady-techempower commented on #2960
@RX14 https://www.techempower.com/benchmarks/#section=test

[2017-11-06 20:21] RX14 commented on #2960
@nbrady-techempower it'd be great if there was a link to that somewhere on the site :)

[2017-11-06 20:22] msmith-techempower commented on #2960
@RX14 Fair point

[2017-11-06 20:22] nbrady-techempower commented on #2960
@RX14 I added it to the readme here which is the best i can do at the moment. I'll make a note of that for the site.

[2017-11-06 20:49] elorest commented on #2960
@RX14 It's interesting because if I run the crystal, kemal, amber tests locally they all come out about the same with raw crystal being about 5% faster. Seems that benchmarking from another computer over the network is what changes that somehow. Not sure why crystal raw would handle it fine but amber and kemal would blow up though.

[2017-11-06 21:26] marksiemers commented on #2960
Two points:
1. Making the issue reproducible
1. Database calls

## Making the issue reproducible
@elorest @drujensen @sdogruyol
What is holding us back from creating the same environment so we can get a feedback loop on fixing things? Is it because it is custom hardware rather than an AWS instance?

@nbrady-techempower - Are there tests planned for AWS (or other providers) - that would be easier t

[2017-11-06 21:27] msmith-techempower commented on #2960
No

Microsoft Azure, though I am not sure of the specs off hand

[2017-11-06 21:31] marksiemers commented on #2960
@msmith-techempower - It looks like we can use prepared statements though:

Source: https://www.techempower.com/benchmarks/#section=code

Is that the only thing allowed?

[2017-11-06 21:53] nbrady-techempower commented on #2960
@marksiemers As far as the specifications go, we can't predict _everything_ someone will come up with to get an edge, but we've done our best to capture everything we don't allow. If you have questions about anything in particular, or if something seems unclear please let us know.

As far as Azure, like @msmith-techempower we don't have specs for those environments off-hand, and to be honest, we'r

[2017-11-06 22:04] RX14 commented on #2960
@marksiemers There's 2 issues here, optimizing crystal-raw and reproducing the problems frameworks have keeping up with crystal-raw. Please keep these issues seperate. Optimizations for crystal-raw would be appreciated (I think the bottleneck is much more around the unoptimized DB driver and connection pool, along with having a connection pool for each core), but it's off-topic and distracting for

[2017-11-07 04:18] marksiemers opened #3046 "Duplicate SQL statements in `create-postgres.sql` file"
Is it intentional that the SQL statements are duplicated in this file?
https://github.com/TechEmpower/FrameworkBenchmarks/blob/master/toolset/setup/linux/databases/postgresql/create-postgres.sql

The tables are dropped and created, the data is inserted...then the same thing happens again.

I looked at mysql, and it doesn't appear to have the duplication.

If the duplication isn't necessary, removi

[2017-11-07 06:15] marksiemers commented on #2960
Just ran the benchmarks locally for crystal-raw, kemal, and amber.

results.json here: http://sprunge.us/iQXe

All passed successfully. (based on commit d7ab76a27e7f830923f8729673ed6ec7fa09f662)
[code]
This is inline with our expectations of at least 50% of crystal-raw's performance.

I looked through the code and the setup.sh between crystal-raw and amber. Nothing stands out to me.

It looks like

[2017-11-07 14:44] drujensen commented on #2960
@marksiemers That is correct and is why our expectation is ~1m requests per second for Amber/Kemal on plaintext and json.  We have seen ~1m requests per second using Amber on smaller boxes.

@RX14 is right in that both frameworks are allocating more memory and we could do better at memory management in both frameworks.  It may be that the cause is the GC blocking to perform cleanup more often but

[2017-11-07 16:19] faustinoaq commented on #2960
@drujensen I think the mix  between boxes latency and GC overhead could be the clue of Crystal's framework slowdown.

Maybe fill all cores isn't a good Idea, Maybe the OS also requires some free resources to perform some other operations.

[2017-11-07 16:45] nbrady-techempower commented on #3046
They create differently cased tables, `world` and `World`. I'm not sure what the reason behind this was, other than confusion with postgres originally that `CREATE TABLE World` was creating a table called `world`. So a number of different frameworks use different casing when dealing with Postgres. It'd be nice to be on the same page, but if some of the ORMs/Frameworks innately choose one case over

[2017-11-07 16:49] msmith-techempower commented on #3046
The reason behind this is that some ORMs enforce cased queries via back-ticks:
[code]

It turns out that not all database engines agree on what to do when you disable case sensitivity. If I recall correctly (and I probably do not), PostgreSQL will fail the first query if lower case is forced and only `world` exists.

[2017-11-07 16:51] #3046 closed

[2017-11-07 16:55] drujensen commented on #2960
https://github.com/TechEmpower/FrameworkBenchmarks/blob/master/frameworks/Crystal/amber/setup.sh#L13

[2017-11-07 18:16] paulcsmith commented on #2960
Looks like the db results for all the crystal ones are pretty slow. Is this because the crystal db driver is just super slow? Seems like it could/should be much higher

[2017-11-07 18:21] marksiemers commented on #2960
@paulcsmith - See RX-14's comment above about that being a different issue (than framework slowness vs crystal-raw slowness)

That said, I'm looking into it - whether or not prepared statements will help.

But yes, we think either `crystal-db` or `crystal-pg` would be the place to address the performance issue.

If you have any thoughts, it merits discussion in crystal's IRC or gitter.

[2017-11-07 18:23] paulcsmith commented on #2960
Oh I see. I was linked directly to your comment from elsewhere and missed that discussion. Sorry to muddy up this thread! Thanks for linking me to RX14's answer

[2017-11-08 20:08] marksiemers commented on #2960
@nbrady-techempower
I'm running some tests locally in an attempt to figure out how we can fix this.

The tool to see results based on JSON is really helpful, but `amber` I don't think gets parsed because it has not been part of the official results yet. Is there an easy way for me to fix that? (Hacking on the JS, or otherwise?)

results.json - http://sprunge.us/iQXe
Pasting it here: https://www.te

[2017-11-08 20:58] faustinoaq commented on #2960
@marksiemers A workaround would be renaming **Amber** to **Kemalyst**

[2017-11-08 21:11] faustinoaq commented on #2960
@marksiemers No, kemalyst doesn't work, another workaround is renaming **Kemal** to **Something** and **Amber** to **Kemal**.

[2017-11-08 21:35] marksiemers commented on #2960
Thanks faustinoaq, that should work for now.

@nbrady-techempower - earlier you posted a comparison output that looked like this:
https://user-images.githubusercontent.com/1304934/32448993-451d2ebc-c2c5-11e7-8ac0-34c578a35454.png

Is the tool that produced that available to us?

[2017-11-08 21:40] nbrady-techempower commented on #2960
@marksiemers No, it's not currently available, but I don't mind taking some screen caps for you if you drop me a few results files to compare.

[2017-11-08 21:42] marksiemers commented on #2960
Sure thing - it may not be until tomorrow, I don't want to send you too many, but maybe get the list down to 3-4

[2017-11-09 05:35] marksiemers commented on #2960
@nbrady-techempower - I just manually compared some test runs (seeing 25-60% improvements in db benchmarks). Thanks for the screen grab offer, but I don't think it'll be necessary.

What I would like to do is run the tests in a way that more mimics your 3 server setup.

I'm most familiar with AWS, is there a guide on how to get the 3 server setup running "in the cloud"?

I'd like to, so we can try

[2017-11-09 14:41] nbrady-techempower commented on #2960
A single machine setup where localhost is the client, server, and database will definitely get you inflated results. I can get faster results on a virtual box vm for most tests because there's no network latency.

The installation guide should work fine for a three machine setup: http://frameworkbenchmarks.readthedocs.io/en/latest/Development/Installation-Guide/

And these are the specs:
http://fr

[2017-11-09 15:12] nbrady-techempower commented on #2978
Thanks @cjnething for hosting this and thanks everyone for contributing! Take your coats off and stay a while! :)

[2017-11-09 16:03] RX14 commented on #2960
But why would network latency affect these frameworks so much but not crystal? All are evented and use the same core HTTP abstraction. It makes little sense.

[2017-11-09 16:15] nbrady-techempower commented on #2960
Doesn't make sense to me either. I don't know what else to tell you guys.

[2017-11-09 17:22] marksiemers commented on #2960
@RX14 - I can't wrap my head around it either. I can only speculate that the network latency between the DB and the app server somehow create memory bloat and/or GC overhead for the frameworks but somehow not for crystal-raw.

For amber, the connection would be held by the ORM through the models that exist - one of the ways it diverges from crystal raw.

In any case, I think our only option at thi

[2017-11-09 21:45] marksiemers commented on #2960
@nbrady-techempower Thank you for your help and patience.

Do you have a schedule for the next preview run and next official run?

[2017-11-09 21:49] RX14 commented on #2960
@marksiemers forget ENTIRELY about the DB. The frameworks lag in the plaintext test which never even touches the DB.

[2017-11-09 21:53] RX14 commented on #2960
I propose 3 tests that the techempower guys could run to help us troubleshoot this:
- run a benchmark and view the CPU utilization in htop, is every sore being utilized? Is each crystal process running at 100% load?
- run only the HTTP plaintext test of amber, without running the DB-touching tests, and see if there's a performance difference.
- run the test on port 8080 similar to crystal-raw, ins

[2017-11-09 21:59] nbrady-techempower commented on #2960
@RX14 It's unlikely that we'll be able to do those for you soon, since our SC environment is currently doing continuous benchmarking. We're trying to get a preview out asap while working on some other things internally. If we do bring the continuous run to a stop at some point, I'll see if I can squeeze that in for you but you would be better off trying to set up a similar environment.

[2017-11-09 22:01] marksiemers commented on #2960
@nbrady-techempower - For the 3 tests proposed by RX14, do you need anything from us, in case the opportunity opens up?

[2017-11-09 22:10] nbrady-techempower commented on #2960
@markseimers no, but as I pointed out earlier in this thread, amber is not passing in that environment and the logs didn't provide an immediate clue as to why. You're also welcome to make a pull request to change the ports, that would show up in a run over the weekend.

[2017-11-09 22:16] marksiemers commented on #2960
That error, I also haven't been able to reproduce, unfortunately.

The good news is, since kemal is experiencing the same issue. If we solve it for that, hopefully, it will be the same fix for amber.

[2017-11-10 06:18] marksiemers commented on #2960
@nbrady-techempower - Does the PR have to be merged in, or will each open PR be run this weekend?

If each open PR is run, is it ok to open multiple PRs for the crystal frameworks? To test different hypotheses about how to fix the discrepancy between crystal-raw, kemal, and amber.

[2017-11-10 15:22] nbrady-techempower commented on #2960
@marksiemers Unfortunately it has to be merged in, and a continuous run takes about 4 days to fully complete.

[2017-11-13 15:02] nbrady-techempower commented on #2960
[code]

[2017-11-13 15:07] nbrady-techempower commented on #2960
Here are the kemal results from the weekend. They look very much inline with the results I posted last week. Looks like the port did not make any difference.

![image](https://user-images.githubusercontent.com/1304934/32732384-3f037d70-c841-11e7-83f1-c161d5b8593f.png)

[2017-11-13 18:07] marksiemers commented on #2960
@nbrady-techempower - Thank you for the prompt update. If you have any info to comment correct my hypothesis below, please weigh in.

Also, is there any time this week to try any of @RX14 suggestions of htop and/or not running the db tests for kemal and amber?

@RX14 - I know you're going to kill me if I say database one more time, but in the absence of other ideas, what about this hypotheses:

1.

[2017-11-13 19:04] nbrady-techempower commented on #2960
@marksiemers @RX14 Do me a favor if you could. Fork the repo and create a branch for each different test configuration you'd like to test against. Don't open any PR's here for them, just point me to the repo with all the different configurations, and I'll see if I can get you some results for each branch. Please don't modify anything but the tests you'd like to run. The current run should finish t

[2017-11-13 19:20] elorest commented on #2960
@nbrady-techempower @RX14 @drujensen @marksiemers

What thing that stands out to me when reading through, the backlog of comments and things that have been tried and assumed, is that; If this was a GC issue we should also see the same errors while benchmarking on the same servers. @drujensen and I tested on a 36 core server and didn't have any issues.

Also since each core is running it's own proc

[2017-11-13 20:59] marksiemers commented on #2960
@nbrady-techempower - Sure thing. What timeframe are you expecting?

[2017-11-15 07:34] marksiemers commented on #2960
@nbrady-techempower
Here is the fork: https://github.com/marksiemers/FrameworkBenchmarks

There are three branches to test if you have time:
- max-pool-2-per-process
   - https://github.com/marksiemers/FrameworkBenchmarks/tree/max-pool-2-per-process
- max-pool-2x-cpus
   - https://github.com/marksiemers/FrameworkBenchmarks/tree/max-pool-2x-cpus
- use-half-cpus
   - https://github.com/marksiemers/F

[2017-11-15 14:31] drujensen commented on #2960
I don't know if we want to set the GC_MARKERS to 40.  Wouldn't that launch 40 per process so 40x40?

https://github.com/marksiemers/FrameworkBenchmarks/blob/use-half-cpus/frameworks/Crystal/amber/setup.sh#L12

[2017-11-15 16:29] marksiemers commented on #2960
@drujensen - I don't know what we want to do at all. What we've tried up this this point hasn't worked. I'm trying not to out-smart myself, and just trying to gather data about what does and doesn't work.

That said, if you think that will make a difference, I've given you access to that fork. You can add a branch or modify `use-half-cpus`

[2017-11-15 16:41] drujensen commented on #2960
@marksiemers ok, i updated the GC_MARKERS=2 for all three frameworks.  I also changed Crystal Raw to only use half the processors so we have something to compare against.

[2017-11-15 17:31] nbrady-techempower commented on #2960
@drujensen @marksiemers The current run still has ~11 hours left. If you need to get anything else in to that repo, you've got some time. I'll get you some numbers tomorrow morning.

[2017-11-15 17:41] marksiemers commented on #2960
@RX14 - Any additional ideas?

Both kemal and amber use radix for routing while crystal uses a case statement. It hasn't caused issues in our testing, but maybe it makes a difference in the TechEmpower environment.

[2017-11-15 19:00] faustinoaq commented on #2960
@marksiemers you're right, I compared round 15 preview 2 results again and I have concluded:

## Database tests

amber and kemal are very similar to crystal-raw on database test. I think because databases are the main overhead, no problem here 👍 results are aceptable

![screenshot_20171115_135312](https://user-images.githubusercontent.com/3067335/32854351-5372bfe2-ca0c-11e7-8a23-211b2df7d0e6.png)

[2017-11-15 19:16] drujensen commented on #2960
@faustinoaq why do you think its the radix algorithm?  Is there something blocking or doing something that makes you suspect it is causing this issue?

[2017-11-15 19:48] marksiemers commented on #2960
@drujensen - Since we can't reproduce the issue, we don't have any "evidence" of what is causing it.

I've been trying to approach it more from a deduction strategy rather than debugging - since we don't really have debugging tools available at this point. Or, if you like, the Gregory House approach - just start treatment and see if it gets better.

All we can do is look at what is different betwe

[2017-11-15 19:49] faustinoaq commented on #2960
@drujensen Yeah, I compared radix vs switch statement (aka case) used by crystal-raw [here](https://github.com/TechEmpower/FrameworkBenchmarks/blob/master/frameworks/Crystal/crystal/server.cr#L16) and the results say radix is almost 80x slower than a case statement finding a simple path like `/plaintext`

[code]

[code]

See more result 👉 https://gist.github.com/faustinoaq/896f821f47711c6c059c5eca

[2017-11-15 19:53] drujensen commented on #2960
@faustinoaq @marksiemers Ok, That makes sense.  I didn't realize it was that much slower.  I understand where your heading and think the test has some validity.  If we find that radix is the cause, we can look at fixing it or replacing it.

[2017-11-15 19:53] marksiemers commented on #2960
Assuming this is our smoking gun, this is a great lesson learned.

In fact, it may inform some design decisions with amber - like our static routes - we may want to bypass or intercept a request before it hits the router.

What is still bizarre is that we didn't see the same slowdown in our tests.

@faustinoaq - What hardware did you run your tests on? Can you reproduce the TFB slowness on that ma

[2017-11-15 20:08] luislavena commented on #2960
Interesting findings @faustinoaq.

I think comparing a simple case statement with any URL-parsing/matching mechanism will not be fair, being that mechanism powered by Radix or any other library (🍎 != 🍊).

For example, Radix allocates several instances of `Char::Reader` during lookup which might add GC pressure.

In my tests, the difference between Radix and case statements gets reduced by disablin

[2017-11-15 20:18] marksiemers commented on #2960
For the record, when I add all the routes for the benchmarks and build with the `--release` flag, I'm getting a 200x + difference:
[code]

[2017-11-15 20:21] paulcsmith commented on #2960
I'm curious how much of a difference this would make in practice. Radix still pulls off a couple million in half a microsecond, so it *seems* like it should make little different in each request. But maybe it's the object allocations that are the issue. I think it is definitely worth testing out

[2017-11-15 20:25] faustinoaq commented on #2960
@luislavena Thank you for your comment! You're right about 🍎 != 🍊, is very unfair compare radix to case statement. Of course radix have a cool features like `/path/:id` and `/path/*`, etc.

Do you think we can improve radix for simple paths without symbols `/`, `:` or `*` ?

something like:

[code]

[2017-11-15 20:30] marksiemers commented on #2960
@luislavena

Agreed. and I think this particular set of paths is worst case scenario for a radix tree:
[code]
Radix will remain very valuable - especially for a full blown RESTful app with hundreds of routes.

Optimizing for this kind of scenario (simple path, very high rps) it seems it is not the best tool.

I'm guessing the compiler optimizations can do a lot with those case statements - likely

[2017-11-15 21:12] luislavena commented on #2960
I don't think that will be possible. Radix was originally extracted from an internal project that deals with 280+ routes (mostly `GET` and `POST`) and showed great performance compared with linear approach.

The original design was aimed to build big trees and compare, character by character and return earlier when required.

Adding a separate structure to deal with non-dynamic parts might be tric

[2017-11-15 21:27] eliasjpr commented on #2960
@luislavena maybe we can extend the current Radix tree implementation to be an Adaptive Radix Tree see https://github.com/armon/libart and https://db.in.tum.de/~leis/papers/ART.pdf

Art should perform faster or as fast as a Hash table without the limitations.

[2017-11-15 22:07] luislavena commented on #2960
Thank you @eliasjpr, will take a look to the paper.

However, please note that neither a Radix or ART by default will handle dynamic values that needs to be extracted from the trees. That is one of the main differences between a simple Radix implementation and a Radix routing library like the one I shared.

Cheers.

[2017-11-15 22:20] RX14 commented on #2960
So how come we still can't reproduce this locally? Radix doesn't explain that.

[2017-11-15 23:06] faustinoaq commented on #2960
@RX14 Maybe because we haven't tested it locally against powerful machines like TechEmpower have

[2017-11-16 01:21] marksiemers commented on #2960
@nbrady-techempower - Updated list of branches

Here is the fork: https://github.com/marksiemers/FrameworkBenchmarks
Branches to test (in priority order)
- ms/add-fast-pipe
   - Can be tested only against plaintext and JSON serialization (if that is easier)
   - https://github.com/marksiemers/FrameworkBenchmarks/tree/ms/add-fast-pipe
- max-pool-2-per-process
   - https://github.com/marksiemers/Fra

[2017-11-22 08:32] RX14 commented on #2960
How about a crystal-raw version that uses radix? That would absolutely quantify the problem.

[2017-11-22 20:29] marksiemers commented on #2960
@RX14 I was thinking the same thing, approach the issue from the other direction. I'm thinking create another folder for "crystal-radix" so the existing crystal-raw isn't lost.

[2017-11-22 21:44] RX14 commented on #2960
@marksiemers Just create another file in the crystal-raw folder. That's how it's typically done.

[2017-11-24 02:28] faustinoaq commented on #2960
Hi, I've seen preview 3 results, Why amber didn't complete?, I thought amber was passing Travis CI 😞

@nbrady-techempower Does round 15 could have a preview 4? Please 🙏 😅

[2017-11-24 08:00] faustinoaq commented on #2960
Amber is fixed now https://github.com/TechEmpower/FrameworkBenchmarks/pull/3092

Please review it @elorest @drujensen @eliasjpr 💯

I'll say amber & kemal slowdown compared with `crystal-raw` is not because server configuration but because small performance issues we have on our frameworks, something like a extra allocated memory would be imperceptible on some tests, however on Big tests like TFB s

[2017-11-24 17:18] drujensen commented on #2960
@faustinoaq I wouldn't jump to this conclusion just yet.  It's true that Amber and Kemal are consuming more resources than crystal raw, but we currently don't know that the performance issue is not properly configuring resource constraints to handle the extra resource consumption.

as @RX14 suggested, without resource metrics during execution of the tests like cpu, memory, network, io, etc, we are

[2017-11-24 17:46] marksiemers commented on #2960
@drujensen @RX14 - Request for input on this test for using radix with crystal: https://github.com/marksiemers/FrameworkBenchmarks/tree/add-crystal-radix/frameworks/Crystal/crystal-radix

@RX14 - I wasn't totally clear on how to create a separate test with this suggestion:

So it is in a separate `Crystal/crystal-radix` folder, but if there is an example of putting it the same folder, and that is

[2017-11-25 13:32] faustinoaq commented on #2960
Can we use structs? I thought it was imposible 😅

[2017-11-26 03:36] elorest commented on #2960
The Frameworks are obviously doing more per request than raw crystal. This is shown in an expected fashion when running `wrk` on the same machine.

It seems highly unlikely to me that the difference is due to GC, radix or procs. I base this on the fact that when we run the benchmarks on the same server as the webapp it runs extremely fast 80-90% of the speed of crystal-raw. This is true for 32 Cor

[2017-11-26 05:25] marksiemers commented on #2960
Some logs for reference. Thanks to @faustinoaq

amber
http://tfb-logs.techempower.com/round-15/preview-2/amber/plaintext/stats.txt
http://tfb-logs.techempower.com/round-15/preview-2/amber/out.txt

crystal-raw
http://tfb-logs.techempower.com/round-15/preview-2/crystal-raw/plaintext/stats.txt
http://tfb-logs.techempower.com/round-15/preview-2/crystal-raw/out.txt

kemal
http://tfb-logs.techempower.co

[2017-11-27 15:06] nbrady-techempower commented on #2960
Hey guys, here's some results after merging in #3094

![image](https://user-images.githubusercontent.com/1304934/33272550-514500a4-d33f-11e7-90b0-4e08cd126e52.png)

Haven't reached kemal yet. Also, amber is still failing and that's with the recent fix.

[2017-11-27 15:10] drujensen commented on #2960
thanks @nbrady-techempower.   Looks like Radix is not the issue if we are seeing better performance with it than without.

[2017-11-27 18:33] faustinoaq commented on #2960
thanks @nbrady-techempower Yeah, radix isn't the issue, like I commented before https://github.com/TechEmpower/FrameworkBenchmarks/pull/3092#issue-276538144

[But amber passed Travis](https://travis-ci.org/TechEmpower/FrameworkBenchmarks/jobs/306637851#L1743), Can you share us some amber logs to see what is happening? 😅

[2017-11-27 18:35] faustinoaq commented on #2960
By example on preview 3, amber was failing because dependency mismatch:

[code]

See: http://tfb-logs.techempower.com/round-15/preview-3/amber/out.txt

[2017-11-27 18:50] nbrady-techempower commented on #2960
@faustinoaq I haven't looked through it yet but here it is: http://sprunge.us/KHhc

[2017-11-28 00:37] faustinoaq commented on #2960
Thank you @nbrady-techempower , The logs look good, amber servers were running, Can you share us `fortune/raw.txt` output for amber?

By example on preview 2 (amber failed on preview 3 because dependency mismatch) 👉  http://tfb-logs.techempower.com/round-15/preview-2/amber/fortune/raw.txt

[2017-11-28 01:26] nbrady-techempower commented on #2960
@faustinoaq The raw.txt is empty.

`[Amber 0.3.6] serving application "TFB test app" at http://127.0.0.1:8080`  looks like you're only accepting requests from localhost, yeah? Should probably be `http://0.0.0.0:8080`

[2017-11-28 06:07] faustinoaq commented on #2960
Thank you @nbrady-techempower , you're right, we are running on localhost, let us fix that 👍

[2017-11-29 01:46] faustinoaq commented on #2960
Hi @nbrady-techempower can you confirm us amber is working with latest PR? 😅

[2017-11-29 12:09] RX14 commented on #2960
Another request, please could you try adding >256 connections concurrency for the JSON benchmark.

From the latest `crystal-raw` JSON latency distributions:

[code]

We're still in the microsecond range. This indicates to me that we're not fully loaded. How about a 512 connections tier? Maybe even 1024? It'd be an interesting standalone test at least to see where the peak is.

[2017-11-29 15:33] nbrady-techempower commented on #2960
@faustinoaq yes, amber is passing now.

![image](https://user-images.githubusercontent.com/1304934/33383237-a0795960-d4d7-11e7-8289-c86bf15308a1.png)

[2017-11-30 17:27] faustinoaq opened #3106 "Realistic tests using common hostings"
Hi @nbrady-techempower

Currently TFB are running on super servers with many cores and a huge amount of RAM.

Would be nice to add more common use case like using a $ 20.00 hosting on Digital Ocean to run TFB, is this possible? 🤔

[2017-11-30 19:13] nbrady-techempower commented on #3106
Servers with different specifications is on our roadmap. Busy time of year for us at the moment, man hours, dollars, etc. But this is definitely being discussed internally. 👍

[2017-12-07 06:07] rmohta commented on #2943
Wrt Docker and other container based deployments - we're seeing increased adoption of containers and microservice based architecture. Running these test in those settings (along with physical??) can give a sense of overhead, calculated in a scientific fashion.

I am more than happy to help out with this, if that helps :-)

[2017-12-07 12:25] RX14 commented on #2943
@rmohta I think such a test is more likely to show a constant overhead on top of all the frameworks. Doing that for all the suite of frameworks and every round seems like a lot of work - a benchmark like you describe is most likely to be interesting as a benchmark done once and written up into a long blog post.

[2017-12-08 11:01] Dith3r commented on #2950
After first install of Pypy2 path to environment was written as PYPY_ROOT instead of PYPY2_ROOT. In result second test which required Pypy2 tried to use / as path.

[2017-12-08 14:47] #2950 closed

[2017-12-12 23:31] flip111 commented on #2978
Why are languages such as C++ Rust C haskell Go sometimes much slower in the benchmarks than PHP JS Ruby Python? This is so counter intuitive that i don't get these benchmarks at all ...

What about requests/sec, latency, concurrent connections?

[2017-12-12 23:42] msmith-techempower commented on #2978
I can write you a poorly performing application in any language.

[2017-12-12 23:46] flip111 commented on #2978
Sure, i just expected the language to matter more than it does now .. are these frameworks really so poorly written ???

[2017-12-12 23:51] msmith-techempower commented on #2978
I don't know to which tests, in particular, you refer, but the latest benchmarks (and the next round of previews as well as most of the previous runs) have C/C++/Java as the top performers. Go often does well in several tests also.

Rust is a fairly new language and so I would not expect the frameworks to have had the same amount of time to iterate their designs to increase performance, but Tokio

[2017-12-13 00:00] flip111 commented on #2978
For example in json serialization there is api star on 6 and falcon on 12. Both python frameworks. Out perform:

* revel (GO)
* rouille (rust)
* wt (C++)
* cutelyst-pf (C++)
* play2-scala-anorm-li (Scala)
* scruffy (Scala)
* http4s (Scala)
* octopus (lua) -- did you try luaJIT by the way?
* akka-http (Scala)
* echo (Go)
* libreactor (C)
* duda i/o (C)
* nickel (Rust)
* lapus (lua)
* iron (rust)
*

[2017-12-13 00:28] RX14 commented on #2978
@flip111 Those python frameworks probably actually execute extremely little python for each request, they will essentially be benchmarking C code which does the HTTP parsing, network, and JSON. And a tiny amount of plumbing code for all those pieces written in python.

[2017-12-13 05:36] NuttasitBoonwat opened #3145 "can i add a comment"
Can i add a comment in the source code to understanding for others developer

[2017-12-13 15:25] nbrady-techempower commented on #3145
Yes, but they would have to be for more complex code than #3146.

[2017-12-13 15:25] #3145 closed

[2017-12-14 08:37] phurinaix commented on #3145
Yes, you can but a comment must be easy to understand

[2017-12-20 01:12] flip111 commented on #2879
@zloster can you reopen this issue please? I'm also getting errors about locale from a fresh install.

[2017-12-20 01:14] flip111 opened #3150 "Upgrade to ubuntu 16.04 LTS"
not sure how difficult this would be, but probably a good idea

[2017-12-20 05:57] nbrady-techempower commented on #3150
Unfortunately there are a lot of moving pieces that make this a cumbersome task. However, it is on our radar. https://github.com/TechEmpower/FrameworkBenchmarks/projects/1

[2017-12-20 05:57] #3150 closed

[2017-12-20 09:13] zloster commented on #2879
@flip111 The options to remedy this kind of problem are described in my last message.
Which option have you tried?

[2017-12-20 14:02] flip111 commented on #2879
@zloster i'd like to see this fixed in tfb itself so i can just clone and run again. Perhaps set the locale to english utf8 by default if that is a solution

[2017-12-20 16:05] zloster commented on #2879
I don't think there is something to be fixed in TFB itself. Why?
We have the following components involved:

1. the _OS_ install (the Vagrant image)
2. the _SSH_ server and it configuration
3. the _locale_ configuration of the computer we are using to connect to TFB Vagrant environment

The defaults are:

1. the OS configuration is "LANG=en_US.UTF-8"
2. the SSH server will use the default if the S

[2017-12-20 22:04] flip111 opened #3155 "Show more information about FortuneHTMLParser error"
Right now it shows a message
[code]

Would be great if it could point to a line number, column, html tag or anything else more specific.

[2017-12-21 22:21] flip111 opened #3158 "Control over stopping process after test"
Is there any way to control how the main (program under test) process is stopped? I'm not sure how it's being done now, but i tried to install a sigINT handler but hat didn't seem to work. What i'm trying to achieve is get some profiling done of cost centres for a single test, but haskell ghc doesn't write out the `.prof` file when the process is just killed. I think the other way would be to add

[2017-12-22 16:20] nbrady-techempower commented on #3158
`--mode debug` will leave the server up so you can test/make requests against it. Is that something you're looking for?

[2017-12-22 16:25] msmith-techempower commented on #3158
Oh @flip111 ... you have run into [my reaper](https://github.com/TechEmpower/FrameworkBenchmarks/blob/master/toolset/setup/linux/TFBReaper.c).

As @nbrady-techempower suggests, `--mode debug` will PROBABLY get you what you need, but if not, I will have to do some somersaults to update the script to run without the reaper.

Please report whether `--mode debug` gets you what you need.

[2017-12-27 02:03] flip111 commented on #3158
Hi guys. `--mode debug` partially gives me what i need. I just like to make sure that i'm doing the requests in the same way the benchmark does them. For the moment i'm using `wrk` as substitute. Is there any way i can fire off the request part of the benchmark in another tab?

[2018-01-09 19:29] msmith-techempower commented on #3158
(I'm back from vacation; sorry for the slow reply)

@flip111 That's an interesting use case - so you want the toolset to support starting up the server normally, then as a separate process running the benchmarks against it properly, but not shutting down the original process.

This is possible, but I wonder what purpose it would serve. Can you explain to me why you think this is necessary in the t

[2018-01-09 19:31] msmith-techempower commented on #3155
@nbrady-techempower Does the `--verbose` tag give more output on `fortunes` than just the 40 bytes we normally give?

[2018-01-09 19:32] msmith-techempower commented on #3106
We are working toward getting some Azure servers added to the round15 run.

I'm going to close this task for now as it is on our roadmap.

[2018-01-09 19:32] #3106 closed

[2018-01-09 19:35] msmith-techempower commented on #2981
This issue appears to [have been resolved](https://travis-ci.org/TechEmpower/FrameworkBenchmarks/jobs/315014587).

@nbrady-techempower Can you test this locally and close if it is fixed?

[2018-01-09 19:36] msmith-techempower commented on #2960
It seems like a lot of work has been committed on the crystal frameworks mentioned here - can this issue be closed?

[2018-01-09 19:37] msmith-techempower commented on #2949
Resolved with #2967

[2018-01-09 19:37] #2949 closed

[2018-01-09 19:40] msmith-techempower commented on #2800
Is this issue still relevant? there has been some Haskell work in recent months (since May last year >_<) that may have addressed this? Can this issue be closed?

[2018-01-09 19:41] msmith-techempower commented on #2771
Work has been committed against this effort - can this issue be closed?

[2018-01-09 19:43] msmith-techempower commented on #2598
I have no problem with the underlying goal of this issue, but I'm closing it for now as it does not appear to have any effort against it since March of last year.

Feel free to reopen if development effort begins.

[2018-01-09 19:43] #2598 closed

[2018-01-09 19:44] msmith-techempower commented on #2530
Agreed, bumping the priority on this.

Note: this will probably cause a LOT of failures in our verification stage, so this will probably be a large pull request.

[2018-01-09 19:46] msmith-techempower commented on #2434
Resolved by #2531

[2018-01-09 19:46] #2434 closed

[2018-01-09 19:47] msmith-techempower commented on #1608
This is nearly a year old - can you provide some explanation on the purpose of these tweaks, @methane ?

[2018-01-09 19:48] msmith-techempower commented on #1458
Does anyone have any idea if this ever happened?

[2018-01-09 19:50] msmith-techempower commented on #1567
This issue is a year-and-a-half old and appears to be resolved by #2560

[2018-01-09 19:50] #1567 closed

[2018-01-09 19:51] msmith-techempower commented on #1556
@michaelhixson Is this issue resolved?

[2018-01-09 19:53] msmith-techempower commented on #1227
I am closing this issue not because it is not relevant but because it has not had any traction in two years.

We may revisit this in the future.

[2018-01-09 19:53] #1227 closed

[2018-01-09 19:55] msmith-techempower commented on #1052
Here we are two years later, and I'm still not sure where we stand on this one.

It LOOKS like our timeout is now set to 8 across the board, so I am going to close this and if anyone disagrees, feel free to reopen.

[2018-01-09 19:55] #1052 closed

[2018-01-09 19:57] msmith-techempower commented on #1050
It looks like only `servicestack` is left as an offender, and there is a separate [issue](https://github.com/TechEmpower/FrameworkBenchmarks/issues/1560) for that.

We can still purge git of the historical binaries, though.

[2018-01-09 19:58] msmith-techempower commented on #995
This is now the overarching design of the tests, and while probably still not perfect it is essentially in the master branch.

[2018-01-09 19:58] #995 closed

[2018-01-09 19:59] msmith-techempower commented on #359
Okay, I'm going to close this issue - it is five years old and still not added.

Hopefully, we can get our results view to be in a better place where issue tracking can be captured against it (read: not here).

[2018-01-09 19:59] #359 closed

[2018-01-09 20:00] msmith-techempower commented on #261
Closing as it has had no traction for five years.

[2018-01-09 20:00] #261 closed

[2018-01-09 20:01] msmith-techempower commented on #371
This is just a metadata addition that the results website would EVENTUALLY support. Anyone can take this one.

[2018-01-09 20:02] msmith-techempower commented on #260
This was basically done via `flavor` in the metadata.

Reopen if I'm wrong.

[2018-01-09 20:02] #260 closed

[2018-01-09 20:03] msmith-techempower commented on #133
Ugh... this issue has been open for so long.

We should break out each into its own issue for more simple management and clarity.

[2018-01-09 20:11] michaelhixson commented on #1556
It's from too long ago.  I don't remember.

[2018-01-09 20:11] #1556 closed

[2018-01-09 20:33] nbrady-techempower commented on #2960
Yeah I think this can be closed for now. Let us know if you guys need anything else from us.

[2018-01-09 20:33] #2960 closed

[2018-01-09 20:34] nbrady-techempower commented on #2981
Looks like this is all set

[2018-01-09 20:34] #2981 closed

[2018-01-09 20:35] #1608 closed

[2018-01-09 20:35] #2915 closed

[2018-01-09 20:36] nbrady-techempower commented on #1458
It didn't happen completely, but I have it already in https://github.com/TechEmpower/FrameworkBenchmarks/projects/1

[2018-01-09 20:36] #1458 closed

[2018-01-09 20:37] msmith-techempower opened #3174 "Implement init support for new framework tests"
Implemented `--init` flag for scaffolding a new framework test.

Example: User wants to implement a new framework test named Foo in language Bar on platform Baz:

[code]

The idea would be to scaffold up the static-once-implemented files for the user so that they need only add their source code and edit the setup file in order to be able to run the suite in verification mode.

[2018-01-09 21:39] nbrady-techempower commented on #1050
it might be a good idea to do:

`git clone --depth=1 <remote_repo_url>`

in places where checking out previous history is not necessary

[2018-01-09 22:01] flip111 commented on #3158
I wanted to profile the program (see where time is spend in each function). But i think it will be too much effort for you guys to change the toolset (that's why i will close this issue now). I will just guess the requests that are being made .. i think that is good enough for the moment. Thanks for support.

[2018-01-09 22:01] #3158 closed

[2018-01-09 22:03] flip111 commented on #3155
I will still have to test the `--verbose` flag. Would it be possible to show a diff ?

[2018-01-14 20:05] tanner0101 opened #3181 "swift 3 broken / swift 4 update"
It looks like the `swift3` dependency is installed incorrectly.

[code]
http://tfb-logs.techempower.com/round-15/preview-3/vapor/out.txt

The `-lPackageDescription` lib should be installed and exported when Swift is installed correctly.

Additionally, we should update this to Swift 4 now.

I'd be more than happy to make a PR if someone could point me to the scripts that are responsible for configu

[2018-01-15 16:21] msmith-techempower commented on #3181
You can generally find language/servers/etc at `toolset/setup/linux` as named shell scripts. Specifically, [swift.sh](https://github.com/TechEmpower/FrameworkBenchmarks/blob/master/toolset/setup/linux/languages/swift3.sh) is where you would need to update swift.

[2018-01-15 18:34] zloster commented on #3181
Also the scripts in the `Vapor` framework itself need some attention:
- https://github.com/TechEmpower/FrameworkBenchmarks/blob/master/frameworks/Swift/vapor/setup-postgresql.sh#L3
- https://github.com/TechEmpower/FrameworkBenchmarks/blob/master/frameworks/Swift/vapor/setup-mysql.sh#L3
- https://github.com/TechEmpower/FrameworkBenchmarks/blob/master/frameworks/Swift/vapor/setup-mongodb.sh#L3

Each

[2018-01-15 18:38] twof commented on #3181
So a more appropriate `setup-postgresql.sh` would look like

[code]

yeah? @zloster

[2018-01-15 18:39] msmith-techempower commented on #3181
Why would the release be called `vapir-tfb-mongodb` if it depends on `postgresql`.

Also, what is `cmysql`?

[2018-01-15 18:52] zloster commented on #3181
@twof Yes
@msmith-techempower It's `Vapor` and something else?! https://github.com/TechEmpower/FrameworkBenchmarks/blob/master/toolset/setup/linux/systools/cmysql.sh#L9-L10 This is the referenced [shell script](https://raw.githubusercontent.com/vapor/vapor/master/Utilities/apt.sh). IMO `cmysql.sh` should be called `vapor.sh`.

[2018-01-15 18:54] msmith-techempower commented on #3181
Agreed

But it doesn't outwardly appear to use `mongodb` at all; what am I missing?

[2018-01-15 18:57] zloster commented on #3181
@msmith-techempower I was too slow to edit the comment. [cmysql](https://github.com/vapor/cmysql) appears like some sort of bridge to the DB drivers. But I don't have any idea how `swift/vapor` connects to `mongodb`.

[2018-01-15 19:02] msmith-techempower commented on #3181
@zloster I think that the setup scripts are just wrong (potentially); there are three separate source folders for each database type (`vapor-tfb-mongodb`, `vapor-tfb-mysql`, `vapor-tfb-postgresql`), but each setup script relies on the default build process (not selecting one) which creates (I guess) `vapor-tfb-mongodb` by default.

I would expect each respective `setup_...sh` files to build their

[2018-01-15 19:06] zloster commented on #3181
@msmith-techempower Take a look at the end of the setup scripts:
- https://github.com/TechEmpower/FrameworkBenchmarks/blob/master/frameworks/Swift/vapor/setup-mongodb.sh#L7
- https://github.com/TechEmpower/FrameworkBenchmarks/blob/master/frameworks/Swift/vapor/setup-mysql.sh#L7
- https://github.com/TechEmpower/FrameworkBenchmarks/blob/master/frameworks/Swift/vapor/setup-postgresql.sh#L7
They are c

[2018-01-15 19:08] msmith-techempower commented on #3181
You're right and I'm dumb >_<

Well, that's good to know for sure.

I guess let's just clean up `cmysql` to be `vapor`?

[2018-01-15 19:15] zloster commented on #3181
@twof @msmith-techempower  I'm also dumb >_<
In the script that should build the 'PostgreSQL` variant you should declare `postgresql` as dependency and call `postgresql` build artifact. Not the `mongodb` on.
So the code should look like as:
[code]
We the agreement that `fw_depends cmysql` should be renamed to `fw_depends vapor` and the [`cmysql` script](https://github.com/TechEmpower/FrameworkBenc

[2018-01-15 19:31] tanner0101 commented on #3181
As long as a Postgres server is available to be connected to over TCP, Vapor 3 should no longer require those C dependencies (for MySQL as well). We have pure-Swift drivers now.

All we should need to fix is the Swift `PackageDescription` as well as updating to Swift >= 4.0 since we depend on features in Swift 4.

@msmith-techempower I will look into that file you linked, thanks! :)

[2018-01-15 21:52] #3174 closed

[2018-01-15 22:35] zloster opened #3183 "Some questions about results.json file"
The data is taken from [Round 15 preview 3](http://tfb-logs.techempower.com/round-15/preview-3/results.json):
[code]

1. Is this the data about the commit activity in the source control?
1. What is the time range - since the begging of for the round?

Because:
1. `dropwizard` and `Dropwizard` probably should be reported together.
1. `Grizzly` have 2 projects and their total number of commits is ar

[2018-01-16 00:01] nbrady-techempower commented on #3183
https://github.com/TechEmpower/FrameworkBenchmarks/blob/ec4387f5c5476f6d07ff850bb082153010ec624b/toolset/benchmark/benchmarker.py#L805

My guess is the Dropwizard difference is from a discrepancy in casing. I probably wouldn't pay too much attention to that metric, between squashing when we merge and the fact that I don't think it's looking at commits between rounds, it's not really an accurate re

[2018-01-16 15:20] DevotionGeo opened #3185 "Add Sugar Framework (Elixir)."
I'd love to see [Sugar Framework](https://sugar-framework.github.io/) added to the benchmarks.

[2018-01-16 15:32] nbrady-techempower commented on #3185
You are welcome to add it @DevotionGeo

Try cloning the repo and using the `tfb --new` command. Meanwhile I'll add it to the wiki of requested frameworks. https://github.com/TechEmpower/FrameworkBenchmarks/wiki/Suggested-Frameworks,-Languages-and-Features

[2018-01-16 15:32] #3185 closed

[2018-01-17 16:42] zloster commented on #3183
Thank you for your efforts.

I've discovered recently this project: https://github.com/tj/git-extras/blob/master/Commands.md#git-effort
I've played a little - there are strange results for some call parameters but it seems to work. At least doing something.

For example: `git effort frameworks/* -- --since='1 year ago'`
Gives the following:
[code]

For the `toolset` directory `git effort toolset/*

[2018-01-17 18:38] zloster opened #3188 "Toolset - misconfiguration in benchmark_config.json and reported error code"
When a non-existing shell script is specified in `benchamark_config.json` the logs are correctly displaying `No such file or directory` but latter an `exit code 0` is reported.
### OS (Please include kernel version)
Local install of the TFB Vagrant box
### Expected Behavior
To see error code 127 logged.
[code]
### Actual Behavior
[code]
### Steps to reproduce behavior
Edit some framework configura

[2018-01-20 06:22] boazsegev commented on #133
Why is SSL/TLS a framework concern? Isn't it a server/proxy concern?

In most production environments the server (nginx/apache) deals with the TLS/SSL (along with load balancing) and the framework deals with the data.

Pushing TLS/SSL into frameworks often involves reduced security and redundant code (doubling the server's job in the framework's codebase, but usually with less resources/knowledge)

[2018-01-20 06:58] greenlaw110 commented on #133
@boazsegev Agreed. Most of the frameworks **SHOULD NOT** take SSL/TLS into their consideration at all. It might support SSL/TLS to help testing, however in the real production environmenht it's the frontend server taking those jobs

[2018-01-20 08:55] Drawaes commented on #133
So the only encryption you do is on the front end servers? "In production" many environments have TLS between layers and in service to service calls. Infact some industries (especially heavily regulated ones" require secure communication between these layers. To only secure "front end servers" and perimeter security is becoming a legacy way of thinking.

As someone who deals with and has looked in

[2018-01-20 09:16] benaadams commented on #133
That fine. Don't submit a test case for a TLS benchmark for that framework. Or submit an additional variant just for https which is framework+frontend server variant (+ ngnix, etc)

It still should be measured as its a very important consideration for the webstack since [50% of web traffic now runs over TLS](https://techcrunch.com/2017/02/22/eff-half-the-web-is-now-encrypted/) and by [2019 its est

[2018-01-20 09:29] benaadams commented on #133
If a layer of ngnix; HAProxy; Apache; Squid; etc for TLS termination commonly performs badly, it should also encourage the frontend server to improve its performance; if it performs badly in isolation it will encourage the framework to look improving their integrations; if its not measured that's a huge gap in understanding missing.

[2018-01-20 09:36] greenlaw110 commented on #133
Can't these services service requests from other service through the frontend servers? My understanding (I might wrong) is app server always sit behind nignx (or apache httpd etc) and have it to deal with SSL/TLS and service static resources, which are not the strength of app server (normally).

really? my thought is these frontend servers should do good job on these low level tasks.

What kind of

[2018-01-20 09:42] Drawaes commented on #133
You want to route every service to service call through a front end server? And how do you secure the communication to said server?

So you have two options, a framework is usable as is or it has to be behind a proxy. If it's the later then there will also be a cost. This is the modern security reality so why wouldn't you measure it?

[2018-01-20 09:50] benaadams commented on #133
Not saying they don't; but if you are using framework X and it needs a frontend server which one should you pair it with? Where are the benchmarks for it? Some frameworks already act as hardened edge servers and don't need a frontend server; does that make a difference?

What's the best reverse proxy setup to use for frontend server Y and framework X, what do they support: localhost vs named pipes

[2018-01-20 10:07] greenlaw110 commented on #133
@benaadams

hmm... I don't know there are so many options honestly. Thanks for sharing the information.

@Drawaes

I am actually happy to see the data. My concern is most (maybe I am wrong) framework might choose the proxy way to handle SSL/TLS, in which case framework itself doesn't have too much room to improve if there is an issue. @benaadams mentioned a few options about integration, it would

[2018-01-20 10:33] benaadams commented on #133
They may not be implemented, or the code path might a neglected one, or carry unnecessary overhead in a particular framework etc; don't know haven't seen benchmarks 😄

Why I'd most like to see TLS is because the *encryption* itself on a pre-negotiated connection is *really fast* on modern CPUs; however the integration of the crypto library; whether OpenSSL, boring SSL, libsodium; Libressl; etc (**

[2018-01-20 11:03] RX14 commented on #133
I agree that HTTPS between microservices, or between the load balancer and web frontend is a good idea in general. Benchmarking this would bring visibility to the performance overhead of frameworks in this area (an aim of the test would be to be directly comparable to a http test so the https overhead could be measured for each framework).

[2018-01-20 15:17] boazsegev commented on #133
I think is [Redis a great use case example](https://redis.io/topics/encryption). Communication is performed securely using a secure tunnel (such as using [Spiped](http://www.tarsnap.com/spiped.html), [Ghostunnel](https://github.com/square/ghostunnel), etc'.

The separation of concerns between security and services is important. It allows security patches to be easily implemented across the board w

[2018-01-20 19:24] Drawaes commented on #133
Right an article on a site dedicated to edge services (F5) ... Also most of your "edge" services will use the exact same underlying lib. Eg ngnix using openssl. And if we take openssl it's often part of the os.

So the big issue is ... How did they implement it? Did they do a lot of copying and allocations? Are there added bottle necks?

As someone who works in a very secure environment we are req

[2018-01-20 19:33] boazsegev commented on #133
And... if memory serves, openssl uses insecure defaults... but maybe that changed.

In your experience, do you use a framework's SSL/TLS implementation for production (to secure internal network communication), or do you tunnel the communication through secure channeling (i.e., `spiped`)?

I agree that if secure production environments rely on the framework's SSL/TLS layer, than it's important to

[2018-01-24 03:43] faustinoaq commented on #3106
BTW, https://www.digitalocean.com/community/tutorials/how-to-benchmark-http-latency-with-wrk-on-ubuntu-14-04 is a nice guide to benchmark in DO

[2018-01-24 15:54] msmith-techempower commented on #2943
I am working on investigating Docker for primary replacement to the `fw_depends` and `setup.sh` implementation we have currently.

[2018-01-24 17:19] hiyelbaz commented on #133
websockets +1

[2018-01-29 20:10] greenlaw110 opened #3216 "Ninja-standalone updates test failed to commit data into database"
### OS (Please include kernel version)
Linux mint 18
4.13.0-32-generic #35~16.04.1-Ubuntu SMP
x86_64 x86_64 x86_64

### Expected Behavior
Updates test committed the changed world record into database

### Actual Behavior
The changed world record did not committed into database

### Steps to reproduce behavior
1. Run ninja-standalone on local server with script `setup.sh`
2. send a request to `http

[2018-01-30 00:58] greenlaw110 commented on #2027
I think an easy way to implement the verification could be:

1. curl <update-service-endpoint>
You will get something like: `[{"id":7488,"randomNumber":8252}]`

2. use `7488` to check the world table and verify if `randomNumber` is `8252`

[2018-01-30 16:02] nbrady-techempower commented on #2027
@greenlaw110 this is already being implemented in #3210
and that would not tell you if they updated the number, as it could have always been `8252`. Anyway, it's pretty much complete, just fixing a few frameworks that aren't persisting updates. Thanks!

[2018-01-30 21:56] zloster opened #3224 "Dropwizard/Hibernate combo not commiting updates to the database"
This problem was reported by @greenlaw110 on the mailing-list.
I've done some exploration of the topic. There is a problem when Hibernate 5.2.12 is running without transactions - it will happily close the session without bothering to flush the changes and report 0 flushes.
There is a [new setting since 5.2](https://docs.jboss.org/hibernate/orm/5.2/javadocs/org/hibernate/cfg/AvailableSettings.html#

[2018-01-31 00:54] greenlaw110 commented on #2027
@nbrady-techempower sorry I didn't get it. If the `randomNumber` queried from the database is also `8252` ie. the same as the number the framework sent back then it proves the implementation is right.

However I did find the cases that `randomNumber` queried from database is **NOT** same to the one returned back from the test, and this tells me the implementation is not right as it did not commit

[2018-01-31 01:04] greenlaw110 opened #3227 "Updates test: Grails might not commiting data into database separately"
From the [source code of grails implementation](https://github.com/TechEmpower/FrameworkBenchmarks/blob/master/frameworks/Groovy/grails/hello/grails-app/controllers/hello/HelloController.groovy#L52), we can clearly see that it is not commiting each update separately:

[code]

Note `session.flush()` will **NOT** commit the data, and never will `session.clear()` do the job. I am not a grail person b

[2018-01-31 02:31] nbrady-techempower commented on #2027
@greenlaw110 The test is about `updating` that number. You would need to know what it was `before` and `after` to see that it has changed and the only source of truth for that is the database. Your way will work in some cases, but not the case where what the framework gives you is the old number AND they haven't updated the database. In that case, both what the framework gives you and what you que

[2018-01-31 02:59] greenlaw110 commented on #2027
@nbrady-techempower Now I understand. Well what I proposed is to help people find out if their implementation is flawed, not to find out people who intend to cheat the platform. I think it's more a moral issue than a technical issue, if that is caught the author should be put into a blacklist an no PR should be accept from him.

[2018-01-31 03:02] nbrady-techempower commented on #3224
This is confirmed in #3210 which includes improved verification for the update test.

Going to have to look at #3227 since their updates are persisting but probably using a single transaction

[2018-01-31 03:04] nbrady-techempower commented on #2027
@greenlaw110 Right, I appreciate the help. Like I said, we have a much better verification process in #3210
If you look at the travis run there, you'll see that we've already identified some of the frameworks you're opening issues for.

[2018-01-31 16:11] #3216 closed

[2018-01-31 19:47] zloster commented on #3224
Addressed here:#3232

[2018-02-01 15:20] #3224 closed

[2018-02-01 20:21] michaelhixson commented on #3181
I think we're running to this problem: https://bugs.swift.org/browse/SR-5800

The build gets much farther if I change `toolset/setup/linux/languages/swift3.sh` to use the latest swift 4.1 snapshot.

[code]

It eventually runs into an error compiling vapor.  The version of vapor we're using is missing this fix:  https://github.com/vapor/vapor/commit/5a31fc8c7c6a54a8a98494795e0668666c341a33#diff-4a8

[2018-02-01 20:25] msmith-techempower commented on #3181
I'm fine with that.

[2018-02-04 16:27] raziel057 opened #3252 "Add PHP-PM in toolset"
Hi,

What about having PHP-PM (https://github.com/php-pm/php-pm) available in the toolset in order to be able to just use it as dependency for some existing frameworks (symfony, laravel, zf, ...) ?

[2018-02-04 21:33] nbrady-techempower commented on #3252
Hi @raziel057

If you want to use PHP-PM, simply add a setup file for it like `toolset/setup/linux/systools/php-pm.sh` so any framework that wants to use it can `fw_depends php-pm`

[2018-02-05 02:10] greenlaw110 opened #3254 "Updates test - minijax not commiting data into database separately"
From the [source code of minijax](https://github.com/TechEmpower/FrameworkBenchmarks/blob/master/frameworks/Java/minijax/src/main/java/com/techempower/minijax/Dao.java#L34), clearly the updates is doing batch commit to database in one transaction:

[code]

[2018-02-05 06:07] nbrady-techempower commented on #3254
Thanks @greenlaw110 Will address on Monday

[2018-02-05 10:41] greenlaw110 commented on #3254
@nbrady-techempower [Dropwizard source code](https://github.com/TechEmpower/FrameworkBenchmarks/blob/master/frameworks/Java/dropwizard/src/main/java/com/example/helloworld/db/hibernate/WorldHibernateImpl.java#L36) has the same issue:

[code]

[2018-02-05 14:59] nbrady-techempower commented on #3254
@zloster can you speak to this? i see some annotations where `transactional` is false.

[2018-02-05 15:00] nbrady-techempower commented on #3181
This is solved for now, however as noted in #3242 the vapor tests are not completing queries/updates in a reasonable amount of time.

[2018-02-05 15:01] #3181 closed

[2018-02-05 15:04] nbrady-techempower commented on #2931
Feel free to make a PR for these changes. Closing this as it's not really a problem with our suite. Issues relating to specific framework test implementations can be opened on their repo, or ping the folks that added the test.

[2018-02-05 15:04] #2931 closed

[2018-02-05 15:04] #2845 closed

[2018-02-05 15:05] #2800 closed

[2018-02-05 15:06] #3252 closed

[2018-02-05 17:44] zloster commented on #3254
`dropwizard` is using Hibernate 5.2, `minijax` is using `Eclipselink` as ORM library. I have only checked how the Hibernate is working - i.e. what SQL query it generates. It should be easy to be done also with Eclipselink.
So a manual DB transaction is started, each row is fetched from the DB and the `randomNumber` field is modified in memory. When the `currentSession().flush()` is called Hibernat

[2018-02-05 19:25] greenlaw110 commented on #3254
@zloster I think the [requirement](https://www.techempower.com/benchmarks/#section=code) we are talking is not about batch update, but transactions:

So my understanding is the code above should be something like:

[code]

Or I have some misunderstanding about the transaction requirement?

[2018-02-05 19:27] greenlaw110 commented on #3254
This is to @nbrady-techempower, actually I don't quite understand why do we have the requirement about transaction and the batch update at the sametime, as these 2 requirements looks conflict to each other:

About batch update:

About transaction:

[2018-02-05 19:50] zloster commented on #3254
@greenlaw110 See the linked issues (particularly #2579 where exactly the same situation is discussed).
IMO wrapping a batch update with transaction don't give some unfair advantage to any particular implementation: on the wire you have to send some additional commands to the DB. When transactions are not used - the code doesn't need to send this commands.
The code needs to do this because of the H

[2018-02-05 20:01] greenlaw110 commented on #3254
@zloster
1. Once a Rule is defined it shall not be violated, both Go/fasthttp and dropwizard updates implementation should be rectified to make them comply to the rule. Unless TEB take the rule out.
2. It does make it unfair to other implementation that comply to rule 10, as commit multiple times definitely require more resource on both app server and the database including the transferred data. F

[2018-02-05 20:03] greenlaw110 commented on #3254
@nbrady-techempower Actually I suspect gemini's implementation violate rule 10 as well:

[code]

[2018-02-05 20:35] nbrady-techempower commented on #3254
@greenlaw110 Gemini doesn't use transactions.

Rule 10 allows batch updates. The confusing contradiction is "batch updates with transactions." After an internal discussion I believe were going to allow batch updates with transactions. I don't think there's really a good case against this. I will let you guys know here, and will update the documentation if it changes. To be clear, batch updates are

[2018-02-05 20:38] msmith-techempower commented on #3254
Batch **updates** and transactions is allowed (though, the transaction will surely only make performance worse if any difference is appreciated at all); we will updated our rules accordingly.

[2018-02-05 20:38] #3254 closed

[2018-02-06 15:54] nbrady-techempower commented on #3227
closing see #3254

[2018-02-06 15:54] #3227 closed

[2018-02-06 16:16] joanhey commented on #2845
MySQL 5.7 is slower too by this other benchmark: https://mariadb.org/maria-10-1-mysql-5-7-commodity-hardware/
We can think that is biased, but the winner was MySQL 5.6.

Also send #3261 to disable performance schema

[2018-02-06 17:09] nbrady-techempower commented on #2027
Happy to finally get this in with #3210. Opening an issue for the remaining frameworks that are failing update verification

[2018-02-06 17:09] #2027 closed

[2018-02-06 18:33] nbrady-techempower opened #3262 "Frameworks Failing for not passing Update Test Verification"
From #3210 & #2027 we are now verifying to make sure that database entries have changed after the Updates test runs. There are still a few framework tests that need to be addressed. If I pinged you here, it's because you might be able to help, or you were the core contributor for these tests. Note that these are failures and the results of their update tests will no longer be captured.

ffead-cpp

[2018-02-06 22:16] volyrique commented on #1050
On a related note, it seems that several files generated by the build process for the `C/onion` framework have been committed. The `Makefile` has targets for them.

[2018-02-08 18:36] nbrady-techempower commented on #3155
The diff is actually shown in the results at `/results/<time>/<framework>/fortune/verification.txt` but I've also added #3273 to print to std out as well

[2018-02-08 18:36] #3155 closed

[2018-02-08 18:47] nbrady-techempower commented on #2771
I think this can be closed

[2018-02-08 18:47] #2771 closed

[2018-02-08 22:27] greenlaw110 commented on #3224
@zloster when I am doing dropwizard mysql test I found 75% of requests are Non-2xx or 3xx, is this normal?

[code]

[2018-02-09 01:19] #1560 closed

[2018-02-09 12:12] methane commented on #3262
Sorry, web2py is so special than other typical frameworks and I don't have motivation for it.
fwd: @ilvalle, @abastardi

[2018-02-09 15:21] abastardi commented on #3262
I submitted a pull request that I believe should fix the problem for web2py-optimized.

[2018-02-10 03:26] nbrady-techempower commented on #3262
All have been updated

[2018-02-10 03:26] #3262 closed

[2018-02-10 05:11] sumeetchhetri commented on #3262
Thanks a lot Nate

On Feb 10, 2018 8:57 AM, "Nate" <notifications@github.com> wrote:

[2018-02-12 18:42] greenlaw110 opened #3285 "Dropwizard updates - mongodb implementation"
The [mongodb implementation of dropwizard updates test](https://github.com/TechEmpower/FrameworkBenchmarks/blob/master/frameworks/Java/dropwizard/src/main/java/com/example/helloworld/db/mongo/WorldMongoImpl.java#L25) uses mongodb's update operation, instead of read the data into memory and then persist into database:

[code]

I think we have talked about this before and the agreement is NOT to use

[2018-02-12 20:07] nbrady-techempower commented on #3285
Of course you can use update, you can't use findAndModify. This writes it's own findAndModify, reads the value from the database, sets the random number, and then updates.

[2018-02-12 20:08] #3285 closed

[2018-02-12 20:38] greenlaw110 commented on #3285
Ah, you are right. silly issue...

[2018-02-12 20:58] bhauer commented on #374
For anyone interested, initial data for this new test type is starting to show up in the continuous results.  For example, view http://simshill.techempower.com/raw/results.2018-02-09-10-22-34-441.json and navigate to:

    rawData > cached_query

We likely won't publish data for this test type on the results web site until we have a few more implementations.  It would be nice to have 20+ but even

[2018-02-14 22:00] bhauer opened #3290 "TLS/SSL test type(s)"
This issue is for planning a new test type that exercises TLS (SSL), which was suggested as test type 10 on issue #133.  I recommend reviewing the comment thread for #133 since it contains several prior thoughts concerning a TLS/SSL test type that remain applicable.  Though I am not manually copying those comments over here, please feel free to reiterate points raised there.

Add any comments and

[2018-02-14 22:03] bhauer commented on #133
Commenters above who've thoughts about TLS/SSL tests please see and weigh in on the stand-alone issue (#3290).

[2018-02-14 22:19] Drawaes commented on #3290
I think the openssl client is probably a good start for testing for the configuration of a server.

I agree that it is pointless replicating all tests for TLS as one or two like you have proposed will give enough data to provide a Delta between TLS and non TLS tests to allow for an overhead calculation.

I would say that AES is the most widely supported algo for the bulk ciper. Sha256 or higher fo

[2018-02-15 01:02] benaadams commented on #3290
The two tests should be enough to extrapolate from when comparing to non-TLS.

TLS should be 1.2 (1.3 isn't widely supported yet, < 1.1 is bad)

Cipher Suite should be encouraged to be a common one between frameworks; as there are dramatic differences in performances and varying them would be comparing the algorithm rather than the differing effects of using TLS.

Not sure what the cipher suite sh

[2018-02-15 01:03] benaadams commented on #3290
Top common is `TLS_ECDHE_ECDSA_WITH_AES_128_GCM_SHA256 (0xc02b)` ?

[2018-02-15 02:09] benaadams commented on #3290
Would a "Is edge configuration" flag be sensible? TLS is valid in non-internet facing stacks; and there are already stacks in the tests that use for example ngnix as their front-end server; so they would presumably be edge/internet facing ready.

However, that can come with a performance disadvantage, so comparing non-internet facing stacks against internet facing stacks may be a little apples and

[2018-02-15 19:44] zloster commented on #3290
@bhauer

I'm using this one: https://testssl.sh/, https://github.com/drwetter/testssl.sh I think it will tick every box: mainly shell script, non-exotic external dependencies, similar functionality to SSL Labs tests.

Off-topic: there is a similar command-line tool for SSH auditing https://github.com/arthepsy/ssh-audit It is not related to the `testssl.sh`.

[2018-02-15 19:46] zloster commented on #3224
@greenlaw110 That's not normal - maybe it is related to a configuration change for Jetty that I've made for the MySQL variant. I will revert it because the performance is worse.

[2018-02-15 20:09] greenlaw110 commented on #3224
@zloster I am also experiencing bad performance on hibernate updates test when batch updates plus transaction, especially on postgresql, I think it due to the row level lock of postgresql, but not sure why other framework doesn't have the issue...

[2018-02-15 20:58] zloster commented on #3224
@greenlaw110 The official results are not showing a problem with database updates: [Round 15](https://www.techempower.com/benchmarks/#section=data-r15&hw=ph&test=update&l=hra0e7&f=zik0zj-ziimf3-zik0zj-zik0zj-zik0zj-zik0zj-zik0zj-cn3) and [Round 14](https://www.techempower.com/benchmarks/#section=data-r14&hw=ph&test=update&l=hra0e7&f=zik0zj-ziimf3-zik0zj-zik0zj-zik0zj-zik0zj-zik0zj-cn3)
`dropwizard

[2018-02-15 21:11] greenlaw110 commented on #3224
@zloster yes I know, I am not talking about R15, but the test after that...

[2018-02-16 03:35] boazsegev commented on #3290
The TLS-Plaintext will hardly test the handshake and mostly test the encoding costs.

However, the encoding costs might depend more on the SSL/TLS library (OpenSSL / BearSSL etc') rather than the framework (I'm ignoring buffer consolidation at the moment, although this is definitely a consideration where pipelining is concerned).

I'm wondering if the performance testing costs are worth the possib

[2018-02-16 12:48] joanhey opened #3293 "Create the php session dirs when necessary"
I understand the #3070 Create the required directories for saving php session files .
Completely unnecessary to use session and slowing down the frameworks that use it.

## Slow down the tests locally and in travis-ci
It is annoying when you perform the tests. It is very slow.

It would be possible that they are only created them with the responsible frameworks.

Thanks

[2018-02-16 13:34] RX14 commented on #3290
Keep in mind that this is a framework benchmark. Choosing to use openssl/bearssl is a choice of the framework of language authors. I don't see why this is any less of a framework test because of that choice.

[2018-02-16 13:38] Drawaes commented on #3290
Absolutely, and from my digging in frameworks the way they use openssl etc can make a massive difference, including unneeded memory copies and locks. What I hope is that this benchmark will highlight and put pressure on these things to be changed.

If every framework ends up with the same Delta cost for https overtime then this test would have achieved it's goal in my mind.

[2018-02-16 14:14] joanhey opened #3295 "Add the test running in out.txt and terminal"
# In out.txt
To know when and where the problems begin.
And the time of dstat, to not look the stats blindly.

### Expected Behavior
[code]
### Actual Behavior
[code]
# In terminal
`tfb --m benchmark`
When benchmarking locally, if your are looking htop, Dstats, ... you don't know what is doing the benchmark.
Only when finish a test, show the json results, without any information about which test.

[2018-02-16 16:03] msmith-techempower opened #3296 "Dockerify all the things"
# Abstract
Move the suite away from the current methodology of using scripting files to handle dependencies, installation into the `$IROOT` directory for sandboxing, and instead use [Docker CE](https://www.google.com/search?q=docker&ie=utf-8&oe=utf-8&client=firefox-b-1-ab).

# Reasoning
1. Installing software to `$IROOT` is hard (much harder than `apt-get`) and prone to difficult-to-identify error

[2018-02-17 01:32] michaelhixson commented on #3295
Thanks for fixing that http4k warning!

Someone on our mailing list recommended this tool for viewing dstat data: https://lamada.eu/dstat-graph/#

[2018-02-19 21:56] zloster commented on #3290
Another 2 minor points:

1.  The client and the database machine at ServerCentral did not have `AES-NI` instructions support. This should be taken into account for the cipher choice(s) or checked not to be limiting factor;
1. Some data on the client and the server should be gathered with [`openssl speed`](https://www.openssl.org/docs/manmaster/man1/speed.html) - with and without the `-evp` option

[2018-02-20 22:29] michaelhixson commented on #3296
Docker also needs to be installed on the database server, and the toolset isn't doing that currently, so we need to adjust something there.

[2018-02-21 02:06] michaelhixson opened #3314 "Resolve mongodb errors for JVM + MongoDB frameworks in R15"
@zloster pointed out on the mailing list that some of the frameworks using the JVM and MongoDB have a large number of errors in round 15.

https://www.techempower.com/benchmarks/#section=data-r15&hw=ph&test=query&l=fjd9bz&d=e6

I believe undertow-mongodb is fixed with commit 7f3d8a1335da3103a7a07ce01f7771a9ed0abfff.

How about dropwizard and hexagon?  Apparently they are using the same underlying

[2018-02-21 18:18] nbrady-techempower opened #3315 "Add ubuntu tuned to the toolset with the low latency profile"
http://manpages.ubuntu.com/manpages/artful/man8/tuned-adm.8.html

[2018-02-23 08:21] zloster opened #3324 "TravisCI - Build matrix exceeds 200 jobs"
Currently in the `master` branch there are [exactly 200 build jobs](https://travis-ci.org/TechEmpower/FrameworkBenchmarks/builds/344929209) (scroll to the bottom). TravisCI refuses to build the project when new framework is added. So currently adding a new framework will halt builds executions.

Short term mitigation (NOT fix) is some clean up of the framework projects. In the Java directory there

[2018-02-23 09:36] smallnest opened #3325 "should disable proxy_cache of resin"
When I have seen  the benchmark of [round 15](https://www.techempower.com/benchmarks/#section=data-r15&hw=ph&test=fortune), I am surprised Java frameworks (servlet, servlet-cjs) have so much good result for dynamic requests except plaintext.

I check the [resin configuraton](https://github.com/TechEmpower/FrameworkBenchmarks/search?utf8=✓&q=resin+proxy-cache&type=) and found "proxy_cache" has been

[2018-02-23 14:11] dantti opened #3326 "The continuous benchmarks site could have a commit id"
At https://tfb-status.techempower.com the runs id doesn't seem to match to a git commit, so it would be very helpful to have that either in details or on the main page so that we can know if the run is using our latest changes.

Thanks

[2018-02-23 15:48] msmith-techempower commented on #3326
Addressed by #3257, but I think no new results have been captured since that was merged.

[2018-02-23 15:48] #3326 closed

[2018-02-23 17:24] cjnething commented on #3324
Interesting, looks like other projects are having this issue too https://github.com/aschn/drf-tracking/issues/97

[2018-02-23 19:43] zloster commented on #3325
The project is using the [_normal_ Resin version](https://github.com/TechEmpower/FrameworkBenchmarks/blob/master/toolset/setup/linux/webservers/resin/resin.sh#L12-L13), not the _Pro_ version.

[2018-02-24 00:12] #3325 closed

[2018-02-24 10:40] joanhey commented on #3324
And remember that a job on travis-ci.org is limited by 50 minutes.
https://docs.travis-ci.com/user/customizing-the-build/#Build-Timeouts

[2018-02-24 11:10] zloster commented on #3324
There should not be a problem with the build timeout at least in the Java directory. Check here where a rebuild of the Java frameworks happens: https://travis-ci.org/TechEmpower/FrameworkBenchmarks/builds/341133956.

The longest builds are:
1. Java/act - ~29 min. - 2 database configurations with 3 ORM frameworks plus MongoDB variant
1. Java/play2-java - ~21 min.
1. Java/dropwizard - ~11 min.
1. Ja

[2018-02-24 18:20] nbrady-techempower commented on #3324
If push comes to shove, we may group some of the lesser worked on languages together in travis, like Erlang and Elixir. This would also speed up full runs because shared dependencies won't have to be reinstalled.

[2018-02-27 19:21] zloster commented on #3324
Now there are 3 (three) free jobs in the `master` branch and a flexible solution in the `docker` branch. Added bonus: a little less code in the source repository and a little faster full runs.
Thank you all.

@nbrady-techempower Feel free to close this.

[2018-02-28 01:27] nbrady-techempower commented on #3324
Thanks again for your help here!

[2018-02-28 01:27] #3324 closed

[2018-03-02 07:24] zloster commented on #2598
The initial implementation for Plaintext and JSON is in #3319.

[2018-03-02 23:49] nbrady-techempower commented on #3296
Sometimes during a test, everything looks like it installed correctly but the docker container(s) for the test are no longer running. Either there was an accidental `RUN` instead of `CMD` in the last line of the dockerfile, or the `CMD` is being run as a daemon when it shouldn't. During the verification process, we should check to make sure all containers from `<test-name>.dockerfile` and any addi

[2018-03-04 01:30] bhauer commented on #371
I'm happy to add this to the results web site if we start adding it to the framework metadata.

[2018-03-04 01:47] bhauer commented on #3290
@zloster That looks fantastic. We'll probably also want to ensure that the load generator uses the agreed-to cipher suite (whatever that ends up being) and only that cipher suite.

@boazsegev I agree that to whatever degree it is possible, I would like to test configurations that are as secure as current best-practices suggest.  If/when there is a resolution to the issue you cite, it would be good

[2018-03-05 08:19] zloster commented on #3314
@michaelhixson
The recent results seems to confirm that `undertow-mongodb` is fixed:

- https://tfb-status.techempower.com/results/a1110174-a3af-4c2e-a4e1-bfcdca8bd8eb
- https://tfb-status.techempower.com/results/0cf97d5a-86b1-4ebe-b53a-485a6532dae9

[2018-03-05 15:23] nbrady-techempower commented on #3296
As @greenlaw110 pointed out in a [google group post](https://groups.google.com/forum/#!msg/framework-benchmarks/FTYQ56PR8kA/zJzFm35RAQAJ) this error wasn't very helpful:

[code]

It caught me off guard this morning as well, though reading the trace got me to the right place.

I'd like to capture this particular error as well as try to break things in some other common ways and make sure the toolse

[2018-03-07 12:06] taikhalifa-22 opened #3368 "Tahirou"
### OS (Please include kernel version)

### Expected Behavior

### Actual Behavior

### Steps to reproduce behavior

### Other details and logs

[2018-03-07 12:08] taikhalifa-22 commented on #3368
Berthe host

[2018-03-07 15:45] #3368 closed

[2018-03-08 18:00] sebastienros commented on #3296
Does point 34 meaning that you will release tfb/base and other base images on docker hub for instance?

Personally I would like it as it will prevent us from having the build them locally if we want to test the docker images. Saving both time and hassle.

[2018-03-08 18:10] msmith-techempower commented on #3296
@sebastienros Yes, the long-term goal would be that simply running tests involves published images so as to not incur that price of building them all.

[2018-03-14 19:45] DamianEdwards commented on #3290
The point raised regarding testing TLS handshake performance (aka for new connections) vs. encoding/encryption costs is an interesting one, and makes me wonder whether we should configure the Fortunes variant to not allow connection re-use. Or perhaps we need a separate test altogether, e.g. TLS-Handshake, that is effectively plaintext without connection re-use (which of course implies no pipelini

[2018-03-14 20:09] Drawaes commented on #3290
One point you will potentially be measuring a whole stack of areas that just aren't measured today and might tell you very little about TLS performance per se.

If this is likely to be a test that is looked at first I would recommend there is a test with zero connection reuse without TLS ( unless I am mistaken and this is what Fortunes is today?) As you would want a baseline for establishing the s

[2018-03-14 20:39] Drawaes commented on #3290
Which is what I thought ;) I guess my concern people will look at this test and think... Wow TLS is expensive when in the real world keep alive is the norm and there is no unencrypted baseline to compare to.

[2018-03-22 02:43] emilypi opened #3442 "Normalize all JVM-related tests"
Hi All - I'm raising this issue in regards to some of the JVM tests I've seen. It's going to be impossible to gain a true benchmark comparison of the JVM frameworks if arbitrarily many flags are allowed upon setup. I would suggest a policy regarding common memory settings, JVM flags, and Garbage Collectors, so we don't run into discrepancies and unfair benchmarks simply because some tests are runn

[2018-03-22 16:20] nbrady-techempower commented on #3442
@emilypi The short answer is it is just a free-for-all.

We have a defined set of rules and as long as a framework is within that realm, it's hard to do any further policing. If you can make a point that frameworks are using a stripped implementation or an approach that breaks one of the rules, we can respectively change the classification or deal with it. Otherwise we allow and even encourage pla

[2018-03-22 16:32] bhauer commented on #3442
There have been some efforts and discussions about this in the past (e.g., #2652, and offline/other media).

We do have a force that pushes against configuration normalization.  It's not a strong force, but it's something we should discuss.  We have been and continue to be permissive of frameworks and platforms being opinionated about production deployment configuration.

For example, our historic

[2018-03-22 17:22] emilypi commented on #3442
Thanks for the rundown @bhauer. I'm glad there's been discussion surrounding this, and I think option 3 is certainly a good compromise. As you said, some frameworks will necessarily require slight variance due to their bias, and defining a set of high impact items that should be standard across tests would certainly solve the problem.

 I recognize to some degree that people maintaining these proj

[2018-03-22 19:54] fafhrd91 opened #3446 "Single transaction for all updates?"
i dont really know Go, but this looks like on transaction for all update queries?

https://github.com/TechEmpower/FrameworkBenchmarks/blob/master/frameworks/Go/fasthttp/src/server-postgresql/server.go#L114

also h2o seems uses one update query

https://github.com/TechEmpower/FrameworkBenchmarks/blob/master/frameworks/C/h2o/src/database.h#L43

so my question are this cases allowed?

[2018-03-22 20:48] nbrady-techempower commented on #3446
Yes, there was a thread about this recently in the issues. We were allowing batch updates, but not batch updates with transactions. We do allow that now. See #9 and #10 here http://frameworkbenchmarks.readthedocs.io/en/latest/Project-Information/Framework-Tests/#database-updates

[2018-03-22 20:48] #3446 closed

[2018-03-22 20:54] fafhrd91 commented on #3446
thanks

[2018-03-25 15:08] boazsegev commented on #3296
I hope this is the right place to post this and you might already be aware of this, but starting `vagrant` from the `docker` branch fails to mount the `FrameworkBenchmarks` folder or install the `tbf` utility.

(is this a `.gitignore` related issue?)

The `vagrant up` call details these errors:

[code]

An attempt to use the utility anyway results in this:

[code]

[2018-03-26 14:32] nbrady-techempower commented on #3296
@boazsegev

not really sure how this line ` default: /tmp/vagrant-shell: line 30: cd: /home/ubuntu/FrameworkBenchmarks: No such file or directory` ever happens with the current set up. I've just gone through the process again and it all worked fine for me. Would you mind destroying that, making sure you have the latest from the docker branch, and trying again. If you get the same results, would yo

[2018-03-27 01:35] boazsegev commented on #3296
@nbrady-techempower

Solved... I tried rebuilding a number of times to no avail, but than I remembered I have this habit of avoiding updates (I test on older Linux boxes to make sure my code runs on older machines). I updated the Linux box, rebuilt and viola.

Sorry for the false alarm.

B.

[2018-03-27 14:09] zloster commented on #3446
@fafhrd91 Most of the details are here: https://github.com/TechEmpower/FrameworkBenchmarks/issues/3254

[2018-03-30 11:05] eechen opened #3478 "I think the config "pm.max_children = 1024" would affect the correctness of the PHP's related test results."
If the test server's CPU has 40 cores,
I think the "max_children" should adjust to 40 or 60.

In other words, the number of PHP-FPM processes ,
should be one and a half times as more as CPU cores.

Because it can reduce CPU context switch significantly in TechEmpower's tests.
Just like Go's "runtime.GOMAXPROCS(runtime.NumCPU())".

pm = static (TechEmpower's test use "dynamic")
pm.max_children = 60

[2018-04-01 11:27] joanhey commented on #3478
Hi @eechen
I changed the pm.max_children in #3291 where the changes are explained.

In this case was exactly because PHP-FPM was sending this error:
`WARNING: [pool www] seems busy (you may need to increase pm.start_servers, or pm.min/max_spare_servers)...`

It's only in the plain text benchmark where the max concurrency is 16,384.
But for the other tests, the benchmark changed the concurrency fro

[2018-04-04 04:38] trentramseyer opened #3490 "Phalcon PHP Benchmark (Non Micro)"
This line causes slow response on benchmarks, leave it out until fixed.
$this->response->setStatusCode(200, "OK");

[2018-04-05 14:46] msmith-techempower commented on #3296
Closing as #3492 addresses basically everything on the list. We will hodgepodge fixes for the remaining items as we go.

[2018-04-05 14:46] #3296 closed

[2018-04-06 06:49] eechen commented on #3478
In PHP's tests, the interprocess communication of Nginx and PHP-FPM consumes significant CPU.
You can look this test, PHP runs with Swoole(PECL), without Nginx, is faster than Go's HTTP server.
[](url)https://github.com/swoole/swoole-src/issues/1401
Because Swoole this PECL has a built-in HTTP server like Node.js.

[2018-04-06 07:57] eechen commented on #3478
I also do the test JSON serialization on my laptop (Ubuntu 14.04 with i5-3230M).
[code]
The ApacheBench test result:
[code]
TechEmpower's environment CPU has 40 cores.
Swoole use 4 cores to get 60k RPS.
I think Swoole can get 600k RPS with 40 cores.

[2018-04-06 21:26] discostu105 opened #3504 "aspnetcore: setup-plaintext.sh: line 2: $'\r': command not found"
### OS (Please include kernel version)
Windows 10 1709 + Docker for Windows

### Expected Behavior
Test run finishes without errors

### Actual Behavior
Test run aborts with errors

### Steps to reproduce behavior
[code]

### Other details and logs
I tried to run tests with docker (on Docker for Windows). It worked fine with the `gemini` test, but when I run `aspnetcore` I consistently get this er

[2018-04-06 21:29] msmith-techempower commented on #3504
This is likely due to creating the file on Windows which will use `crlf` for line endings when linux systems are expecting just `lf`.

Try setting the line endings to just `lf` and retest please.

[2018-04-06 21:31] discostu105 commented on #3504
I just tried that for `setup-plaintext.sh` and `run-linux.sh` and it worked. I guess this needs to be fixed in all `.sh` files? Wondering how this works for others?

[2018-04-06 21:32] msmith-techempower commented on #3504
Are you running this from `cmd.exe`?

[2018-04-06 21:35] msmith-techempower commented on #3504
Oh, I bet it has to do with git's setting for [crlf](https://help.github.com/articles/dealing-with-line-endings/)

I have set `git config --global core.autocrlf true` in the past, so when I clone the repository I get `lf` endings. If you have **not** set this, then you will clone and convert to `crlf` and when you commit, it stores them as `lf` in our repo.

Can you try setting `autocrlf` to true,

[2018-04-06 21:45] discostu105 commented on #3504
Yes, I'm using `cmd.exe`

Setting `autocrlf` to `true` does not do the trick. It needs to be set to `false`!

So, after running `git config --global core.autocrlf true` and cloning the repo again, it works fine! Thanks for your help. I guess this could be worth mentioning as caveat for Docker for Windows people :).

[2018-04-06 21:46] msmith-techempower commented on #3504
That's a good point; I'll update the docs right now.

[2018-04-06 21:52] discostu105 commented on #3504
aspnetcore tests now ran through, but 100% 500 reponses :(. But I guess that deserves another issue :)

[2018-04-06 22:02] msmith-techempower commented on #3504
For context, I am able to clone the repo with `autocrlf` set to `input` and run `aspnetcore` locally in `cmd.exe`.

[2018-04-06 22:43] discostu105 commented on #3504
Ok. I just don't know how to find out more about the 500 errors. What info do you need?

This is the end of the console output:
[code]

[2018-04-06 23:00] msmith-techempower commented on #3504
That looks broken to me. I ran this locally and it benchmarked fine.

Try this:

`tfb --mode debug --test aspnetcore`
This will put you into debug mode against which you can run tests.

First try to curl a url:
`docker run --network=tfb techempower/tfb.wrk curl http://tfb-server:8080/plaintext`

If that doesn't work, hopefully it would give you some sort of evidence as to why.

[2018-04-06 23:13] discostu105 commented on #3504
[code]

[2018-04-07 19:41] Tenchumaru opened #3514 "Re-enable non-Docker deployments"
Since commit 6fce84a, WIP: Dockerify everything (#3457), it appears Docker is now required. There was discussion about its benefits and drawbacks in issue #2943 last year, but no discussion about why there was a final decision to make it the only deployment model. I don't see anything about this on the [Toolset Enhancement Roadmap](/TechEmpower/FrameworkBenchmarks/projects/1). I have an interest i

[2018-04-07 20:27] RX14 commented on #3514
You can't reasonably maintain both docker and non-docker deployments. It's one or the other.

What exact problems do you have with using docker?

[2018-04-07 21:16] Tenchumaru commented on #3514
My exact problems with Docker are (1) it is now required and (2) there is insufficient documentation.

As for (1), as I said above, I don't need it and I'd rather not use it; it's another dependency to install. Its affect on the performance of these benchmarks is perhaps immaterial if it affects all tests equally. It's unfortunate that maintaining both isn't reasonable. I found no documentation in

[2018-04-07 21:51] RX14 commented on #3514
Yeah, the second part is very unfortunate, however it should be easier than before, once the new setup is documented. You'll have to wait for the techempower guys for docs though :(

[2018-04-08 02:01] nbrady-techempower commented on #3514
@Tenchumaru we'll be happy to walk you through a 3 machine setup with docker. Pinging @msmith-techempower since he just did it recently.

We've had discussions both publicly and internally about moving completely to docker. See discussions here and our [blog](https://www.techempower.com/blog/) We're doing a thorough review of the docs, which will be updated soon.

For any single machine dev work,

[2018-04-09 14:54] msmith-techempower commented on #3504
Could you copy all the output from the test and upload it as a gist for review? I'll take a look.

`tfb --test aspnetcore > test.log` (or however you redirect stdout on windows)

[2018-04-09 19:40] discostu105 commented on #3504
Sure. Here you go.
I ran:
[code]
Here is `test.log` as well as the results directory: https://www.dropbox.com/sh/vi4om6rciz9hg2b/AACJjhPRfCZt0xNdRJkCOoOna?dl=0

[2018-04-09 19:58] msmith-techempower commented on #3504
I am able to reproduce the 'all 5xxs' bug and am investigating locally, and will post back with anything I find.

[2018-04-09 20:04] msmith-techempower commented on #3504
I think this is a bug. Opening a PR.

[2018-04-09 20:34] msmith-techempower commented on #3504
I have opened #3522 to address this issue.

I was able to replicate the 5xxs bug on my local, and this has resolved it (as well as some other issues we were experiencing with benchmarking on Citrine like `api_hour` - ping @michaelhixson)

[2018-04-09 20:40] msmith-techempower commented on #3504
@discostu105 You can test this out immediately, if you want. I have published the updated `techempower/tfb.wrk` image and you can try benchmarking `aspnetcore` immediately to validate my fix. Just pull latest and it should work in the toolset automatically `docker pull techempower/tfb.wrk`

[2018-04-09 21:03] discostu105 commented on #3504
@msmith-techempower just tried and it works! Great, thanks for quick help! :)

[2018-04-09 21:03] #3504 closed

[2018-04-09 21:07] msmith-techempower commented on #3504
@discostu105 No, thank you. This was a legitimate bug that may have had implications reaching far and wide, and it is very likely it would have taken us a long time to find it without your help.

[2018-04-10 18:55] jongalloway opened #3527 "Use .gitattributes instead of requiring autocrlf=false"
Per #3504, it's necessary to specify `git config --global core.autocrlf false` on Windows. This is a global setting that's the opposite of GitHub's recommendations.

It would be better to use `.gitattributes` to set this per-repo, as per these docs: https://help.github.com/articles/dealing-with-line-endings/#per-repository-settings

This would then work out of the box on all operating systems with

[2018-04-10 18:58] msmith-techempower commented on #3527
[Added](https://github.com/TechEmpower/FrameworkBenchmarks/pull/3526/commits/3924aab6a21cf7c9ac411e2fc2be7d26e847abd5)

I will update the documentation to no longer state that requirement.

[2018-04-10 19:00] #3527 closed

[2018-04-10 20:25] Wulfklaue commented on #3478
@eechen

The issue with PHP is that it bootstraps all the content on each request.

For instance, let say you want to use a popular framework. It bootstraps all the configurations files, the autoloader, dependancy injection scripts, whatever else. Does it tasks. Returns the output and ... then **dumps** all that work to redo it on the next cycle. The advance is safety because no data from one requ

[2018-04-11 08:16] tmds opened #3538 "physical plaintext network bottleneck?"
The benchmarks show best performing plaintext on physical to be at 2.7M rps.
The requests have about 400B (TCP content only). So 2.7M rps is about 8.6Gbps.
This seems close to the 10Gbps of the ethernet switch.
Perhaps the physical benchmark is constrained by the network bandwith?

[2018-04-11 14:48] msmith-techempower commented on #3538
This is possible.

For what it's worth, our new hardware environment has a switch with 6x QSFP-100G ports if you were looking to donate three network cards and a few cables 😅

[2018-04-11 15:27] tmds commented on #3538
lol. If you have some spare 10G cards, maybe you can bond them.

The cloud benchmark for plaintext has tokio-minihttp at 64.5% of ulib. These two are at the top of the physical benchmark (100% and 97.8%). I'm curious how much the graph would rescale.

We'll see when you find a sponsor :)

[2018-04-11 15:29] msmith-techempower commented on #3538
The 10G cards in the servers we have are double-NIC, but I don't know enough about the hardware to be certain that bonding both NICs on the same card would be an improvement.

Agreed, though I have learned over the years that nothing really beats C in terms of performance when written well. That said, I personally want Rust to compete.

I'm out there looking!

[2018-04-11 15:34] msmith-techempower commented on #3514
We did some internal benchmarking against a few select high performers to see the 'cost' of using Docker with `--network=host` versus running the application natively, as previous iterations of the toolset did, and we found deltas in performance that are ostensibly zero (there is always noise in the benchmarks of usually <1% and we saw similar numbers using Docker). So, after internal discussions

[2018-04-11 15:34] #3514 closed

[2018-04-11 15:35] msmith-techempower commented on #3490
@nbrady-techempower You're working on these right now.

[2018-04-11 15:38] msmith-techempower commented on #3188
This is no longer relevant to the toolset now that we are leveraging Docker.

[2018-04-11 15:38] #3188 closed

[2018-04-11 15:39] msmith-techempower commented on #2943
I'm going to consider this issue closed since everything is in a Docker container now.

[2018-04-11 15:39] #2943 closed

[2018-04-11 15:40] msmith-techempower commented on #2411
No longer relevant as `fw_depends` has been removed in favor of Docker implementations.

[2018-04-11 15:40] #2411 closed

[2018-04-11 18:16] RX14 commented on #3538
@msmith-techempower link aggregation is definitely something you should look into for getting 20gbps between servers instead of just 10.

[2018-04-11 20:36] nbrady-techempower commented on #3490
Resolved in #3535

[2018-04-11 20:36] #3490 closed

[2018-04-13 13:36] Wulfklaue commented on #3478
At this point your only testing C calls... That test is flawed for several reasons.

Nobody has ever said that pure PHP functions are slow because PHP technically is nothing but a bunch of C libraries ( gross overstatement ). The issue becomes when each request needs to go over a webserver like Nginx and this constant bootstrapping. I can show you code where i did the same tests with Go, PHP, Swoo

[2018-04-14 05:05] eechen commented on #3478
@Wulfklaue
The PHP built-in HTTP server is designed for development surely,
because it only has one process, can not use multi CPU cores.
But it is a HTTP server undoubtedly.

In TechEmpower's JSON serialization test,
PHP only has 40k RPS with 40 CPU cores,  that is only 1k/core RPS.
Compare with my test's 60/4=15k/core RPS, the difference is very very big.
[code]

[2018-04-14 05:08] eechen commented on #3478
@Wulfklaue
The PHP built-in HTTP server is designed for development surely,
because it only has one process, can not use multi CPU cores.
But it is a HTTP server undoubtedly.

In TechEmpower's JSON serialization test,
PHP only has 40k RPS with 40 CPU cores, that is only 1k/core RPS.
Compare with my test's 12k/core RPS, the difference is very very big, but why?
[code]

[2018-04-14 05:08] eechen commented on #3478
@Wulfklaue
The PHP built-in HTTP server is designed for development surely,
because it only has one process, can not use multi CPU cores.
But it is a HTTP server undoubtedly.

In TechEmpower's JSON serialization test,
PHP only has 40k RPS with 40 CPU cores, that is only 1k/core RPS.
Compare with my test's 12k/core RPS, the difference is so big, but why?
[code]

[2018-04-14 10:48] Wulfklaue commented on #3478
As stated a several times, its the nature of the beast. And so many different factors can contribute to the lower response on TechEmpowered.

Hardware:

Your CPU core are newer with a higher base speed so it can push more instructions per core.  The 40 (  40 + 40 HT ) Core server they use is a multi socket system and multi socket also introduces latency with inner communication. Add to this server

[2018-04-14 15:26] eechen commented on #3478
@Wulfklaue
I do the test JSON serialization the same machine and system (my laptop) for Node.js.
[code]
The Node.js RPS only less than 10k/core, slower than PHP's built-in HTTP server.
In TechEmpower's test for Node.js, RPS is 400k/40cores, about 10k/core.
It's close to my test result.

[2018-04-14 15:29] eechen commented on #3478
@Wulfklaue
I do the test JSON serialization with the same machine and system (my laptop) for Node.js.
[code]
The Node.js RPS only less than 10k/core, slower than PHP's built-in HTTP server.
In TechEmpower's test for Node.js, RPS is 400k/40cores, about 10k/core.
It's close to my test result.
But why the difference of PHP's test result is so big?

[2018-04-14 15:47] Wulfklaue commented on #3478
In just about any benchmark with PHP vs Node.js wins thanks to its coroutines. Swoole also uses this... result = Swoole kicks raw PHP its behind.

[2018-04-14 18:15] Tenchumaru commented on #3514
Thank you, both of you, for your thoughtful and complete responses. I haven't been a fan of Docker because I've never used it and I've heard enough horror stories about it. Nonetheless, based on your reasoning, I believe it works very well for your situation. (I completely missed mention of Docker in your blog because I was scanning the titles on the right and didn't see that you discussed it in t

[2018-04-15 13:29] joanhey commented on #3478
You're both right.

@eechen
The php stack configuration isn't correct in the last rounds.
I send this issue: Verify the PHP results #2717 after round 14.
And these 2 PR: PHP twice as fast #3265 and Update and reconfigure PHP stack #3291.
But in round 15 those changes are not included yet.

@Wulfklaue
Yes, php is different, have advantages and disadvantages.
And for performance, bootstrap for every

[2018-04-15 17:07] joanhey commented on #3478
@eechen
### PHP stack config
I'm working now in the php stack configuration with the new docker benchmark. I hope the next week will be ready.
If the results aren't similar to the round 12, I will check all the changes from round 12 to 13.

But perhaps is a regression in the Nginx fastcgi module. It's for that than I want to see more php stacks, from apache, h20, ... to swoole.
First we will know

[2018-04-15 19:10] nbrady-techempower commented on #3478
@joanhey Thanks for that detailed write up.

@eechen @Wulfklaue We don't mind nor discourage discussions like this. A better place for it might be the [google group](https://groups.google.com/forum/#!forum/framework-benchmarks) as we want to try and use the issues tracker for actual issues. Thanks everyone.

[2018-04-15 19:10] #3478 closed

[2018-04-17 01:06] sebastienros opened #3584 "Actix images take a long time to build"
Is there a way that an intermediate image would be built for Actix, right now it's rebuilding the full stack every time a test is ran, which takes around 5 minutes.

[code]

[2018-04-17 01:10] sebastienros commented on #3538
I can see 9M RPS with the latest runs on Citrine ... how is that possible then?

[2018-04-17 04:16] tmds commented on #3538
Indeed. Citrine must have more than 10G then.

[2018-04-17 08:39] joanhey opened #3587 "Add a link to the github id"
In the continuous benchmarking https://tfb-status.techempower.com/

### Expected Behavior
 Citrine
Run ID: 3f5e1eca-f530-403c-ab0a-39769ff7c8da

https://github.com/TechEmpower/FrameworkBenchmarks/tree/f2f177b4061660a7b580cfc720e1e38f661cf0b3/
### Actual Behavior
 Citrine
Run ID: 3f5e1eca-f530-403c-ab0a-39769ff7c8da

TFB git commit ID
    f2f177b4061660a7b580cfc720e1e38f661cf0b3
TFB git repository

[2018-04-17 09:07] tmds commented on #3538
I'm looking a bit at these daily results (https://tfb-status.techempower.com/). The variation across runs is huge.

plaintext:

Date  | Netty             | aspnetcore
------|-------------------|-----------------
16/04 | 5.5 Mrps (35.7ms) | 3.0 Mrps (156ms)
10/04 | 3.4 Mrps (2500ms) | 2.7 Mrps (150ms)
21/03 | 5.7 Mrps (35.7ms) | 2.4 Mrps (51.1ms)

[2018-04-17 14:48] msmith-techempower commented on #3538
Correct my maths if they are wrong, but using Octane's numbers from the first good Citrine run:

[code]

This seems to make sense on the 10Gb.

[2018-04-17 14:54] tmds commented on #3538
@msmith-techempower the match is good for the response.
For the request there are about 400 bytes:
[code]

Maybe this one is stuck at 40G then :smile:

[2018-04-17 15:08] msmith-techempower commented on #3538
Is that an actual request sent via `wrk`?

[2018-04-17 15:10] sebastienros commented on #3538
The request is much smaller than that on plaintext when we use work.

[2018-04-17 15:12] tmds commented on #3538
You can send that via wrk. I copied the request from https://www.techempower.com/benchmarks/#section=code

[2018-04-17 15:15] msmith-techempower commented on #3538
I think that is a simple example request for testing, but not actually representative of what `wrk` does. I am sorry for the confusion, but that documentation was written long before we even started using `wrk` (we were using some benchmarker from `apache` at one point... I don't even remember... it was like 7 years ago, even before we moved into the open source space).

That said, with 10Gb ether

[2018-04-17 15:25] msmith-techempower commented on #3538
`plaintext` is using pipelining.

[2018-04-17 15:26] sebastienros commented on #3538
Yes I know ;) hence the comment

[2018-04-17 15:27] tmds commented on #3538
My math assumed 400B responses when creating this issue.
So round15 didn't hit 10G. And daily on Citrine may be hitting it?

It would be nice to update https://www.techempower.com/benchmarks/#section=code to reflect the headers/sizes used by wrk.

[2018-04-17 15:29] msmith-techempower commented on #3538
Understood, may not be accurate. I will check.

Completely agree.

Part 1 is definitely true and part 2 is likely for a few extremely high-performance test implementations.

[2018-04-17 15:43] nbrady-techempower commented on #3584
If you have the latest from master, we are now utilizing the cache instead of removing the test image after the test completes. It shouldn't be rebuilding the second time.

[2018-04-17 16:05] msmith-techempower commented on #3315
Maybe also investigate the low latency kernel.

[2018-04-17 16:06] #3314 closed

[2018-04-17 16:26] nbrady-techempower commented on #3587
I've opened a PR to address this https://github.com/TechEmpower/tfb-status/pull/3

[2018-04-17 16:57] joanhey commented on #3587
Nate I asked a link to the tree in that point.
Not to the last commit.
From one round to another there may be 50 commits.

Tree:
https://github.com/TechEmpower/FrameworkBenchmarks/tree/id

Last commit:
https://github.com/TechEmpower/FrameworkBenchmarks/commit/id

[2018-04-17 17:15] nbrady-techempower commented on #3587
That makes sense, all set.

[2018-04-17 17:17] nbrady-techempower commented on #3587
I'll close this issue here, if you have any other requests feel free to open an issue on https://github.com/TechEmpower/tfb-status

[2018-04-17 17:17] #3587 closed

[2018-04-19 18:16] nbrady-techempower commented on #1050
A git clone with depth of 1 is now only ~6mb, so we've made huge strides here. servicestack and onion are no longer an issue. As far as historical binaries go, I'm not overly concerned and it would take a lot to properly clean this and still preserve the state of previous runs. I think we can close this now.

[2018-04-19 18:16] #1050 closed

[2018-04-27 16:21] msmith-techempower opened #3660 "Document travis_diff.py better"
Comments **must** include examples of how to call each one.

[2018-04-29 05:12] emilypi opened #3671 "Should These Tests Be Stripped?"
The functionality in question is in regards to several Scala framework tests:

-  [this line](https://github.com/TechEmpower/FrameworkBenchmarks/blob/master/frameworks/Scala/akka-http/src/main/resources/application.conf#L21) in the [akka-http](https://github.com/TechEmpower/FrameworkBenchmarks/tree/master/frameworks/Scala/akka-http), uses highly nonstandard jdbc options to tune for a specific kind

[2018-04-30 23:39] michaelhixson commented on #3671
This doesn't match my intuition of what "Stripped" test implementations are.  To me, an important quality of Stripped is that it's the opposite of Realistic.  A Stripped implementation does things for the sake of performance that no one would ever do in a real application.  A Realistic implementation might also do tuning, but it's the same sort of tuning you'd do in a real application.

Tuning exc

[2018-04-30 23:52] kelunik opened #3677 "Split PHP on Travis"
The PHP sub-build currently takes very long. Java is already split, I guess a similar split is necessary for PHP. It takes ~30 minutes currently.

[2018-04-30 23:55] nbrady-techempower commented on #3677
We're ok with this. We've been grouping tests purposely. We get 10 concurrent builds on travis and it helps full runs move faster. By grouping tests we're also able to take advantage of the docker cache.

[2018-04-30 23:56] #3677 closed

[2018-04-30 23:57] kelunik commented on #3677
I'm aware, but after all tests are done but the PHP one, the PHP one still takes 25 minutes or so.

[2018-04-30 23:58] nbrady-techempower commented on #3677
We are aware of this and are ok with that. Travis builds timeout at 45 mins. As long as our grouped tests are under 45 mins, we are fine with it. If you only edit 1 framework within that group, only that 1 framework will run even if it's in a group. Thanks!

[2018-05-01 00:09] nbrady-techempower commented on #3677
In your case with php/amp, we use a git diffing tool to determine which tests need to be run. Because your branch wasnt up to date with master, it thought all the php tests needed to be run:

[code]

You can also add this in your commit message to make sure only PHP/amp runs: `[ci fw-only PHP/amp]` That will make sure, no matter what changes are detected, that only amp runs in the PHP grouping for

[2018-05-01 00:11] kelunik commented on #3677
I did a fresh clone, strange that it detected those then.

Thanks for the info!

[2018-05-01 19:08] emilypi commented on #3671
Thanks for explaining @michaelhixson

Mostly I just want to see where the bar is for what's considered strippable offenses. You definitely answered the question 😄

[2018-05-02 12:47] joanhey opened #3682 "Vagrant docker permissions"
The first time work correctly.

After stop vagrant `vagrant halt` and start later `vagrant up` and execute `tfb` show:
`Got permission denied while trying to connect to the Docker daemon socket at unix:///var/run/docker.sock`

If you execute `sudo usermod -aG docker ${USER}`  the first time, the permissions problem disappear.
Only add the user `vagrant` or better `${USER}` to the docker group.

[2018-05-02 16:34] msmith-techempower opened #3684 "Give tests a finite time limit"
In the latest run on Citrine, `Revenj` took 29 hours to build and would never (presumably) finish, which blocked the rest of the benchmarks.

Add in some sanity checks for build-time of tests and kill them if they take more than... what... an hour? I know that in the past `wt` used to take 50+ minutes to build. Is this still true?

[2018-05-02 16:35] bhauer commented on #3684
An hour sounds good and generous.

[2018-05-02 22:56] nbrady-techempower commented on #3684
I agree that an hour sounds good. If it goes over an hour it won't pass travis anyway, so we'll hold the PR up to make sure it can be fixed. If it goes over an hour in citrine it probably means that it hung somewhere and should be killed anyway.

[2018-05-02 22:56] nbrady-techempower commented on #3682
Thanks @joanhey. I'll take care of this tomorrow.

[2018-05-02 22:57] nbrady-techempower commented on #3584
This can probably be closed now? Lmk if any further issues.

[2018-05-02 22:57] #3584 closed

[2018-05-03 00:07] sebastienros commented on #3584
I am not using your scripts, just the image directly (from our own scripts), but that's fine, I can probably also cache them on my side instead of cleaning them every time ... Thanks

[2018-05-03 17:31] nbrady-techempower commented on #3660
Also updated here: https://github.com/TechEmpower/TFB-Documentation/pull/75

[2018-05-03 17:38] #3660 closed

[2018-05-03 19:22] kelunik opened #3693 "Filter functionality broken for continuous results"
When I visualize results from https://tfb-status.techempower.com/ via the link, the filter functionality does simply nothing when applying the filter. It works fine with the rounds when I'm not importing data from `tfb-status`.

[2018-05-03 19:35] #3682 closed

[2018-05-03 22:46] #3671 closed

[2018-05-08 21:59] michaelhixson commented on #3693
The fix was deployed.  This issue should be fixed, and so should the issue where it was "forgetting" the runid in the URL when you clicked between test types.  Now if you visualize results from tfb-status, then you click on a new test type and/or apply filters, the URL should retain everything necessary such that refreshing the page or sharing the URL works as expected.

[2018-05-08 21:59] #3693 closed

[2018-05-08 22:12] kelunik commented on #3693
Fix confirmed. :tada:

[2018-05-11 22:57] DamianEdwards commented on #3538
I think the math is off, as networking bandwidth is measured as base 1000 for Kbs -> Mbps -> Gbps, unlike storage which is 1024.

So the theoretical max for plaintext on the network layer is limited by two factors: packets per second, and total bandwidth. Given the responses are pipelined at a depth of 16, the most optimal packet size would be `16 x 126 = 2016 bytes` (not accounting for any overhe

[2018-05-11 23:41] bhauer commented on #3538
@msmith-techempower would be able to elaborate some, but earlier continuous Citrine runs were improperly reporting even higher measured responses per second—above 9 million in the cases of the top performers.

I say these measurements were "improper" because they were collected without the request headers we expect to be sent by the load generator (wrk).  This was due to a bug we had introduced du

[2018-05-11 23:53] MatheusRV opened #3726 "How create a compiling time benchmarking?"
As I start at https://github.com/netlify/staticgen/issues/371 talking about static site generator compiling time, I'm using this Framework to create a Fork https://github.com/MatheusRV/StaticSiteGeneratorBenchmarks, but I need mensure diferente build time on diferente frameworks on many programaing languages. But i dont know here start, could some one help? I look at toolset/beanchmark/test_types.

[2018-05-12 10:57] MatheusRV opened #3728 "WSL Error calling canonicalize_path"
Is this able to run on WSL?

### OS (Please include kernel version)
Windows Linux Subsystem (Ubuntu 16.04.4 LTS | Linux DESKTOP-TKI46T0 4.4.0-43-Microsoft #1-Microsoft Wed Dec 31 14:42:53 PST 2014 x86_64 x86_64 x86_64 GNU/Linux | Linux version 4.4.0-43-Microsoft (Microsoft@Microsoft.com) (gcc version 5.4.0 (GCC) ) #1-Microsoft Wed Dec 31 14:42:53 PST 2014)

### Expected Behavior
TFB Run

### Actua

[2018-05-12 17:58] programingjd commented on #3728
I had the same error.
I replaced the shebang to use #!/usr/bin/env bash instead of #!/bin/sh and it resolved the issue.

[2018-05-16 16:11] MatheusRV commented on #3728
Tks this works well

[2018-05-16 16:11] #3728 closed

[2018-05-16 16:12] MatheusRV commented on #3726
Could some one give me the idea how to implement a compiling time benchmarking over TFB?

[2018-05-16 19:59] DamianEdwards commented on #3538
I believe the request headers for plaintext are currently the following: https://github.com/TechEmpower/FrameworkBenchmarks/blob/e99d22fdd6cf10354e6dd6d4422c64dfd5f28cc2/toolset/benchmark/test_types/plaintext_type.py#L72

That would make the full request the following:
[code]
With the terminating `CRLF CRLF` that's a total of 167 bytes per request. The math for the request side then looks like: `1

[2018-05-16 20:01] nbrady-techempower commented on #3726
It sounds like you're trying to compare the build times for static site generators across multiple languages? Though we provide some simple time logging output for the dockerfile builds, this isn't the focus of these benchmarks. Good luck with your project!

[2018-05-16 20:01] #3726 closed

[2018-05-16 20:04] msmith-techempower commented on #3538
Agreed on the correct maths. It actually pointed me in the direction of fixing a bug I introduced into our `wrk` image that we resolved some time ago.

[2018-05-16 20:46] faustinoaq commented on #2960
![screenshot_20180516_154258](https://user-images.githubusercontent.com/3067335/40142990-d01edd44-591f-11e8-9463-4d7fae85f6b8.png)

Oh, yeah! Now looks like Amber is as fast as crystal on TFB :tada: :smile:

Ref: [Results](https://www.techempower.com/benchmarks/#section=test&runid=61ff99e2-2392-4d7a-b6af-a5f081c5e004&hw=ph&test=plaintext)

Ref: [Citrine Build](https://tfb-status.techempower.com/re

[2018-05-17 02:59] DamianEdwards commented on #3538
As an aside, it seems possible we're also starting to hit limits in the JSON test too, although in that case it seems aligned with the packet switching limit.

[2018-05-17 15:28] bhauer commented on #3538
@DamianEdwards The math looks solid and conforms with the observed convergence we're seeing in continuous runs. In this [recent example continuous run](https://www.techempower.com/benchmarks/#section=test&runid=61ff99e2-2392-4d7a-b6af-a5f081c5e004&hw=ph&test=plaintext), we see a plaintext convergence at just over 7M.  I suspect the theoretical limit is slightly higher than reality since additional

[2018-05-17 15:30] DamianEdwards commented on #3538
Sounds good. 100G fiber here we come 😁

[2018-05-17 18:42] bhauer commented on #2579
@mwpastore I recently [changed](https://twitter.com/BrianHauerTSO/status/997182287622979584) the wording of clause 10 to remove the constraints on transactions. This makes it more permissive, which I think is the right thing considering we've already conceded that use of batch updates is acceptable.

Let me know if you think that helps clarify and address the confusing wording or if it just makes

[2018-05-17 19:42] benaadams commented on #3538
Might have issues currently with the benchmarker becoming the bottleneck; rather than the webservers above 10GbE https://github.com/wg/wrk/issues/337

[2018-05-17 21:03] xoofx commented on #3538
Hey, just wondering why on a such small packet you don't count the IP+TCP overhead of at least 40 bytes,  for the small packets in these tests, the overhead is quite significant, no? (and I'm not counting 18 bytes ethernet header + even a micro latency with TCP windows size + all the small percentage of ACKs/packets loss...etc.)

[2018-05-17 21:07] onyxmaster commented on #3538
One of the popular switch models I know that has 6xQSFP28 ports (the Nexus 31108PC/TC-V) should really be used in the non-default hardware profile mode when it has only 4xQSFP28 and 2xQSFP+. Maybe the other switches based on the same merchant silicon have these different modes too.

[2018-05-17 21:14] bhauer commented on #3538
@onyxmaster Thanks for the alert on that. That is the switch model we're using, so we will need to be mindful of the configuration.

[2018-05-17 21:40] benaadams commented on #3538
Plaintext is pipelined so may result in only 2 packets for 16 requests and 2 packets for 16 responses

[2018-05-17 21:46] DamianEdwards commented on #3538
Yeah the math was just meant to be HTTP only theoretical max, to see if we're in the ballpark, and it's clear we are. Would be interesting to include overheads to see just how close to network theoretical limit we are too.

We're also working to help update the test infrastructure to capture CPU, TX/RX, & packet rate during every run, and include that data in the results.

[2018-05-17 22:41] sebastienros opened #3750 "Framework overhead not showing up for aspcore"
What did we do wrong? We provided a Platform benchmark on Plaintext, and the metadata "I thought was necessary", just need to understand my mistake ...

[2018-05-17 22:43] sebastienros commented on #3750
Apparently I should also have provided the `versus` property :/

[2018-05-17 23:11] #3750 closed

[2018-05-18 04:08] benaadams opened #3754 "Average latency displayed not Best's latency"
### Expected Behavior

Average latency on the Latency section matches the latency for the result shown under "Best performance"

### Actual Behavior

Average latency on the Latency section always matches the latency for the 16,384 connection result.

### Steps to reproduce behavior

Compare the latency in results.2018-05-14-23-53-34-327.json to the version shown on website https://www.techempower.

[2018-05-21 08:33] jtheisen opened #3769 "Odd results regarding Node vs ASP.NET Core in Round 15"
I'm struggling to understand those results from Round 15: It appears that Node is much faster on Dells and ASP.NET Core is much faster on Azure, but why should that be the case?

![image](https://user-images.githubusercontent.com/1516294/40297937-c12e8b84-5ce1-11e8-9e0d-3e1c3da0859a.png)

What's going on here?

[2018-05-21 17:45] sebastienros commented on #3769
I am part of the ASP.NET team and will try to explain our understanding, and how we fixed it.

The way we saw it when Round 15 was out is that ASP.NET did not scale with the number of cores. So ASP.NET would not look competitive on higher numbers of cores. From this point we started to work on understanding why and found some locking contention in our database drivers. It happens that most benchma

[2018-05-21 17:49] msmith-techempower commented on #3769
I think this answers the questions sufficiently; closing.

[2018-05-21 17:49] #3769 closed

[2018-05-23 08:54] jtheisen commented on #3769
@sebastienros Can you also drop a note on what's the situation on Sql Server?

[2018-05-23 17:10] michaelhixson opened #3772 "Clarify that pipelining to the database is allowed"
We decided to allow pipelining between the application and database like vertx-postgres is currently doing.  We should specifically call this out as allowed in the requirements.  The current requirements kind of imply that pipelining would be disallowed.

In particular, I suggest that we change General Requirement 7, which currently reads:

And although this kind of pipelining may be used in all d

[2018-05-23 17:14] michaelhixson opened #3773 "Cached queries: number of queries not being set"
We got a report on our google group that cached queries test isn't passing along the number of queries correctly:

https://groups.google.com/d/msg/framework-benchmarks/A78HrYsz4AQ/Dpd7ZdUwBwAJ

[2018-05-23 17:18] msmith-techempower commented on #3773
I biffed this on the `wrk` image. I'll fix it.

[2018-05-23 17:33] #3773 closed

[2018-05-23 20:51] bhauer commented on #3754
This should be addressed.

[2018-05-23 20:51] #3754 closed

[2018-05-23 21:26] bhauer commented on #2927
Despite my [reservations about rank ordering](https://groups.google.com/d/msg/framework-benchmarks/ZR_os9nQs4M/6XpD98q-AQAJ), I have added this feature to the results web site.  You will see a small, faint rank order to the left of the framework names.

In the conversation linked above, I wrote:

Since I prefer the notion of general performance tiers more than specific rank ordering, I might try o

[2018-05-23 21:26] #2927 closed

[2018-05-24 02:14] rektide opened #3776 "No way to edit wiki"
Hello. I wanted to add a new framework to the suggested items list on the wiki.

Editing however appears disabled. I tried pulling down the wiki repo, [adding the Java Armeria framework there](https://github.com/rektide/techempower-framework-benchmarks-wiki/commit/ae6bc05829ca01f13cf330ccb6c9d5f2e21ce3a0), but I have no permissions to push.

In your issue template, you say,

However this is presen

[2018-05-25 16:19] cjnething commented on #3776
Hi @rektide, sorry about that. It looks like [GitHub doesn't support pull requests to Wikis](https://stackoverflow.com/questions/10642928/how-to-pull-request-a-wiki-page-on-github). I just added it to the Wiki. Thanks for your contribution!

[2018-05-25 16:19] #3776 closed

[2018-05-25 18:12] benaadams opened #3783 "Test type 3: Multiple database queries (doc/action disagreement?)"
However when running the test locally it outputs
[code]
So its running it at 512 concurrency?

[2018-05-25 18:18] sebastienros commented on #3783
When testing aspnetcore on Citrine with 256 connections with count=20 we see 24K instead of 20K.

[2018-05-25 18:37] benaadams commented on #3783
You mean a 512 connections match the actual TE runs; whereas 256 connections (as in docs) is faster?

[2018-05-25 18:41] sebastienros commented on #3783
Yes, thank you for clarifying.

[2018-05-25 19:04] bhauer commented on #3772
I am going to apply these changes momentarily.

[2018-05-25 20:32] bhauer commented on #3772
This is posted.

[2018-05-25 20:32] #3772 closed

[2018-05-25 23:38] benaadams opened #3786 "Add SqlServer on Linux DB?"
Could a SqlServer DB be added?

Based on docker `FROM microsoft/mssql-server-linux:latest`

[2018-05-28 18:58] redknightlois opened #3792 "[Question] License for database"
Hi,

I am writing the RavenDB (https://ravendb.net) driver for TechEmpower running under the #aspdotnet framework. The default installation without a license is restricted to 3 cores + 6 Gb of memory, to unlock the complete use of resources we would need to embed a license key in the process. How do you handle that?

We can give you a license that could be injected into your test cluster as an env

[2018-05-28 23:56] bhauer commented on #3792
Hi @redknightlois.  Thanks for your interest in the project and for offering to help with creating test implementations with a new database platform!

To-date, we have not included any commercial/licensed software in this project, so we do not have an existing model to apply here.  Some quick thoughts:

1. We could likely use the approach you describe—add the license as an environment variable wit

[2018-05-29 05:15] rockotseng opened #3795 "Benchmark config need to be updated since Java Spring Framework is not using full stack ORM anymore"
In branch round 16, Spring is using [JdbcTemplate](https://github.com/TechEmpower/FrameworkBenchmarks/blob/master/frameworks/Java/spring/src/main/java/hello/HelloController.java#L28) instead of [JpaRepository](https://github.com/TechEmpower/FrameworkBenchmarks/tree/round15/frameworks/Java/spring/src/main/java/com/techempower/spring/repository) used in round 15 and before.
In this case, it is not a

[2018-05-29 06:28] ayende commented on #3792
We don't need enterprise license here, mind. The developer license would be just as good, in fact, it is desirable in this regard for several reasons.
First, it is available (for free) for anyone.  The only limit it has it that it cannot be used for production deployments.

In other words, even though we'll require a license, we can make this license available.
The only caveat here is that we'll d